/* ------
Main Styles
------ */
body {
  @extend .align--center;
  color: $gray-medium;
  font-family: $font-family-main;
  font-size: 14px;
  line-height: 1.5;
}

/* Images */
img {
  max-width: 100%;
}

/* ------
Typography
------ */
/* Headings */
h1, h2, h3, h4, h5, h6 {
  @extend .font--bold;
  color: $blue-headings;
  margin-bottom: .75em;
  text-transform: none;
}
h1 {
  color: $white;
  font-size: 2.4em;
  letter-spacing: 0px;
  text-align: center;
  @media (min-width: 480px) {
    font-size: 3.75em;
  }
}
h2 {
  font-size: 2.4em;
  letter-spacing: 0px;
  line-height:44px;
  margin-bottom: .5em;
}
h3 {
  font-size: 1.4em;
  letter-spacing: 0px;
  font-family:$font-family-main;
  font-weight:600;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}

/* Text */
p {
  margin-bottom: 1.5em;
}

.paragraph--bold {
  @extend .font--bold--lowimpact;
}

/* Lists */
ul, ol {
  margin: 0;
  padding: 0;
}

/* Links */
a {
  @extend .transition--link;
  color: inherit;
}

/* ------
Grid
------ */
.container--full {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  > .row {
    margin-left: 0;
    margin-right: 0;
    > [class^="col-"], > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
.col--centered {
  float: none !important;
  margin: 0 auto;
  overflow: visible;
}

/* ------
Breakpoints
------ */
@media screen and (min-width: $bp-sm-min) {

}

// Medium breakpoint
@media screen and (min-width: $bp_md-min) {

}

// Large breakpoint
@media screen and (min-width: $bp_lg-min) {

}
