/* ----
Variables
--- */

// Fonts

@import url("https://cloud.typenetwork.com/projects/2163/fontface.css/");
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=101fa5a3-11ba-453c-b183-c591f1912253");
@font-face{
    font-family:"Helvetica Neue Roman";
    src:url("../../assets/fonts/webfonts/706ec8e5-fe4a-4518-91a6-7aba4d3d333f.eot?#iefix");
    src:url("../../assets/fonts/webfonts/706ec8e5-fe4a-4518-91a6-7aba4d3d333f.eot?#iefix") format("eot"),url("../../assets/fonts/webfonts/dc50c02f-3f77-4e75-b89c-e3f9bb4752e6.woff2") format("woff2"),url("../../assets/fonts/webfonts/ce6f5b38-1cb5-4a27-8182-583aa68b2436.woff") format("woff"),url("../../assets/fonts/webfonts/ff06cde7-e06a-4cf0-af4d-5b2f737bf544.ttf") format("truetype"),url("../../assets/fonts/webfonts/958b12cf-2908-4254-8cb9-9b12c3aa151e.svg#958b12cf-2908-4254-8cb9-9b12c3aa151e") format("svg");
}
@font-face{
    font-family:"Helvetica Roman";
    src:url("../../assets/fonts/webfonts/05598d95-f297-4c7f-a825-ab617e7e045f.eot?#iefix");
    src:url("../../assets/fonts/webfonts/05598d95-f297-4c7f-a825-ab617e7e045f.eot?#iefix") format("eot"),url("../../assets/fonts/webfonts/89294146-207c-4803-91fe-338f0d0094bd.woff2") format("woff2"),url("../../assets/fonts/webfonts/57055fe4-c2d3-4287-bac2-eece43fdcbd3.woff") format("woff"),url("../../assets/fonts/webfonts/2922d55c-8df4-4066-b7b0-eec2d1524330.ttf") format("truetype"),url("../../assets/fonts/webfonts/f8343ddf-e94d-471e-95b0-3b435acc2499.svg#f8343ddf-e94d-471e-95b0-3b435acc2499") format("svg");
}
@font-face{
    font-family:"Helvetica Neue Light Condensed";
    src:url("../../assets/fonts/webfonts/ee259578-3cae-4dd8-a23a-297d352ec2dc.eot?#iefix");
    src:url("../../assets/fonts/webfonts/ee259578-3cae-4dd8-a23a-297d352ec2dc.eot?#iefix") format("eot"),url("../../assets/fonts/webfonts/244ff804-5735-41ed-92a1-ce5438185e9c.woff2") format("woff2"),url("../../assets/fonts/webfonts/9cd26200-0d62-40ef-94b8-46fd1d8b255f.woff") format("woff"),url("../../assets/fonts/webfonts/7b72d33f-8b87-4c48-b397-42d28164d598.ttf") format("truetype"),url("../../assets/fonts/webfonts/07dba647-d830-4ba8-8b84-1e4c9858f3d3.svg#07dba647-d830-4ba8-8b84-1e4c9858f3d3") format("svg");
}
@font-face{
    font-family:"Helvetica Neue Bold Condensed";
    src:url("../../assets/fonts/webfonts/1527aeed-e69d-4399-82e3-7b53d48da7a2.eot?#iefix");
    src:url("../../assets/fonts/webfonts/1527aeed-e69d-4399-82e3-7b53d48da7a2.eot?#iefix") format("eot"),url("../../assets/fonts/webfonts/5f4620bc-98f7-4b13-9f90-3a54ea6a9c55.woff2") format("woff2"),url("../../assets/fonts/webfonts/ac30e84e-cb19-4576-b6f9-491fccbd42ff.woff") format("woff"),url("../../assets/fonts/webfonts/b583b782-0709-4a13-899f-7e9ab1a7eccd.ttf") format("truetype"),url("../../assets/fonts/webfonts/d5dd03f5-3afb-46e9-aad0-234de8607afa.svg#d5dd03f5-3afb-46e9-aad0-234de8607afa") format("svg");
}
@font-face{
    font-family:"NimbusSanNovCon W00 Bold It";
    src:url("../../assets/fonts/webfonts/a5609b13-6945-4a27-af0c-f2c8c90e1306.eot?#iefix");
    src:url("../../assets/fonts/webfonts/a5609b13-6945-4a27-af0c-f2c8c90e1306.eot?#iefix") format("eot"),url("../../assets/fonts/webfonts/b37139ce-ef8b-4127-b3bb-f51beb6ee818.woff2") format("woff2"),url("../../assets/fonts/webfonts/c8cabf51-0d4e-468b-85e2-d065bd7ce17a.woff") format("woff"),url("../../assets/fonts/webfonts/403d73dd-919d-4847-81ed-0ce46869e366.ttf") format("truetype"),url("../../assets/fonts/webfonts/a13d383f-5612-4e05-a4b1-bb690be4277c.svg#a13d383f-5612-4e05-a4b1-bb690be4277c") format("svg");
}

// Layout
$grid-gutter-width: 20px;

// Fonts
$font-family-main: 'Helvetica Neue Roman';
$font-family-bold-cond: 'Helvetica Neue Bold Condensed';
$font-family-light-cond: 'Helvetica Neue Light Condensed';

$font-family-serif: "Miller Disp Rom", serif;
$font-family-serif-italic: "Miller Disp It", serif;

// Colours
$black: #000;
$white: #fff;
$red: #cb2026;
$midgrey: #7f7f7f;
$midgrey2: #7f7f7f;

$gray-light: #ededed;
$gray-medium: #777;
$gray-dark: #888;

.cs_individual{
}
.cs_charity{
}
.cs_financial{
}
.cs_professional{
}

/*
Charity - green #00b37d (R0, G179, B125)
FAs - red #950a2b (R149, G10, B43)
Professional Services - purple #462e87 (R70, G46, B135)
Private Individuals,default – blue as is $blue-light, $blue-dark, $blue-headings
*/

$blue-light: #1e9bd7;
$blue-dark: #171f45;
$blue-headings: #1d2343;
$blue-divider: #0293d5;

/* charity green */
$charity-light: #00b37d;
$charity-dark: #005e3c;
$charity-headings: #1d3328;

/* financial advisors red */
$financial-light: #950a2b;
$financial-dark: #720809;
$financial-headings: #381313;

/* professional services purple */
$professional-light: #462e87;
$professional-dark: #271d72;
$professional-headings: #251a3f;

$task1762-light: #949B41;
$task1762-dark: #596222;
$task1762-headings: #596222;

// Breakpoints
$bp_sm-min: 768px;
$bp_md-min: 992px;
$bp_lg-min: 1200px;

$disclaimer-height: 60px;

$page-max-width:1170px;

@mixin masthead_gradient($end) {
    background: -moz-linear-gradient(left, $blue-dark 0%, $end 100%, $end 100%);
    background: -webkit-linear-gradient(left, $blue-dark 0%, $end 100%, $end 100%);
    background: linear-gradient(to right, $blue-dark 0%, $end 100%, $end 100%);
}

// Extendable Classes - Text

body{
  -webkit-font-smoothing: antialiased;
  font-weight:normal;
}

.font--serif {
  font-family: $font-family-serif;
}
.font--serif--italic {
  font-family: $font-family-serif-italic;
  font-style: italic;
}

.font--light-cond {
  /* font-family: $font-family-bold-cond; */
  font-family: $font-family-main;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.font--bold {
  /* font-family: $font-family-bold-cond; */
  font-family: $font-family-main;
  /*font-weight: 700;*/
  font-weight: 400;
  letter-spacing: 0px;
  /*text-transform: uppercase; */
}

.font--bold--lowimpact {
  /* font-family: $font-family-bold-cond; */
  font-family: $font-family-main;
  font-weight: 700;
}

.font--semibold {
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.font--sm {
  font-size: .875em;
}

.text--dark-blue {
  &, h1, h2, h3, h4, h5, h6 {
    color: $blue-dark;
  }
}

.align--left {
  text-align: left;
}
.align--center {
  text-align: center;
}
.align--right {
  text-align: right;
}
.transition--long {
  transition: all 1s ease;
}
.transition-delay-long {
  transition-delay: .6s !important;
}
.transition--animation {
  transition: all .5s;
}
.transition--link {
  transition: all .4s ease;
}

.link--plus {
  &:before {
    content: "+";
    display: inline-block;
    font-size: 1.5em;
    left: 1em;
    position: absolute;
    top: .175em;
  }
}

// Extendable Classes - images
.bg-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

// Extendable Classes - Spacing
.padding--small {
  padding-top: .75em;
  padding-bottom: .75em;
}
.padding--standard {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.padding--large {
  padding-top: 2.25em;
  padding-bottom: 2.25em;
}
.padding--large--all {
  padding: 1.75em;
}
.padding--extralarge {
  padding-top: 3.2em;
  padding-bottom: 3.2em;
}
.padding-bottom--none {
  padding-bottom: 0;
}
.padding-bottom--small {
  padding-bottom: .75em;
}
.padding-bottom--standard {
  padding-bottom: 1.25em;
}
.padding-bottom--large {
  padding-bottom: 2.2em;
}
.padding-all--small {
  padding: 1.25em 1.5em;
}
.padding-all--standard {
  padding: 2.25em 1.5em;
}

/* default to blue colour scheme */
  .link--hover {
    &:hover, &:focus {
      &, h1, h2, h3, h4, h5 {
        color: $blue-dark;
      }
    }
  }
  .link--hover--light {
    &:hover, &:focus {
      &, h1, h2, h3, h4, h5 {
        color: $blue-light;
      }
    }
  }
  .link--plus {
    &:before {
      color: $blue-light;
    }
  }
  .gradient {
    background: -moz-linear-gradient(left, $blue-dark 0%, $blue-light 100%, $blue-light 100%);
    background: -webkit-linear-gradient(left, $blue-dark 0%, $blue-light 100%, $blue-light 100%);
    background: linear-gradient(to right, $blue-dark 0%, $blue-light 100%, $blue-light 100%);
    /*-ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue-dark}', endColorstr='#{$blue-light}',GradientType=1 );*/ /* IE6-9 */
  }

.page-max-width{
  max-width:$page-max-width;
  margin-left:auto;
  margin-right:auto;
  box-sizing:border-box;
}

/* top-stacked, smaller arrow */
.has_tooltip {
  &:before, &:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent; /* arrow size */
  }
  &:before {
  	border-bottom-color: $gray-light;  /* arrow color */
  	/* positioning */
    left: 2.5em;
    position: absolute;
    top: -1.5em;
  	z-index: 2;
  }
}

.cs_individual{
  .link--hover {
    &:hover, &:focus {
      &, h1, h2, h3, h4, h5 {
        color: $blue-dark;
      }
    }
  }
  .link--hover--light {
    &:hover, &:focus {
      &, h1, h2, h3, h4, h5 {
        color: $blue-light;
      }
    }
  }
  .link--plus {
    &:before {
      color: $blue-light;
    }
  }
  .gradient {
    @include masthead_gradient($blue-light);
  }
  .text--dark-blue {
    &, h1, h2, h3, h4, h5, h6 {
      color: $blue-dark;
    }
  }
  .disclaimer_investments{
  }
}
.cs_charity{
  .link--hover {
    &:hover, &:focus {
      &, h1, h2, h3, h4, h5 {
        color: $charity-dark;
      }
    }
  }
  .link--hover--light {
    &:hover, &:focus {
      &, h1, h2, h3, h4, h5 {
        color: $charity-light;
      }
    }
  }
  .link--plus {
    &:before {
      color: $charity-light;
    }
  }
  .gradient {
    @include masthead_gradient($charity-light);
  }
  .text--dark-blue {
    &, h1, h2, h3, h4, h5, h6 {
      color: $charity-dark;
    }
  }
  .disclaimer_investments{
  }
}
.cs_financial{
  .link--hover {
    &:hover, &:focus {
      &, h1, h2, h3, h4, h5 {
        color: $financial-dark;
      }
    }
  }
  .link--hover--light {
    &:hover, &:focus {
      &, h1, h2, h3, h4, h5 {
        color: $financial-light;
      }
    }
  }
  .link--plus {
    &:before {
      color: $financial-light;
    }
  }
  .gradient {
    @include masthead_gradient($financial-light);
  }
  .text--dark-blue {
    &, h1, h2, h3, h4, h5, h6 {
      color: $financial-dark;
    }
  }
  .disclaimer_investments{
  }
}
.cs_professional{
  .link--hover {
    &:hover, &:focus {
      &, h1, h2, h3, h4, h5 {
        color: $professional-dark;
      }
    }
  }
  .link--hover--light {
    &:hover, &:focus {
      &, h1, h2, h3, h4, h5 {
        color: $professional-light;
      }
    }
  }
  .link--plus {
    &:before {
      color: $professional-light;
    }
  }
  .gradient {
    @include masthead_gradient($professional-light);
  }
  .text--dark-blue {
    &, h1, h2, h3, h4, h5, h6 {
      color: $professional-dark;
    }
  }
  .disclaimer_investments{
  }
}

/* task 1762 */
/*
$task1762-light: #949B41;
$task1762-dark: #596222;
$task1762-headings: #596222;
*/
.cs_task1762{
  .link--hover {
    &:hover, &:focus {
      &, h1, h2, h3, h4, h5 {
        color: $task1762-dark;
      }
    }
  }
  .link--hover--light {
    &:hover, &:focus {
      &, h1, h2, h3, h4, h5 {
        color: $task1762-light;
      }
    }
  }
  .link--plus {
    &:before {
      color: $task1762-light;
    }
  }
  .gradient {
    @include masthead_gradient($task1762-light);
  }
  .text--dark-blue {
    &, h1, h2, h3, h4, h5, h6 {
      color: $task1762-dark;
    }
  }
  .disclaimer_investments{
  }
}

ul.realbullet{
  list-style-type:disc;
  padding-left:2em;
  li{
    text-align:left;
    margin:0 0 0.5em 0;

  }
}

/*based on real bullet*/
.main ul.naturalBrewinStyle {
  list-style-type:disc;
  padding-left:2em;
  padding-bottom:1.5em;
  li{
    text-align:left;
    margin:0 0 0.5em 0;

  }  
}

.main b.naturalBrewinStyle, strong.naturalBrewinStyle {
  font-weight: bold;
}

.main p.brewinnaturalstyle strong {
   font-weight: bold; 
}


.main table.naturalBrewinStyle {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  th, td {
    border: 1px solid black;
  }
}

.main img.naturalBrewinStyle {
  margin-left: 1em;
  margin-right: 1em;
}

.link--title {
  text-decoration: none;
}