  <div class="main">
<div class="disclaimer_investments"><p>The value of investments and any income from them can fall and you may get back less than you&nbsp;invested.</p></div>
    <!-- Header - hero -->

    <header class="hero">

      <div class="bg hero-large" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>
      <div class="bg hero-medium" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>
      <div class="bg hero-mobile" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>

      <div class="hero__overlay"></div>

      <div class="hero__content">

        <div class="logo__icon">
          <div class="logo__icon__inner">
            <img src="../assets/images/logos/logo-icon.png" alt="Brewin Dolphin" />
          </div>
        </div>

        <div class="hero__text">
          <div class="hero__text__inner">
            <h1 class="hero__title">WELCOME</h1>
          </div>
        </div>

      </div>

    </header>

<!--  -->

    <div class="blueDropletBox">
      <div class="inner">
        <div class="content">
          <p class="text2">We are one of the UK&rsquo;s leading wealth managers. Founded in 1762, we are here to help you achieve your ambitions through expert, personalised financial planning and investment management advice.</p>
        </div>
      </div>
    </div>

    <section class="blocks-brewin blocks-brewin--alternate XXblocks-brewin--alternate--curtain wrapped-teardrop">

      <div class="blocks-brewin__container">
        <!-- clips 50px off top of container fullspan inside rounderrd corners, centred 25px radius outside corners -->
        <div class="tail-inside-corners">
          <div class="splenetic"></div>
          <div class="tail-teardrop" >
                <svg xmlns="http://www.w3.org/250/svg" class="leftedge" width="25px" height="25px" style="display:inline-inline-block;float:left;"><path d="M0 0 A 25 25, 0, 0, 1, 25 25 L 25 0 L 0 0 Z" /></svg>

                <svg xmlns="http://www.w3.org/250/svg" class="rightedge" width="25px" height="25px" style="display:inline-inline-block;float:left;"><path d="M0 25 A 25 25 0 0 1 25 0 L 0 0 L0 25 Z"  /></svg>
          </div>
        </div>

        <div class="blocks-brewin__inner">
          <div class="block-brewin top-right-curve">
            <div class="block-brewin__content block-brewin__content--gray">
              <div class="block-brewin__content__text">
                <div class="block-brewin__content__text__inner">
                  <h2>For Individuals</h2>
                  <p>
                    Since 1762 we’ve guided our clients’ life journeys. Combining long-term thinking, award-winning investments and up-to-date insight, to build, protect and make the most of their wealth.
                  </p>
                  <a href="lp-private-individuals.html"  class="button">Find out more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="block-brewin top-left-curve">
            <div class="block-brewin__content block-brewin__content--image" style="background-image:url(../assets/images/home/individuals.jpg);">
            </div>
          </div>
        </div>
      </div>

    </section>

<!--  -->

    <section class="blocks-brewin blocks-brewin--triple">
      <div class="blocks-brewin__container">
        <div class="blocks-brewin__inner">
          <div class="block-brewin">
            <div class="block-brewin__content">
              <div class="block-brewin__content__text">
                <h3>For Financial advisors</h3>
                <p>
                  Manage your clients’ investments in partnership with one of the UK’s most respected wealth managers.
                </p>
                <a href="#"  class="button">Find out more</a>
              </div>
            </div>
          </div>
          <div class="block-brewin">
            <div class="block-brewin__content">
              <div class="block-brewin__content__text">
                <h3>For Professional services</h3>
                <p>
                  Build, grow and protect your wealth with a wealth manager that specialises in the professions.
                </p>
                <a href="#"  class="button">Find out more</a>
              </div>
            </div>
          </div>
          <div class="block-brewin">
            <div class="block-brewin__content">
              <div class="block-brewin__content__text">
                <h3>For Charities</h3>
                <p>
                  Maximise the effectiveness of your finances.Partner with the wealth manager working with the UK’s leading charities.
                </p>
                <a href="#" class="button">Find out more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="credibility">
      <div class="bg credibility-large" style="background-image: url('../assets/images/home/credibility-home.jpg')"></div>
      <div class="bg credibility-medium" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>
      <div class="bg credibility-mobile" style="background-image: url('../assets/images/home/credibility-home.jpg')"></div>

      <div class="cred__overlay"></div>

      <div class="credibility__inner">
        <div class="credibility__content__wrapper">
          <div class="credibility__content">
            <p class="credibility__intro">
              <span class="serif">From</span> 1762 <span class="serif">to</span> £36.4bn
            </p>
            <p class="credibility__text">
              We are proud to have received a dozen major industry awards in 2017. Including a coveted gold investment rating from Investment Week.
            </p>
          </div>
        </div>
      </div>

      <!-- SVG corners START _credibility.scss > @media screen and (min-width: $bp_md-min) -->
      <svg xmlns="http://www.w3.org/250/svg" class="corner bottomright-corner" width="25px" height="25px" viewBox="0 0 25 25"><path d="M0 25 A 25 25, 0, 0, 0, 25 0 L 25 25 L 0 25 Z" /></svg>

      <svg xmlns="http://www.w3.org/250/svg" class="corner bottomleft-corner" width="25px" height="25px" viewBox="0 0 25 25"><path d="M 0 0 A 25 25 0 0 0 25 25 L 0 25 L 0 0 Z" /></svg>
      <!-- SVG corners END -->

    </section>

    <section class="curtain-follow curtain-follow--footer follows-credibility-block">
      <div class="curtain-follow__inner">

      </div>
    </section>

    <section class="credibility">
      <div class="bg credibility-large" style="background-image: url('../assets/images/home/credibility-home.jpg')"></div>
      <div class="bg credibility-medium" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>
      <div class="bg credibility-mobile" style="background-image: url('../assets/images/home/credibility-home.jpg')"></div>

      <div class="cred__overlay"></div>

      <div class="credibility__inner">
        <div class="credibility__content__wrapper">
          <div class="credibility__content">
            <p class="credibility__intro">
              VALUED BY OUR CLIENTS
            </p>
            <p class="credibility__text">
              With 30 offices across the UK, Channel Islands and Ireland we combine the best of local understanding with national scale and perspective.
            </p>
          </div>
        </div>
      </div>

      <!-- SVG corners START _credibility.scss > @media screen and (min-width: $bp_md-min) -->
      <svg xmlns="http://www.w3.org/250/svg" class="corner bottomright-corner" width="25px" height="25px" viewBox="0 0 25 25"><path d="M0 25 A 25 25, 0, 0, 0, 25 0 L 25 25 L 0 25 Z" /></svg>

      <svg xmlns="http://www.w3.org/250/svg" class="corner bottomleft-corner" width="25px" height="25px" viewBox="0 0 25 25"><path d="M 0 0 A 25 25 0 0 0 25 25 L 0 25 L 0 0 Z" /></svg>
      <!-- SVG corners END -->

    </section>

    <section class="curtain-follow curtain-follow--footer follows-credibility-block">
      <div class="curtain-follow__inner">

      </div>
    </section>

<!--  -->
    <section class="blueDropletBox tail">
      <div class="inner">
        <div class="content">
          <p class="intro">
            VALUED BY OUR CLIENTS
          </p>
          <p class="text">
            With 30 offices across the UK, Channel Islands and Ireland we combine the best of local understanding with national scale and perspective.
          </p>
        </div>
      </div>
    </section>

    <div class="tail-inside-corners follows-tail">
      <div class="tail-teardrop2" ></div>
    </div>

<!--  -->
  </div>
