.bd-rich-text{
	h1{
		text-align:left;
		margin-bottom:12px;
	}	
	p{
		strong{
			font-weight:700;
		}
		em{
			font-style:italic;
		}
		img{
			height:auto;
			margin-bottom:0.5em;
			&[align="left"]{
				margin-right:10px;
			}
			&[align="right"]{
				margin-left:10px;
			}
		}
	}
	ul{
		list-style-type:disc;
		padding-left:2em;
		margin-bottom:1.5em;
		li{
			margin-bottom:0.5em;
			& > p{
				margin-bottom:0.5em;
			}			
		}
	}
	ol{
		list-style-type:decimal;
		padding-left:2em;
		margin-bottom:1.5em;
		li{
			margin-bottom:0.5em;
			& > p{
				margin-bottom:0.5em;
			}			
		}
	}

	/* table alternating grey/blue rows */
	table{
		width:100%;
		border:1px solid #000;
		margin-bottom:1em;
		tr{
			td{
				text-align:left;
				vertical-align:top;
				padding:10px;
				background-color:#ebebed;
				img{
					display:block;
					margin-bottom:0;
				}
			}
		}
		&.alternating{
			tr{
				&:nth-child(2n + 1){
					td{
						background-color:#ebebed;
					}
				}
				&:nth-child(2n){
					td{
						background-color:#00aef0;
					}
				}
			}
		}
	}
	img{
		margin-bottom:1em;
	}
	video{
		width:100%;
		margin-bottom:1em;
	}
	audio{
		margin-bottom:1em;
	}
}
