
.breadcrumb {
  @extend .container;
}

.breadcrumb__inner {
  @extend .row;
}

.breadcrumb__content {
  @extend .align--left, .padding--small;
  @include make-xs-column(12);

}

.breadcrumb__link {
  color: $gray-medium;
  &:after {
    content: " / " !important;
  }
}
footer {
  .breadcrumb__current {
    color: $gray-medium;
    a {
      color: $gray-medium;
    }
  }
}
  
