.button {
  @extend .font--bold;
  font-family:"Helvetica Neue Roman";
  font-weight:600;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0px;
  margin: .5em 0;
  padding: .75em 2em;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid $blue-light;
  color: $blue-dark;
  &:hover {
    color: $white;
    background: $blue-light;
  }
}

.link--underline {
  display: inline-block;
  letter-spacing: 0px;
  position: relative;
  text-decoration: none;
  text-transform: none;
  &:after {
    content: "";
    background: $blue-light;
    display: block;
    height: 2px;
    margin: 0em auto;
    width: 100%;
  }
}

.link--underline--thin {
  @extend .link--underline;
  margin-bottom: .25em;
  &:after {
    height: 1px;
    margin: .125em 0;
  }
}

.link--bold--underline {
  @extend .font--bold, .link--underline;
}

.link--bold {
  @extend .font--bold;
  color: $blue-light;
  display: inline-block;
  letter-spacing: 0px;
  /*text-transform: uppercase;*/
}

.cs_individual{
  .button {
    border: 1px solid $blue-light;
    color: $blue-dark;
    &:hover {
      color: $white;
      background: $blue-light;
    }
  }  
  .link--underline {
    &:after {
      background: $blue-light;
    }
  }
  .link--bold {
    color: $blue-light;
  }
}
.cs_charity{
  .button {
    border: 1px solid $charity-light;
    color: $charity-dark;
    &:hover {
      color: $white;
      background: $charity-light;
    }
  }  
  .link--underline {
    &:after {
      background: $charity-light;
    }
  }
  .link--bold {
    color: $charity-light;
  }
}
.cs_financial{
  .button {
    border: 1px solid $financial-light;
    color: $financial-dark;
    &:hover {
      color: $white;
      background: $financial-light;
    }
  }  
  .link--underline {
    &:after {
      background: $financial-light;
    }
  }
  .link--bold {
    color: $financial-light;
  }
}
.cs_professional{
  .button {
    border: 1px solid $professional-light;
    color: $professional-dark;
    &:hover {
      color: $white;
      background: $professional-light;
    }
  }  
  .link--underline {
    &:after {
      background: $professional-light;
    }
  }
  .link--bold {
    color: $professional-light;
  }
}
.cs_task1762{
  .button {
    border: 1px solid $task1762-light;
    color: $task1762-dark;
    &:hover {
      color: $white;
      background: $task1762-light;
    }
  }  
  .link--underline {
    &:after {
      background: $task1762-light;
    }
  }
  .link--bold {
    color: $task1762-light;
  }
}