
.curtain--bottom {
  border-radius: 0 0 7% 7%;
}

.curtain-follow {
  @extend .container;
  @extend .container--full;
  @extend .page-max-width;
  display: block;
  z-index: 1001;

  .curtain-follow__inner {
    @extend .row;
    background: $white;
    min-height: 1em;
    position: relative;
    &::before, &::after {
      background: $white;
      height: 20px;
      position: absolute;
      top: -15px;
      width: 50%;
    }
    &::before {
      content: "";
      left: 0;
      -webkit-border-top-right-radius: 15px;
      -moz-border-radius-topright: 15px;
      border-top-right-radius: 15px;
    }
    &::after {
      content: "";
      left: 50%;
      -webkit-border-top-left-radius: 15px;
      -moz-border-radius-topleft: 15px;
      border-top-left-radius: 15px;
    }
  }
}

.curtain-follow--footer {
  .curtain-follow__inner {
    margin-bottom: 0;
    &::before, &::after {
      background: $white;
    }
  }
}

.curtain-follow--reverse {
  @extend .page-max-width;
  .curtain-follow__inner {
    background: $white;
    min-height: 1em;
    position: relative;
    &::before {
      content: "";
      background: $white;
      height: 20px;
      position: absolute;
      left: 0;
      bottom: -15px;
      width: 50%;
      -webkit-border-bottom-right-radius: 15px;
      -moz-border-radius-bottomright: 15px;
      border-bottom-right-radius: 15px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 50%;
      width: 50%;
      height: 20px;
      background: $white;
      -webkit-border-bottom-left-radius: 15px;
      -moz-border-radius-bottomleft: 15px;
      border-bottom-left-radius: 15px;
    }
  }
}

// Variants of Curtain
.curtain-follow--blue {
  .curtain-follow__inner {
    &, &::before, &::after {
      background: $blue-dark;
    }
  }
}

// Variants of Curtain

.curtain-follow--gray {
  .curtain-follow__inner {
    &, &::before, &::after {
      background: $gray-light;
    }
  }
}

.curtain-follow--bluebox{
  margin-bottom:10px;
  &.precedes-grey-box{
    .curtain-follow__inner {
      &::before, &::after {
        background-color:$gray-light;
      }
    }
  }
  .curtain-follow__inner {
    background: $blue-dark;
    height: 20px;
    &::before, &::after {
      top: 0px;
      background-color: #fff;
    }
  }
}

@media screen and (min-width: $bp_sm-min) {
  .curtain-follow--hidden-desktop {
    display: none;
  }
}

div.splenetic{
  width:100%;
  height:25px;
  background-color:$blue-dark;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius-bottomright: 25px;
  border-bottom-right-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-bottom-left-radius: 25px;
}

.wrapped-teardrop{
  .blocks-brewin__container{
    position:relative;

    .tail-inside-corners{
      position:absolute;
      left:0px;
      top:0px;
      z-index:10;

      max-width:$page-max-width;
      margin-left:auto;
      margin-right:auto;
      width:100%;
      padding-bottom:25px;
      background-image:url('../../assets/images/teardrop.png');
      background-repeat:no-repeat;
      background-position:center 25px;


      .tail-teardrop{display:none;}

      /* IE 10+ specific CSS */
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        &{
          background-position:center 24px;
          top:-1px;
        }
      }

      /* edge */
      @supports (-ms-ime-align:auto) {
        &{
          background-position:center 24px;
          top:-1px;
        }
      }
    }

    .blocks-brewin__inner{
      .block-brewin{
        .block-brewin__content{
          padding-top:4.5em;
        }
        .block-brewin__content--image{
          @media screen and (min-width: $bp_md-min) {
            &{
              min-height:36.25em;
            }
          }
          @media screen and (min-width: $bp_lg-min) {
            &{
              min-height:30em;
            }
          }
        }
      }
    }

  }
}

.ie9{
  .wrapped-teardrop{
    .blocks-brewin__container{
      .tail-inside-corners{
        background-position:center 24px;
        top:-1px;
      }
    }
  }
}

.hero-tail{
  max-width:$page-max-width;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  padding-bottom:25px;
  background-image:url('../../assets/images/teardrop.png');
  background-repeat:no-repeat;
  background-position:center 25px;

  &.precedes-single-block-grey{
    background-color:$gray-light;
  }

  &.precedes-single-block-white{
    background-color:#fff;
  }

  /* IE 10+ specific CSS */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    &{
      background-position:center 24px;
      margin-top:-1px;
    }
  }

  /* edge */
  @supports (-ms-ime-align:auto) {
    &{
      background-position:center 24px;
      margin-top:-1px;
    }
  }

}
.ie9{
  .hero-tail{
    background-position:center 24px;
    margin-top:-1px;
  }
}

.tail-inside-corners{

  width:100%;
  position:absolute;
  left:0px;
  top:0px;
  z-index:10;

  &.follows-tail,
  &.follows-tail-grey{
    position:static;
    width:100%;
    max-width:$page-max-width;
    margin-left:auto;
    margin-right:auto;
    .tail-teardrop2{

      background: #0a1332; /* Old browsers */
      background: -moz-linear-gradient(left, #0a1332 0%, #183e67 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #0a1332 0%,#183e67 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #0a1332 0%,#183e67 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1332', endColorstr='#183e67',GradientType=1 ); /* IE6-9 */  
      &::before {
        width:50%;
        background-color: #fff;
      }  
      &::after {
        width:50%;
        background-color: #fff;
      }

    }
  }
  &.follows-tail-grey{
    .tail-teardrop2{
      width:100%;
      &::before {
        background-color: $gray-light;
      }  
      &::after {
        background-color: $gray-light;
      }
    }
  }
  &.precedes-single-block-grey,
  &.precedes-single-block-white{
    max-width:$page-max-width;
    margin-left:auto;
    margin-right:auto;
    position:static;
  }
  &.precedes-single-block-grey{
    background-color:$gray-light;
    .tail-teardrop2{
      &::before {
        background-color: $gray-light;
      }  
      &::after {
        background-color: $gray-light;
      }
    }
  }
  &.precedes-single-block-white{
    background-color:#fff;
  }
  div.splenetic{
    width:100%;
    height:25px;
    background-color:$blue-dark;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-left-radius: 25px;
  }
}

.tail-teardrop{
  margin-left:auto;
  margin-right:auto;
  width:50px;
  height:25px;
  margin-top:-0.5px;
  svg{
    &.rightedge{
      margin-left:-1px;
    }
    path{
      fill:$blue-dark;
    }
  }
}
.tail-teardrop2{
  &.precedes-single-block-grey{
    &::before {
      background-color: $gray-light;
    }  
    &::after {
      background-color: $gray-light;
    }
  }
  margin-left:auto;
  margin-right:auto;
  width:50px;
  height:25px;
  position:relative;
  background-image:url('../../assets/images/teardrop.png');
  background-repeat:no-repeat;
  background-position:center top;
}


.heroblock + .office-finder,
.tail-inside-corners + .office-finder{
  margin-top:0px;
}

.follows-credibility-block{
  .curtain-follow__inner {
    min-height: 1em;
    &::before, &::after {
      height: 25px;
      top: -24.5px;
    }
    &::before {
      -webkit-border-top-right-radius: 25px;
      -moz-border-radius-topright: 25px;
      border-top-right-radius: 25px;
      border-bottom:1px solid #fff;
      border-left:1px solid #fff;
    }
    &::after {
      -webkit-border-top-left-radius: 25px;
      -moz-border-radius-topleft: 25px;
      border-top-left-radius: 25px;
      border-bottom:1px solid #fff;
      border-right:1px solid #fff;
    }
  }

}

.cs_task1762{
  div.splenetic{
    background-color:#596222;
  }

  .hero-tail{
    background-image:url('../../assets/images/teardrop_1762.png');
  }  

  .wrapped-teardrop{
    .blocks-brewin__container{
      .tail-inside-corners{
        background-image:url('../../assets/images/teardrop_1762.png');
      }
    }
  }

  .tail-inside-corners{
    .tail-teardrop2{
      /* background-color:$task1762-headings; */
      background-image:url('../../assets/images/teardrop_1762.png');
      background-repeat:no-repeat;
      background-position:center top;
    }
  }
}