.disclaimer_investments{
  position:fixed;
  bottom:0px;
  max-width:$page-max-width;
  left:50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform:translateX(-50%);
  width:100%;
  z-index:2000;
  box-sizing:border-box;
  display:table;
  background: $blue-dark;
  p{
    margin:0;padding:0.5em 3em;color:#fff;font-weight:bold;
    &:before {
      content:"";
      background: $white;
      display: block;
      height: 1px;
      margin: 0.5em auto 0.5em auto;
      width: 30%;
    }
  }
}
