.footer {
  @extend .page-max-width;
  /*padding-bottom:$disclaimer-height;*/
  position: relative;
  z-index: 1002;
  z-index: 2;
  &, a {
    color: $white
  }
}

.footer__main {
  background: $blue-dark;
}
.footer__inner {
  /*@extend .padding--standard;*/
  @extend .container;
}

.footer__pre {
  @extend .row, .font--bold--lowimpact;
  color: $white;
  text-align: center;
  p {
    letter-spacing:0em;
    @include make-xs-column(12);
    &:after {
      content:"";
      background: $white;
      display: block;
      height: 1px;
      margin: 1.25em auto .5em;
      width: 30%;
    }
  }
}

// Office links and navigation shared styles
.footer__navigation,  .footer__offices {
  @extend .row;
}

.footer__offices__inner, .footer__navigation__inner {
  @include make-xs-column(12);
  @include make-md-column(10);
  @extend .col--centered;
}

.footer__offices__menu, .footer__menu {

  padding-left:0;
  padding-right:0;

  @media screen and (min-width: $bp_md-min) {
    &{
      padding-left:0;
      padding-right:0;
    }
  }
}

.footer__menu {
  @include make-xs-column(4);
  @include make-sm-column(3);
}
.footer__offices__menu{
  @include make-xs-column(12);
  @include make-sm-column(6);
}

// Office specific styles
.footer__offices {
  /* @extend .padding--large; */
  padding-top:1.5em;
  padding-bottom:1.5em;
  &.footer__offices_desktop{
    display:none;
  }
  &.footer__offices_mobile{
    display:block;
  }
  @media screen and (min-width: $bp-sm-min) {
    &{
      padding-top:0;
      padding-bottom:1em;
    }
    &.footer__offices_desktop{
      display:block;
    }
    &.footer__offices_mobile{
      display:none;
    }
  }
}

.footer__offices__menu {
  text-align:center;
  &:first-child {
    @include make-xs-column-offset(0);
    @include make-md-column-offset(0);
  }
  a {
    @extend .font--semibold;
    text-decoration: none;
  }
}

.footer__nav, .footer__offices__menu {
  @extend .align--left;
  overflow: hidden;
  a {
    @include make-xs-column(12);
    display: block;
    margin: .25em 0;
    text-decoration: none;
    &:hover, &:focus {
      color: $blue-light;
    }
  }
}

// Blue Nav specific styles
.footer__menu--blue {
  @include make-xs-column(12);
  @include make-md-column(3);
  .footer__nav {
    a {
      @include make-xs-column(4);
      @include make-md-column(12);

      color: $blue-light;
      &:hover, &:focus {
        color: $white;
      }
    }
  }
}

// Disclaimer styles
.footer__disclaimer {
  @extend .row;
  p {
    @extend .padding--standard;
    @extend .font--sm;
  }
}

.footer__disclaimer__inner {
  @include make-xs-column(12);
  @include make-md-column(10);
  @extend .col--centered;
  padding-bottom:$disclaimer-height;
  .mobile-disabled {
    pointer-events: none;
    > a {
      text-decoration:none; color:inherit;
    }
  }
}

@media screen and (min-width: $bp-sm-min) {
  .footer__offices__menu{
    text-align: center;
    &:first-child {
      text-align:center;
    }

  }
  .footer__pre {
    p {
      &:after {
        width: 30%;
      }
    }
  }
}

@media screen and (min-width: $bp-md-min) {
  .footer__offices__menu{
    text-align: left;
    &:first-child {
      text-align:right;
    }

  }
}

.footer__socialmedia{
  padding-top:1.2em;
  margin-bottom:0em;
  &:after {
    content:"";
    display:block;
    float:none;
    clear:both;
  }
  @include make-xs-column(12);

  h2{
    font-family: "Helvetica Neue Roman";
    text-transform: none;
    letter-spacing:0px;
    width:100%;
    text-align:center;
    margin:0 0 0.5em 0;
    color:#fff;
    padding:0;
    font-size:1em;
    line-height:1.2em;
  }

  ul{
    list-style-type:none;
    padding:0;
    width:140px;
    margin:0 auto;
    &:after{
      content:"";
      display:block;
      float:none;
      clear:both;
    }
    li{
      display:inline-block;
      float:left;
      width:25%;
      text-align:center;
      a{
        color:#fff;
        display:block;
        font-size:1.75em;
        text-decoration:none;
      }
      &:nth-child(2n +1) {
        clear: none;
      }
    }
  }

  p{
    margin-bottom:0;
    font-weight:bold;
    a{
      color:#fff;
      text-decoration:none;
    }
  }

  .column{
    margin-bottom:2em;
    @include make-xs-column(12);
    @include make-sm-column(4);
  }
  &.contact_only{
    .column{
      @include make-sm-column(6);
      &.icons{
        display:none;
      }
    }
  }
  @media screen and (min-width: $bp-sm-min) {
    &{
      margin-bottom:2em;
      .column{
        margin-bottom:0em;    
      }
    }
  }
}
/*
@media screen and (min-width: $bp-md-min) {
  .footer__socialmedia{
    &.contact_only{
      .column.icons{
        display:none;
      }
      .column.phone{
        width:100%;
        float:none;
        clear:both;
        .lac{
          width:100%;
        }
      }
    }
  }
}
*/