input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
  @extend .font--bold--lowimpact;
  font-size: 16px;
}
input,
textarea{
  &::placeholder {
    color: $gray-medium;
    opacity: 1;
  }
  &:-ms-input-placeholder,
  &::-ms-input-placeholder {
    color: $gray-medium;
  }
}

.privacydeclaration{
  p{
    /*font-family: "Helvetica Neue Bold Condensed";*/
    font-family: $font-family-main;
  }
}

input[type="text"], input[type="email"], input[type="number"], select {
  border: none;
  border-radius: 5px;
  margin: 0.5em auto;
  /* min-width: 15em; */
  padding: 0.875em 1em;
  text-align: center;
  &.input--gray {
    background: $gray-light;
  }
}
input[type="text"] {
  &.input__search--header {
    background: transparent;
    border-radius: 0;
    cursor: pointer;
    margin: 0;
    padding: 0 1em;
    min-width: 0;
    
    &::placeholder {
      color: $white;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 0px;
    }
    &:focus, &:active {
      border-bottom: 1px solid $blue-light;
      cursor: text;
      outline: none;
      &::placeholder {
        opacity: 0;
      }
    }
  }
  &.input__search {
    background: $white;
    border-radius: 0;
    color: $gray-dark;
    float: left;
    height: 3.0em;
    margin: 0 auto;
    padding: 1em;
    text-align: left;
    width: calc(100% - 4.5em);
    &,
    &::placeholder {
      @extend .font--bold;
      color: $gray-dark;
    }
  }
}

textarea {
  border-radius: 5px;
  border: none;
  background: $white;
  padding: 1em;
  width: 100%;
}

.submit {
  @extend .font--bold;
  background: transparent;
  border: none;
  margin: 0;
  padding: 1em;
}

.submit--search {
  background: $blue-light;
  color: $white;
  float: left;
  height: 3.5em;
  width: 4.5em;
  &:focus,
  &:hover {
    @extend .transition--link;
    background: $blue-dark;
  }
}

.input--gray {
    background: $gray-light;
}

.inlineForm{
  @extend .padding--extralarge,.page-max-width;
  background: $white;
  position: relative;
  .form__body{
    & > p{
      width:75%;
      margin:0 auto 1.5em auto;
    }
  }

}
.inlineFormGray{
  background: $gray-light;
}

.inlineForm > .contentSwitch > h2{
  font-size:1em;
  margin:0 0 0 0px;
}

.genericForm{
  
  label.label-required{
  display:block;
    text-align:left;
    width:80%;
    margin-left:auto;
    margin-right:auto;
  }

  .messages{
    color:#ff0000;
  }
  .fieldGroup{
    box-sizing:border-box;
    width:80%;
    margin-left:auto;
    margin-right:auto;

    .form-group{
      display:block;
      float:none;
      clear:both;
      box-sizing:border-box;
      width:100%;

      input[type="text"],
      input[type="email"],
      input[type="number"],
      textarea{
        width:100%;
        font-size: 16px;
        border:0;
        margin: 0.5em auto;
        padding: 0.875em 1em;
        height:3em;
        background-color:#fff;
      }

      select:focus,
      select {
        /*@extend .font--bold--lowimpact;*/
        background: $white;
        border: none;
        height: 3.0em;
        width: 100%;

        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff url(../../assets/images/icons/dropdown.png) center right no-repeat;
        padding: 0 1em;
        margin: 0.5em auto;
        color: $gray-medium;
        font-weight:700;
        font-size: 16px;

        text-align:center;
        &::placeholder {
          /* @extend .font--sm; */
          opacity: 1;
        }
        &:-ms-input-placeholder,
        &::-ms-input-placeholder {
        }
        option{
          text-align:center;
          color: $gray-medium;
        }
      }
      select::-ms-expand{display:none;}
      p.exp{
        font-size:0.85em;
        line-height:1.1em;
        width:100%;
        margin:0 auto;
        text-align:left;      
      }

      &.form-xcheck{
        width:100%;
      }
      &.has-error{
      }

      &.commentBox{
        width:100%;
        &:nth-child(2n+1){ padding-right:0%; }
        &:nth-child(2n){ padding-left:0%; }
      }
    }
    &.clientYesNo{
      padding:1em 0;
      legend{
        font-size:1.4em;
        color:#171e45;
        margin:0 auto 1em auto;
        padding:0;
        text-align:center;
        position:relative;
        top:1em;
      }
      label{
        @extend .font--bold--lowimpact;
        font-size: 16px;
        color: $gray-medium;
        display:inline-block;
        input{
          margin-right:0.5em;
        }
      }
      .limiter{
        width:50%;
        margin:0 auto;

        &:after{
          content:' ';
          display:block;
          clear:both;
          float:none;
          display:block;
        }
      }
    }
  }
  .disclaimer{
    box-sizing:border-box;
    width:75%;
    margin-left:auto;
    margin-right:auto;
    p{
      strong{
        font-weight:600;
      }
    }
  }
  .google-group{
    width:304px;
    margin:0 auto;
  }
  .submit_row{
    padding-top:2em;
    padding-bottom:2em;
  }
}

  .contentSwitch{
    .header{
      width:80%;
      margin:0 auto;
      p{
        color:#636363;
        span{
          color:#171e45;
          font-weight:600;
        }
      }
    }
  }
  .contentSwitch.start{
    display:block;
  }
  .contentSwitch.end{
    display:none;
  }
  &.showEnd{
    .contentSwitch.start{
      display:none;
    }
    .contentSwitch.end{
      display:block;
    }
  }

@media screen and (min-width: 480px) {
  .genericForm{
    .clientYesNo{
      .limiter{
        .form-group{
          display:inline-block;
          float:left;
          clear:none;
          box-sizing:border-box;
          width:50%;
          &:nth-child(2n+1){ padding-right:0%; }
          &:nth-child(2n){ padding-left:0%; }
        }
      }
    }
  }
}

@media screen and (min-width: $bp-md-min) {
  .form__body{
    & > p{
      width:60%;
      margin:0 auto 1.5em auto;
    }
  }
  .contentSwitch{
    .header{
      width:60%;
    }
  }
  .genericForm{
    p{
      width:100%;    
    }
    label.label-required{
      width:60%;
    }
    .fieldGroup{
      width:60%;
      .form-group{
        display:inline-block;
        float:left;
        clear:none;
        box-sizing:border-box;
        width:50%;
        &:nth-child(2n+1){padding-right:10px;}
        &:nth-child(2n){padding-left:10px;}
      }
      &:after{
        content:' ';
        display:block;
        float:none;
        clear:both;
      }
    }
  }
}

.form-xcheck{
    width:100%;
    margin:1em auto;
    float:none;
    &:after{
      content:" ";
      display:block;
      clear:both;
      float:none;
    }

    label{
        /*font-family: "Helvetica Neue Bold Condensed";*/
        font-family: $font-family-main;
        color:#777;
        padding-top:6px;
        padding-left:40px;
        text-align:left;
        position:relative;/*width:90%;padding-left:0.8em;top:0.2em;position:relative;line-height:1.2em;*/
        float:none;
        &.focus{
            span.fcouter{
                background-color:#0f0;
                span.fcinner{
                    background-color:#0f0;
                }
            }
            input[type="checkbox"]:checked + span.fcouter{
                span.fcinner{
                    background-color:#000;
                }
            }
        }
    }
    input[type="checkbox"],label{
        display:inline-block;
        vertical-align: sub;
    }
    input[type="checkbox"]{position:absolute;left:-60px;top:-60px;z-index:-1;}
    span.fcouter{
        margin-top:-8px;
        margin-right:0px;
        position:absolute;
        left:0;
        top:8px;
        display:inline-block;
        padding:0px;
        width:32px;
        border:none;
        
        /*
        border-radius:11px;
        border:1px solid #000;
        */
        span.fcinner{
            text-align:center;
            width:32px;
            height:32px;
            background-color:#fff;
            /*border-radius:8px;*/
            display:block;
            box-shadow:inset 0px 0px 5px rgba(0,0,0,0.5);
        }

    }
    input[type="checkbox"]:checked + span.fcouter,
    input[type="checkbox"]:checked + input + span.fcouter{
        span.fcinner{
          font-size:1.5em;
            color:#7f7f7f;
            &:before{
              content:'✔'; /* &#10004; */ 
            }
        }
    }
    .messages{
      width:75%;
      margin-top:0.5em;
      margin-left:auto;
      margin-right:auto;
    }
}

.bp2_expander1{
  &.expanded-visible{
    .wrapper{
      max-height:1000em;
    }
  }
}
.oneButton,
.twoButtons{
  .singleButton{
    float:none;
    display:block;
    width:100%;
    padding-bottom:0.5em;
    a{
      font-size:1.4em;
      display:inline-block;
      margin:0 auto;
      width:15em;
      padding:0.5em 0em;
      border:1px solid #1e9bd7;
      color:#1d2343;
      text-align:center;
      text-decoration:none;
      /*font-family: "Helvetica Neue Bold Condensed";*/
      font-family: $font-family-main;
      &:hover{
        background-color:#1e9bd7;
        color:#fff;
      }
    }
    a.expanderButton,a.collapseButton{
      text-transform:none;
      span{

          right:1em;
          top:19px;
          width:20px;
          height:9px;
          background:url('../../assets/images/icons/bps2_expand1.png');
          background-position:0 0;
      }
      color:#1e9bd7;
      &:hover{
        color:#fff;
      }
    }
  }
}
.oneButton{
  .singleButton{
    float:none;
    display:block;
  }
}

@media screen and (min-width: $bp_md-min) {
  .bp2_expander1{
    .oneButton{
      width:44em;
      margin:0 auto;
      .singleButton{
        float:none;
        margin:0 auto;
        display:block;
        width:50%;
        padding:0 0;
      }
    }
  }
}

input#locationsearch{
  min-width:15em;
}
select#categoryfilter{
  height:3em;
}