.global-cta {
  @extend .padding--large, .page-max-width;
  padding-bottom: 0em;
  background-color:#ededed;

  h3,h4{
    color:#1d2343;
    letter-spacing: 1px;
    margin:0;
  }
  h3{
    font-weight:400;
    font-size: 0.9em;
    margin-bottom:0.5em;
  }
  h4{
    font-size: 1.5em;
    font-weight:600;
  }
  h4{
    @supports (-webkit-overflow-scrolling: touch) {
      &{
        letter-spacing:-2px;
      }
    }
  }
}


.global-cta__wrapper {
  @extend .container;
}

.global-cta__inner {
  @extend .row;
  padding-left:2em;
  padding-right:2em;
}

.global-cta__block {
  @include make-xs-column(10);
  @include make-sm-column(4);
  @extend .col--centered;
  position: relative;
  margin-bottom: 2em;
  img {
    width: 100%;
  }
}

.global-cta__block__inner {
  height: 100%;
}

.global-cta__content {
  padding: 2em;
  .mh1,.mh2{
    overflow:hidden;
  }
  .mh1{
    margin-bottom:1em;
  }
  .mh2{}
}


@media screen and (min-width: $bp-sm-min) {
  .global-cta__block {
    float: left !important;
  }
}