// General masthead styles

.ie9{
  .masthead {
    background-image:url(../../assets/images/bg_individual.png);
    background-size:100% 100%;
  }  
  @media screen and (min-width: $bp-md-min) {
    .masthead {
      background: none;
    }
    .masthead__topbar {
      background-image:url(../../assets/images/bg_individual.png);
      background-size:100% 100%;
    }
  }
}

.notie9{
  .masthead {
    @include masthead_gradient($blue-light);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue-dark}', endColorstr='#{$blue-light}',GradientType=1 );
  }
  @media screen and (min-width: $bp-md-min) {
    .masthead {
      background: none;
    }
    .masthead__topbar {
      @include masthead_gradient($blue-light);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue-dark}', endColorstr='#{$blue-light}',GradientType=1 );
    }
  }
}


.masthead {
  @extend .page-max-width;
  color: $white;
  position: relative;
  overflow: visible;
  z-index:1000;
}

.masthead__topbar {
  @extend .padding--small;
}

.masthead__topbar__container {
  @extend .container;
  position:relative;
}

.masthead__topbar__inner {
  @extend .row;
}

.masthead__logo {
  @include make-xs-column(6);
  @include make-sm-column(4);
  @include make-md-column(3);
}

.masthead__search__container {
  @include make-xs-column(6);
  @include make-sm-column(8);
  @include make-md-column(9);
  padding-left: 0;
  position:static;
}

.masthead__links {
  float: right;
  padding: .25em 0;
  position: relative;
  position:static;
}

.masthead__link {
  @extend .font--sm;
  float: left;
  letter-spacing: 0px;
  text-transform: uppercase;
  a {
    text-decoration: none;
  }
}

.masthead__link--category {
  font-size: .725em;
  font-size: .875em;
  z-index: 200;
  overflow: visible;
  position: absolute;
  left:10px;
  top:30px;
}

.masthead__link--search{display: none;}
.masthead__link--clients {}

.masthead-categories__title {
  padding-right: .5em;
}

.masthead-categories {
  float: right;
  a{
    text-transform:uppercase;
  }
}

.masthead-category--selected {
  @extend .transition--link;
  @extend .link--underline;
  position: relative;
  padding-right:1.5em;
  .fa{
    position:absolute;
    right:0;
    top:0.2em;
  }
  .masthead-categories-sub {
    background: $white;
    color: $blue-dark;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0 1em;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 100%;
    width:250px;
    &.masthead-categories-sub--visible {
      max-height: 100vh;
    }
    li {
      padding: .25em 0;
      position: relative;
      &:first-child {
        padding-top: 1em;
      }
      &:last-child {
        padding-bottom: 1em;
      }
    }
  }
}

// Navigation Styles
.masthead__navigation__container {
  @extend .padding--small;
  @extend .container;
}

.masthead__navigation__inner {
  @extend .row;
}

.masthead__navigation {
  z-index: 100;
  position: relative;
  top: -1px;
  text-transform: uppercase;
  nav {
    @extend .font--sm;
    @include make-xs-column(12);
  }
}

.ie9{
  @media screen and (min-width: $bp-md-min) {
    .masthead__topbar {
      /* background-color:$blue-light; */
      background-image:url(../../assets/images/bg_individual.png);
      background-size:100% 100%;
    }
  }
}
.notie9{
  @media screen and (min-width: $bp-md-min) {
    .masthead__topbar {
      @include masthead_gradient($blue-light);
      background: -moz-linear-gradient(left, $blue-dark 0%, $blue-light 100%, $blue-light 100%);
      background: -webkit-linear-gradient(left, $blue-dark 0%, $blue-light 100%, $blue-light 100%);
      background: linear-gradient(to right, $blue-dark 0%, $blue-light 100%, $blue-light 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue-dark}', endColorstr='#{$blue-light}',GradientType=1 );
    }
  }
}

/* Media Queries */
@media screen and (min-width: $bp-md-min) {
  .masthead {
    background: none;
  }
  .masthead__navigation {
    background: rgba($blue-dark, .7);
    a {
      text-decoration: none;
    }
  }
  .masthead__navigation__container {
    padding-bottom: 0;
    padding-top: 0;
  }
  .masthead__link--search, .masthead__link--clients {
    display: block;
  }
  .masthead__link {
    padding-left: 1.5em;
  }
  .masthead__link--category {
    font-size: .875em;
    position:relative;
    left:0px;
    top:0px;
  }

  /*
  .masthead-category--selected {
    a {
      &:hover, &:focus {
        .masthead-categories-sub {
          max-height: 100em;
          overflow: visible;
        }
      }
    }
  }
  */
}

.notie9{
  .cs_individual{
    .masthead {
      @include masthead_gradient($blue-light);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue-dark}', endColorstr='#{$blue-light}',GradientType=1 );
    }
    @media screen and (min-width: $bp-md-min) {
      .masthead {
        background: none;
      }
      .masthead__topbar {
      @include masthead_gradient($blue-light);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue-dark}', endColorstr='#{$blue-light}',GradientType=1 );
      }
    }
  }
  .cs_charity{
    .masthead {
      @include masthead_gradient($charity-light);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue-dark}', endColorstr='#{$charity-light}',GradientType=1 );
    }
    @media screen and (min-width: $bp-md-min) {
      .masthead {
        background: none;
      }
      .masthead__topbar {
        @include masthead_gradient($charity-light);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue-dark}', endColorstr='#{$charity-light}',GradientType=1 );
      }
    }
  }
  .cs_financial{
    .masthead {
      @include masthead_gradient($financial-light);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue-dark}', endColorstr='#{$financial-light}',GradientType=1 );
    }
    @media screen and (min-width: $bp-md-min) {
      .masthead {
        background: none;
      }
      .masthead__topbar {
        @include masthead_gradient($financial-light);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue-dark}', endColorstr='#{$financial-light}',GradientType=1 );
      }
    }
  }
  .cs_professional{
    .masthead {
      @include masthead_gradient($professional-light);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue-dark}', endColorstr='#{$professional-light}',GradientType=1 );
    }
    @media screen and (min-width: $bp-md-min) {
      .masthead {
        background: none;
      }
      .masthead__topbar {
        @include masthead_gradient($professional-light);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue-dark}', endColorstr='#{$professional-light}',GradientType=1 );
      }
    }
  }
  .cs_task1762{
    .masthead {
      @include masthead_gradient($task1762-light);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue-dark}', endColorstr='#{$task1762-light}',GradientType=1 );
    }
    @media screen and (min-width: $bp-md-min) {
      .masthead {
        background: none;
      }
      .masthead__topbar {
        @include masthead_gradient($task1762-light);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue-dark}', endColorstr='#{$task1762-light}',GradientType=1 );
      }
    }
  }
}
.ie9{
  .cs_individual{
    .masthead {
      background-image:url(../../assets/images/bg_individual.png);
      background-size:100% 100%;
    }
    @media screen and (min-width: $bp-md-min) {
      .masthead {
        background: none;
      }
      .masthead__topbar {
        background-image:url(../../assets/images/bg_individual.png);
        background-size:100% 100%;
      }
    }
  }
  .cs_charity{
    .masthead {
      background-image:url(../../assets/images/bg_charity.png);
      background-size:100% 100%;
    }
    @media screen and (min-width: $bp-md-min) {
      .masthead {
        background: none;
      }
      .masthead__topbar {
        background-image:url(../../assets/images/bg_charity.png);
        background-size:100% 100%;
      }
    }
  }
  .cs_financial{
    .masthead {
      background-image:url(../../assets/images/bg_financial.png);
      background-size:100% 100%;
    }
    @media screen and (min-width: $bp-md-min) {
      .masthead {
        background: none;
      }
      .masthead__topbar {
        background-image:url(../../assets/images/bg_financial.png);
        background-size:100% 100%;
      }
    }
  }
  .cs_professional{
    .masthead {
      background-image:url(../../assets/images/bg_professional.png);
      background-size:100% 100%;
    }
    @media screen and (min-width: $bp-md-min) {
      .masthead {
        background: none;
      }
      .masthead__topbar {
        background-image:url(../../assets/images/bg_professional.png);
        background-size:100% 100%;
      }
    }
  }
  .cs_task1762{
    .masthead {
      background-image:url(../../assets/images/bg_task1762.png);
      background-size:100% 100%;
    }
    @media screen and (min-width: $bp-md-min) {
      .masthead {
        background: none;
      }
      .masthead__topbar {
        background-image:url(../../assets/images/bg_task1762.png);
        background-size:100% 100%;
      }
    }
  }
}

.cs_individual{
  @media screen and (min-width: $bp-md-min) {
    .masthead__navigation {
      background: rgba($blue-dark, .7);
    }
  }
}
.cs_charity{
  @media screen and (min-width: $bp-md-min) {
    .masthead__navigation {
      background: rgba($charity-dark, .7);
    }
  }
}
.cs_financial{
  @media screen and (min-width: $bp-md-min) {
    .masthead__navigation {
      background: rgba($financial-dark, .7);
    }
  }
}
.cs_professional{
  @media screen and (min-width: $bp-md-min) {
    .masthead__navigation {
      background: rgba($professional-dark, .7);
    }
  }
}
.cs_task1762{
  @media screen and (min-width: $bp-md-min) {
    .masthead__navigation {
      background: rgba($task1762-dark, .7);
    }
  }
}

