.hero {
  @extend .bg-image;
  /* @extend .curtain--bottom; */
  @extend .page-max-width;

  color: $white;
  min-height: 25em;
  padding: 5em 0;
  position: relative;
  display: block;
  
  .bg{
    position:absolute;
    left:0;
    top:0;
    z-index:0;
    width:100%;
    height:100%;
    @extend .bg-image;
    /* @extend .curtain--bottom; */
    @extend .transition--animation;
    &.hero-large{opacity:0;}
    &.hero-medium{opacity:0;}
    &.hero-mobile{opacity:1;}
  }
}

@media screen and (min-width: $bp_sm-min) {
  .hero {
    .bg{
      &.hero-large{opacity:0;}
      &.hero-medium{opacity:1;}
      &.hero-mobile{opacity:0;}
    }
  }
}
@media screen and (min-width: $bp_md-min) {
  .hero {
    .bg{
      &.hero-large{opacity:1;}
      &.hero-medium{opacity:0;}
      &.hero-mobile{opacity:0;}
    }
  }
}

.hero__content {
  @extend .container;
}

.hero__text {
  @extend .row;
}

.hero__text__inner {
  @include make-xs-column(12);
  @include make-sm-column(8);
  @include make-lg-column(6);
  @extend .col--centered;
  h1 {
    line-height: 1.2em;
    margin-bottom: 0.3em; 
    text-transform:uppercase;
    font-family: $font-family-bold-cond;
    letter-spacing:6px;
    @supports (-webkit-overflow-scrolling: touch) {
      &{
        letter-spacing:4px;
      }
    }
  }
}

.hero__subtitle {
  font-size: 1.646em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  @extend .font--serif--italic;
}

.hero__overlay {
  background: rgba($blue-dark, .3);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero--search {
  .hero__text {
    padding: 10em 0;
  }
}

@media screen and (min-width: $bp_md-min) {
  .hero {
    margin-top: -4.5em;
    min-height: 34em;
    padding: 10em 0 0 0;
  }
}

.become__client{
  text-align:center;
  @include make-xs-column(10);
  @include make-sm-column(6);
  @include make-lg-column(6);
  @extend .col--centered;
  .content{
    width:100%;
    background-color:#fff;
    border-radius:24px;
    box-sizing:border-box;
    padding:2em;
    h2{
      margin:0;
      font-weight:600;
      letter-spacing:0px;
      
      @supports (-webkit-overflow-scrolling: touch) {
        &{
          letter-spacing:-2px;
        }
      }
    }
    p{color:#636363;}
    button{margin:0.5em auto;display:block;}
    a.login{
      display:inline-block;
      color:#171f45;
      @extend .link--bold--underline;
      font-weight: 500;
    }
  }
  svg{position:relative;z-index:1000;top:-1px;}
}

#tail1 {
  fill: #fff;
  opacity:1.0;
}
.bps-follow{margin-bottom:2em;}