.basicLightbox {
  z-index: 3000;
  overflow: scroll;
  height: 100%;
  display: block;
  padding: 0em;
}

@media screen and (min-width: $bp_md-min) {
  	.basicLightbox {
  		padding: 0em;
  	}
}

.basicLightbox__placeholder {
  background: $white;
  position:relative;
  left:0.5em;
  @extend .page-max-width;
  padding:10px 16px 16px 16px;
}

.noscroll {
	overflow: hidden;
}

.brightalk{
  overflow: hidden;

  .basicLightbox__placeholder {
    width:80%;
    max-width:800px;
    margin-top:60px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    h2{margin:0 auto;}
    img.close{
      position:absolute;
      right:16px;
      top:16px;
      cursor:pointer;
    }
    .jsBrightTALKEmbedWrapper {
      position: relative;
      padding-bottom: 42.25%;
      overflow: hidden;
      max-width: 100%; 
      iframe,
      object,
      embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}