/* ------
 Menu Blackout Screen
 ------ */
.menu__screen {
  background: rgba(0,0,0,0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.menu__open {
  left: 0;

  /* might have to remove these as the menu extends past bottom of view port in some cases */
  /*
  overflow: hidden;
  position: fixed;
  */

  width: 100%;
  .menu__screen {
    display: block;
  }
}

/* ------
 Search Panel
 ------ */
.masthead__navigation__mobile {
  display: block;
  float: right;
  .masthead__link--search--mobile {
    position:relative;
    /*
    &:before {
      content: "\f002";
	    font-family: 'FontAwesome';
      font-size: 1.5em;
      display: inline-block;
      position: absolute;
      right: .75em;
      top: -.125em;
    }
    */
  }
  input.input__search--header {
    float: none;
    font-size: 1.25em;
    margin: 0.25em 0.5em;
    position: relative;
    z-index: 100;
    &::placeholder {
      opacity: 0;
    }
    &:focus, &:active {
      &::placeholder {
        opacity: 1;
      }
    }
  }
  input.fa-search-submit{
    font-size:1.5em;
  }
}

/* ------
 Mobile Navigation Button
 ------ */
.btn-menu {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  float: right;
  height: 25px;
  position: relative;
  width: 40px;
  .text {
  	display: block;
  	text-indent: 150%;
  	white-space: nowrap;
  	overflow: hidden;
  }
  .bar {
  	left: 0;
    top: 10px;
    &, &:before, &:after {
      @extend .transition--link;
      background-color: $white;
    	display: block;
      height: 2px;
      position: absolute;
      width: 20px;
    }
    &:before {
    	content: '';
      left: 0;
      position: absolute;
    	top: 7px;
    }
    &:after {
    	content: '';
      left: 0;
      position: absolute;
    	top: -7px;
    }
  }
}

/* Open Menu Button Styles */
.menu__open {
  .btn-menu {
    &:focus {
      outline: none;
    }
    .bar {
    	background-color: transparent;
      &:before {
      	top: 0;
      	-webkit-transform: rotate(45deg);
      	transform: rotate(45deg);
      }
      &:after {
      	top: 0;
      	-webkit-transform: rotate(-45deg);
      	transform: rotate(-45deg);
      }
    }
  }
}

/* ------------
------------
 Navigation Menu Styles
 ------------
 ------------ */
.navigation__primary,
.navigation__secondary,
.navigation__tertiary {
  list-style-type: none;
  overflow: hidden;
  text-align: left;
  transition: all .4s;
  li {
    &:first-child {
      padding-top: 1.25em;
    }
    &:last-child {
      padding-bottom: 1.25em;
    }
  }
  a {
    @extend .font--light-cond;
    @extend .padding--small;
    letter-spacing:2px;
    font-family: $font-family-light-cond;
    display: block;
    color: $blue-dark;
    padding-left: 3em;
    padding-right: 3em;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.navigation__primary, .navigation__secondary, .navigation__tertiary {
  max-height: 0;
}

/* Primary Navigation */
.navigation__primary {
  background: $white;
  left: 0;
  position: absolute;
  top: 1em;
  width: 100%;
  li {
    display: block;
    a {
      position: relative;
    }
    &.has__secondary__menu {
      > a {
        @extend .link--plus;
      }
    }
    &.menu__secondary__open {
      > a {
        &:before {
          content: "-";
        }
      }
    }
  }
}


/* Secondary Navigation */
.navigation__secondary {
  background: $white;
  right: 0;
  position: absolute;
  top: 1em;
  width: 100%;
  li {
    display: block;
    a {
      position: relative;
    }
    &.has__tertiary__menu {
      > a {
        @extend .link--plus;
      }
    }
    &.menu__tertiary__open {
      > a {
        &:before {
          content: "-";
        }
      }
    }
  }
}


/* Tertiary Navigation */
/*.navigation__tertiary {
  background: $white;
  left: 0;
  position: absolute;
  top: 1em;
  width: 100%;
  li {
    display: block;
    a {
      position: relative;
    }
  }
}*/



.menu__open {
  .navigation__primary {
    max-height: 100em;
  }
}

/* Secondary Navigation */
.navigation__secondary {
  background: $gray-light;
  position: relative;
}

.menu__secondary__open {
  .navigation__secondary {
    @extend .has_tooltip;
    max-height: 100em;
    overflow: visible;
  }
}

/* Tertiary Navigation */
.navigation__tertiary {
  max-height: 0;
  opacity: 0;
}


.navigation__tertiary {
  background: $gray-light;
  position: relative;
}


.menu__tertiary__open {  
  .navigation__tertiary {
    opacity: 1;
    @extend .has_tooltip;
    max-height: 100em;
    overflow: visible;
    margin-left: 1em;
  }
}


/* ------
 Breakpoints
------ */
@media screen and (min-width: $bp-md-min) {

  /* hide additional nav for desktop*/
  .navigation__secondary li.navigation__additional__mob a{
    display: none;
  }

  .masthead__navigation__mobile {
    display: none;
  }
  .navigation__primary, .navigation__secondary, .navigation__tertiary {
    li {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  .navigation__secondary, .navigation__tertiary {
    li {
      a {
        &:hover, &:focus {
          color: $blue-light;
        }
      }
    }
  }
  .navigation__primary {
    background: transparent;
    max-height: 1000em;
    overflow: visible;
    position: relative;
    text-align: center;
    top: 0;
    > li {
      display: inline-block;
      padding: 1em 0;
      &:first-child {
        padding-top: 0;
      }
      &.has__secondary__menu {
        a {
          &:before {
            display: none;
          }
        }
        &:hover {
          .navigation__secondary {
            max-height: 100em;
            min-height: 20em;
          }
        }
      }
    }
    .link {
      color: $white;
      display: block;
      padding-left: .5em;
      padding-right: .5em;
      &:after {
        content: "";
        background-color: transparent;
        bottom: 0;
        display: block;
        height: 1px;
        margin: .75em auto 0 - .75em;
        width: 4em;
      }
      &:hover, &:focus, &.link--active {
        &:after {
          background-color: $blue-light;
        }
      }
    }
  }
  .navigation__secondary {
    background: rgba($white, 1);
    display: block;
    width: 100%;
    width:792px;
    position: absolute;
    top: 100%;
    right:50%;

    -webkit-transform: translate(50%,0);
    -moz-transform: translate(50%,0);
    -ms-transform: translate(50%,0);
    -o-transform: translate(50%,0);
    transform: translate(50%,0);    
    
    text-align: right;
    > li {
      width: 50%;
      > a {
        position: relative;
      }
      &:last-child {
        padding-bottom: 1em;
      }
      &.has__tertiary__menu {
        a {
          &:after {
            content: ' ';
            border: 10px solid transparent;
            height: 0;
            position: absolute;
            width: 0;
          }
          &:after {
            border-right-color: $gray-light;
            opacity: 0;
            position: absolute;
            right: 0;
            top: .5em;
            z-index: 200;
          }
        }
        &:hover, &:focus {
          a {
            &:after {
              opacity: 1;
            }
          }
          .navigation__tertiary {
            opacity: 1;
            overflow: visible;
            z-index: 200;
          }
          > a {
            &:before {
              content: '–';
            }
          }
        }
        > a {
          &:before {
            content: '+';
            color: $blue-light;
            display: inline-block;
            font-size: 18px;
            right: 0.6em;
            position: absolute;
            top: .140em;
          }
        }
      }
    }
  }
  .navigation__tertiary {
    background: rgba($gray-light, 0.8);
    min-height: 20em;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: -1;
  }
}

@media screen and (min-width: $bp-lg-min) {
  .navigation__primary {
    .link {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}

.cs_individual{
  .navigation__primary,
  .navigation__secondary,
  .navigation__tertiary {
    a {
      color: $blue-dark;
    }
  }
  @media screen and (min-width: $bp-md-min) {
    .navigation__secondary, .navigation__tertiary {
      li {
        a {
          &:hover, &:focus {
            color: $blue-light;
          }
        }
      }
    }
    .navigation__primary {
      .link {
        color: $white;
        &:hover, &:focus, &.link--active {
          &:after {
            background-color: $blue-light;
          }
        }
      }
    }
    .navigation__secondary {
      > li {
        &.has__tertiary__menu {
          > a {
            &:before {
              color: $blue-light;
            }
          }
        }
      }
    }
  }
}
.cs_charity{
  .navigation__primary,
  .navigation__secondary,
  .navigation__tertiary {
    a {
      color: $charity-dark;
    }
  }
  @media screen and (min-width: $bp-md-min) {
    .navigation__secondary, .navigation__tertiary {
      li {
        a {
          &:hover, &:focus {
            color: $charity-light;
          }
        }
      }
    }
    .navigation__primary {
      .link {
        color: $white;
        &:hover, &:focus, &.link--active {
          &:after {
            background-color: $charity-light;
          }
        }
      }
    }
    .navigation__secondary {
      > li {
        &.has__tertiary__menu {
          > a {
            &:before {
              color: $charity-light;
            }
          }
        }
      }
    }
  }
}
.cs_financial{
  .navigation__primary,
  .navigation__secondary,
  .navigation__tertiary {
    a {
      color: $financial-dark;
    }
  }
  @media screen and (min-width: $bp-md-min) {
    .navigation__secondary, .navigation__tertiary {
      li {
        a {
          &:hover, &:focus {
            color: $financial-light;
          }
        }
      }
    }
    .navigation__primary {
      .link {
        color: $white;
        &:hover, &:focus, &.link--active {
          &:after {
            background-color: $financial-light;
          }
        }
      }
    }
    .navigation__secondary {
      > li {
        &.has__tertiary__menu {
          > a {
            &:before {
              color: $financial-light;
            }
          }
        }
      }
    }
  }
}
.cs_professional{
  .navigation__primary,
  .navigation__secondary,
  .navigation__tertiary {
    a {
      color: $professional-dark;
    }
  }
  @media screen and (min-width: $bp-md-min) {
    .navigation__secondary, .navigation__tertiary {
      li {
        a {
          &:hover, &:focus {
            color: $professional-light;
          }
        }
      }
    }
    .navigation__primary {
      .link {
        color: $white;
        &:hover, &:focus, &.link--active {
          &:after {
            background-color: $professional-light;
          }
        }
      }
    }
    .navigation__secondary {
      > li {
        &.has__tertiary__menu {
          > a {
            &:before {
              color: $professional-light;
            }
          }
        }
      }
    }
  }
}
.cs_task1762{
  .navigation__primary,
  .navigation__secondary,
  .navigation__tertiary {
    a {
      color: $task1762-dark;
    }
  }
  @media screen and (min-width: $bp-md-min) {
    .navigation__secondary, .navigation__tertiary {
      li {
        a {
          &:hover, &:focus {
            color: $task1762-light;
          }
        }
      }
    }
    .navigation__primary {
      .link {
        color: $white;
        &:hover, &:focus, &.link--active {
          &:after {
            background-color: $task1762-light;
          }
        }
      }
    }
    .navigation__secondary {
      > li {
        &.has__tertiary__menu {
          > a {
            &:before {
              color: $task1762-light;
            }
          }
        }
      }
    }
  }
}
