/* overlay */

/*
$bp_sm-min: 768px;
$bp_md-min: 992px;
$bp_lg-min: 1200px;

$disclaimer-height: 60px;

$page-max-width:1170px;
*/

.overlay{
	width:100vw;
	position:fixed;
	top:-120%;
	left:50%;
	z-index:3000;
	
    -webkit-transform:translate(-50%,0%);
    -ms-transform:translate(-50%,0%);
    transform:translate(-50%,0%);

    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;

	.contentSwitch > h2{
	  font-size:1em;
	  margin:1em 0 1em 0px;
	}

	.outer{
		width:91.7%;
		height:auto;
		margin:0 auto;
		max-height:90vh;
		background-color:#ededed;
		-webkit-box-shadow: 0px 0px 10px  rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 10px  rgba(0,0,0,0.75);
		box-shadow: 0px 0px 10px  rgba(0,0,0,0.75);
		position:relative;
		overflow:auto;
		padding-right:16px;
		padding-left:16px;
		box-sizing:border-box;
		header{

		}

		.closer{
			position:absolute;
			right:18px;
			top:18px;
			background: url('../../assets/images/close2.png');
			background-repeat:no-repeat;
			background-position:left top;
			display:block;
			width:38px;
			height:38px;
			overflow:hidden;
			text-indent:-9999em;
			span{
				
			}
		}
		.inner{
			
		}
	}
	.contentSwitch.start{
		display:block;
	}
	.contentSwitch.end{
		display:none;
		.header{
			h2{}
			h3{
			    font-size: 2.4em;
			    letter-spacing: 0px;
			    line-height: 44px;
			    margin-bottom: .5em;
			}
			p{
				color:#636363;
				span{
					color:#171e45;
					font-weight:600;
				}
			}
		}
	}
	&.showEnd{
		.contentSwitch.start{
			display:none;
		}
		.contentSwitch.end{
			display:block;
			min-height:200px;
		}
	}
	@media screen and (min-width: $page-max-width) {
		max-width:1106px;
		.outer{
			
		}
	}
}

.overlay#req,
.overlay#news,
.overlay#emailform{
	.find-more{
		padding-top:0px;
		padding-bottom:0px;
		.find-more__header{
			max-width:100%;
		}
	}
}

.req_open{
	.overlay#req{
		top:20px;
	}
}
.news_open{
	.overlay#news{
		top:20px;
	}
}
.emailform_open{
	.overlay#emailform{
		top:20px;
	}
}

