<!--
  single article
  404
-->
    <section class="articles-single">
      <div class="articles-single__container">
        <div class="articles-single__inner">
            <h1>404 page not found</h1>
            <p>You seem to have wandered off the path...</p>
        </div>
      </div>
    </section>
    <section class="curtain-follow curtain-follow--footer">
      <div class="curtain-follow__inner">
      </div>
    </section>
