    <section class="blocks-brewin blocks-brewin--full blocks-brewin--gray bps2_risk_profile">
      <div class="blocks-brewin__container">
        <div class="blocks-brewin__inner">
          <div class="block-brewin nogutter">
            <div class="block-brewin__content outer">
              <div class="block-brewin__content__text">
                <h2>BPS risk profiles</h2>

                <div class="bp2_expander1">
                  <a href="#" class="expanderButton">Read more<span></span></a>
                  <a href="#" class="collapseButton">Read less<span></span></a>
                  <div class="wrapper">

<div class="riskrow">
  <div class="side1">
    <img class="marker" style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="https://www.brewin.co.uk/link//d75f18fb5b5f4a3b9fef8c81bc29fe1c.aspx">

    <h3>No investment risk - portfolio not available</h3>
    <p>You are completely averse to any investments that could put your capital at risk. You accept that, in light of inflation, this is highly likely to have the effect of eroding the purchasing power of your capital. This typically means that your money will be held in cash, building society accounts or national savings.</p>
  </div>
  <div class="side2"></div>
</div>

<div class="riskrow">
  <div class="side1">
    <img class="marker" style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="https://www.brewin.co.uk/link//000bbda90d284b83a2a60e861581b2e4.aspx">

    <h3>Extremely low risk - portfolio not available</h3>
    <p>You are prepared to accept only a very limited risk of loss to your capital. As a result your investment portfolio is likely to be composed of interest bearing assets with limited potential for short or long-term growth. You accept that in light of inflation, this strategy may have the effect of eroding the purchasing power of your capital. This means that you will still typically invest in cash and national savings, but will also have some exposure to fixed income investments (in the form of UK Government securities - gilts) and to equities (in the form of collective investment schemes).</p>
  </div>
  <div class="side2"></div>
</div>

<div class="riskrow greyrow">
  <div class="side1">
    <img class="marker" style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="https://www.brewin.co.uk/link//e66f8de60804458f8ad6bccca82951a1.aspx">

    <h3>Very low investment risk portfolio</h3>
    <p>You are averse to risk and therefore not comfortable with significant investments in your portfolio which might put your capital at risk. Preservation of your capital is very important to you and you would like to maintain the real value of your investments against inflation. Your portfolio will typically have some exposure to equities and a proportionately higher exposure to fixed income investments, at least some of which will contain market exposure.</p>
  </div>
  <div class="side2">
    <img style="width: 100%; max-width: 364px; min-width: 160px;" alt="" src="https://www.brewin.co.uk/link//8e4baa58d0b2463e8c72a57ea9f5792b.aspx">
    <a href="https://www.brewin.co.uk/link//dc710cc32249413089897b4de2ae4720.aspx" target="_blank"><img style="width: 100%; max-width: 51px; min-width: 40px;" alt="" src="https://www.brewin.co.uk/link//bf51bc2652d1443faee59047a35bd9a7.aspx"></a>
  </div>
</div>

<div class="riskrow greyrow">
  <div class="side1">
    <img class="marker" style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="https://www.brewin.co.uk/link//09b673b9fe224019aa118361165daca7.aspx">

    <h3>Low investment risk portfolio</h3>
    <p>You are not comfortable with having the majority of your portfolio in higher risk investments such as equities. Capital preservation is important to you and you would like to maintain the real value of your investments against inflation. Your portfolio is likely to be more evenly balanced between equities and fixed income investments.</p>
  </div>
  <div class="side2">
    <img style="width: 100%; max-width: 364px; min-width: 160px;" title="risk level 4 - BPS" alt="" src="https://www.brewin.co.uk/link//6501668c5efc4ff4a9586e254f7d04b2.aspx">
    <a href="https://www.brewin.co.uk/link//221b743e1ea6438d84c1cd2c7d817c66.aspx" target="_blank"><img style="width: 100%; max-width: 51px; min-width: 40px;" alt="" src="https://www.brewin.co.uk/link//bf51bc2652d1443faee59047a35bd9a7.aspx"></a>
  </div>
</div>
<div class="riskrow greyrow">
  <div class="side1">
    <img class="marker" style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="https://www.brewin.co.uk/link//05b5d48de83d44eda61495d8a36cd446.aspx">

    <h3>Low to moderate investment risk portfolio</h3>
    <p>You would like a significant proportion of your portfolio to be in higher risk investments and you are willing to accept a greater short term potential for losses from your overall portfolio, in order to generate potentially higher long term returns. Your portfolio may typically have a higher exposure to equities than fixed income investments and is likely to have low to moderate levels of market volatility.</p>
  </div>
  <div class="side2">
    <img style="width: 100%; max-width: 364px; min-width: 160px;" title="risk level 5 - allocation - BPS" alt="" src="https://www.brewin.co.uk/link//5baa41518db04cbf8b0a926396570782.aspx">
    <a href="https://www.brewin.co.uk/link//8f39eb6f8a1742bbab44210e3a341f75.aspx" target="_blank"><img style="width: 100%; max-width: 51px; min-width: 40px;" alt="" src="https://www.brewin.co.uk/link//bf51bc2652d1443faee59047a35bd9a7.aspx"></a>
  </div>
</div>

<div class="riskrow greyrow">
  <div class="side1">
    <img class="marker" style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="https://www.brewin.co.uk/link//efe4d63f6ae04c30a3f07611feba6135.aspx">
    <h3>Moderate investment risk portfolio</h3>
    <p>You are prepared to have the significant majority of your investments in equities in order to achieve higher returns at the expense of greater risk to your capital. Your portfolio will typically have a substantially higher weighting towards equities than fixed income investments and is likely to have moderate market volatility.</p>
  </div>
  <div class="side2">
    <img style="width: 100%; max-width: 364px; min-width: 160px;" title="risk level 6 - allocation - BPS" alt="" src="https://www.brewin.co.uk/link//65eb9b5439b3418fa50a55fe720df58b.aspx">
    <a href="https://www.brewin.co.uk/link//ebcf55f19fe14855a8c800c5effd248f.aspx" target="_blank"><img style="width: 100%; max-width: 51px; min-width: 40px;" alt="" src="https://www.brewin.co.uk/link//bf51bc2652d1443faee59047a35bd9a7.aspx"></a>
  </div>
</div>

<div class="riskrow greyrow">
  <div class="side1">
    <img class="marker" style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="https://www.brewin.co.uk/link//0c27d1445ff9461f869321960d183375.aspx">
    <h3>Moderate to high investment risk portfolio</h3>
    <p>You would like to have the opportunity for large scale returns and you are comfortable with having a larger proportion of your capital at risk, and accept the possibility of larger short term losses, in order to achieve your long term investment aims. Your portfolio will typically have a very high weighting towards equities and very low levels of fixed income investments. Your portfolio is likely to have moderate to high market volatility.</p>
  </div>
  <div class="side2">
    <img style="width: 100%; max-width: 364px; min-width: 160px;" title="risk level 7 - allocation - BPS" alt="" src="https://www.brewin.co.uk/link//c6485cc9689d46b4b3c42bc739b2281e.aspx">
    <a href="https://www.brewin.co.uk/link//33daff9945cc44c2a0f7f0a8da27242d.aspx" target="_blank"><img style="width: 100%; max-width: 51px; min-width: 40px;" alt="" src="https://www.brewin.co.uk/link//bf51bc2652d1443faee59047a35bd9a7.aspx"></a>
  </div>
</div>

<div class="riskrow greyrow">
  <div class="side1">
    <img class="marker" style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="https://www.brewin.co.uk/link//5f32c97a694146c98ddac551db95d1e9.aspx">
    <h3>High investment risk portfolio</h3>
    <p>You would like to have the opportunity for high returns and you are prepared to accept the possibility of a significant loss of capital in order to achieve these greater potential returns. Your portfolio will typically be almost exclusively invested in equities. Your portfolio is likely to have high market volatility.</p>
  </div>
  <div class="side2">
    <img style="width: 100%; max-width: 364px; min-width: 160px;" title="risk level 8 - allocation - BPS" alt="" src="https://www.brewin.co.uk/link//ed9bb1f031034efab7dcb1e175f7e958.aspx">
    <a href="https://www.brewin.co.uk/link//51be4d102546481c915047ec0fb0215a.aspx" target="_blank"><img style="width: 100%; max-width: 51px; min-width: 40px;" alt="" src="https://www.brewin.co.uk/link//bf51bc2652d1443faee59047a35bd9a7.aspx"></a>
  </div>
</div>

<div class="riskrow">
  <div class="side1">
    <img class="marker" style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="https://www.brewin.co.uk/link//09a5e7756d944f46829a1a3366e91d17.aspx">
    <h3>Very high investment risk - portfolio not available</h3>
    <p>You are willing to invest in higher risk and speculative investments to achieve high possible returns and accept the risk of losing all, or a substantial part, of your capital. Typically, this could include very high risk investments such as venture capital trusts, enterprise investment schemes, business property relief schemes and other specialist investments.</p>
  </div>
  <div class="side2"></div>
</div>

<div class="riskrow">
  <div class="side1">
    <img class="marker" style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="https://www.brewin.co.uk/link//409ab8f29e7c4a098e3c7ee3e3cb807f.aspx">
    <h3>Extremely high investment risk - portfolio not available</h3>
    <p>You are prepared to make wholly speculative investments, fully aware of and accepting the possibility of losing all of your capital. This could typically be in the form of derivatives and contingent liability investments, which often include gearing, which means you could lose more than your initial capital investment. You are totally insensitive to risk.</p>
  </div>
  <div class="side2"></div>
</div>

                </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </section>
