    <section class="login-panels login-panels--gray">
      <div class="login-panels__container">
        <div class="login-panels__inner">

          <div class="block">
            <div class="login-panel">
              <div class="login-panel__content">
                <div class="login-panel__content__text">
                  <h2>My Brewin client</h2>
                  <p>
                    MyBrewin provides portfolio and performance information and is available on all mobile and tablet devices.
                    <a href="#" class="button">Access MyBrewin</a>
                  </p>

                  <h3>MyBrewin contact details</h3>

                  <p class="login-panel__details">
                    Monday - Friday 8.00am to 5.00pm
                  </p>
                  <p class="login-panel__details">
                    +44 (0) 1234567890
                  </p>

                  <p class="login-panel__details">
                    <a href="#">mybrewin@brewin.co.uk</a>
                  </p>

                  <p class="login-panel__details">
                    <span>MyBrewin</span>
                    <span>Time Central</span>
                    <span>Gallowgate</span>
                    <span>Newcastle upon Tyne</span>
                    <span>NE1 4SR</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="block">

            <div class="login-panel">
              <div class="login-panel__content">
                <div class="login-panel__content__text">
                  <h2>Brewin portfolio service (BPS) clients</h2>
                  <p>
                    MyBrewin provides portfolio and performance information and is available on all mobile and tablet devices.
                    <a href="#" class="button">Access BPS</a>
                  </p>

                  <h3>BPS contact details</h3>
                  <p class="login-panel__details">
                    Monday - Friday 8.00am to 5.00pm
                  </p>
                  <p class="login-panel__details">
                    +44 (0) 1234567890
                  </p>

                  <p class="login-panel__details">
                    <a href="#">mybrewin@brewin.co.uk</a>
                  </p>

                  <p class="login-panel__details">
                    <span>MyBrewin</span>
                    <span>Time Central</span>
                    <span>Gallowgate</span>
                    <span>Newcastle upon Tyne</span>
                    <span>NE1 4SR</span>
                  </p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>
