<section class="blocks-brewin blocks-brewin--full">
    <div class="blocks-brewin__container">
        <div class="blocks-brewin__inner">
            <div class="block textcolumninfoblock  "><div class="block-brewin">
    <div class="block-brewin__content">
        <div class="block-brewin__content__text">
                    <h3>Illustrative charges on a range of portfolio values</h3>
                            <div class="whatis_right_info">
                    <table style="width: 100%;">
<tbody>
<tr>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">Portfolio value</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£2,000*</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£5,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£10,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£15,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£50,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£100,000</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">Service fee @ 0.70%</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£14</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£35</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£70</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£105</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£350</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£700</td>
</tr>
<tr>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">Estimated underlying Annual Fund charges @ 0.16% **</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£3.20</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£8</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£16</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£24</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£80</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£160</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;"><strong>Total Estimated Annual Service Cost</strong></td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;"><strong>£17.20</strong></td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;"><strong>£43</strong></td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;"><strong>£86</strong></td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;"><strong>£129</strong></td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;"><strong>£430</strong></td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;"><strong>£860</strong></td>
</tr>
<tr>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;"><strong>Total % Charge</strong></td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;"><strong>0.86%</strong></td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;"><strong>0.86%</strong></td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;"><strong>0.86%</strong></td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;"><strong>0.86%</strong></td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;"><strong>0.86%</strong></td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;"><strong>0.86%</strong></td>
</tr>
<tr style="background-color: #ebebed;">
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">Charged monthly at:***</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£1.17</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£2.92</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£5.83</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£8.75</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£29.17</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£58.33</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>* The BPS investment minimum is £2,000, however you can start a Junior ISA or a Bare Trust from £100 per month.</p>
<p>Dependent on the amount invested, the average performance of your portfolio will be impacted by the total estimated annual service cost figures shown in the table, or the portfolio percentage shown in the table as the total % charge.</p>
<p>** Our portfolios are invested in a range of underlying funds, all of which levy their own management charges within their pricing structure. The estimated average annual fund charge is 0.16%. Such costs are not charged directly to BPS portfolios, but impact indirectly though the corresponding reduction in the value of the underlying funds.</p>
<p>*** Service fee charged monthly and deducted on the 1st business day of each month in arrears. UK VAT and Stamp Duty is applied on fees and charges in line with applicable legislation. Other duties, transaction taxes etc. may apply in certain cases in line with overseas law.</p>
                </div>
                    </div>
    </div>
</div></div>
        </div>
    </div>
</section>