<!--
  related links
  content block: triple column
-->
    <section class="related-links">
      <h4>You may also be interested in</h4>
      <div class="related-links__wrapper">
        <div class="related-links__inner">

          <article class="related-links__block">
            <div class="related-links__block-brewin__inner">
              <div class="related-links__image">
                <img src="http://placehold.it/400x300" />
              </div>
              <div class="related-links__content">
                <h3>Budget title</h3>
                <p>
                  Sodis natoque penatibus et magnis dis turient montes, nascetur ridiculus mus.
                </p>
                <a class="link--bold--underline">More</a>
              </div>
            </div>
          </article>
          <article class="related-links__block">
            <div class="related-links__block-brewin__inner">
              <div class="related-links__image">
                <img src="http://placehold.it/400x300" />
              </div>
              <div class="related-links__content">
                <h3>Making a will title</h3>
                <p>
                  Sodis natoque penatibus et magnis dis turient montes, nascetur ridiculus mus.
                </p>
                <a class="link--bold--underline">More</a>
              </div>
            </div>
          </article>
          <article class="related-links__block">
            <div class="related-links__block-brewin__inner">
              <div class="related-links__image">
                <img src="http://placehold.it/400x300" />
              </div>
              <div class="related-links__content">
                <h3>Cost of education title</h3>
                <p>
                  Sodis natoque penatibus et magnis dis turient montes, nascetur ridiculus mus.
                </p>
                <a class="link--bold--underline">More</a>
              </div>
            </div>
          </article>

        </div>
      </div>
    </section>
