<section class="blocks-brewin blocks-brewin--full">
<div class="blocks-brewin__container">
<div class="blocks-brewin__inner">
<div class="block textcolumninfoblock  ">
<div class="block-brewin">
<div class="block-brewin__content">
<div class="block-brewin__content__text">
<h3>Six ready-made portfolios</h3>
<div class="whatis_right_info">
<p>The Brewin Portfolio Service is a range of six ready-made portfolios designed to suit a variety of risk appetites. To determine which one is right for you, please read the descriptions below. More information on each portfolio’s current construction and historical performance can be found by clicking on the PDFs next to each portfolio’s description.</p>
<p>&nbsp;Each BPS portfolio is built from a combination of investment funds selected by our award-winning research team. To find out more about the funds used to craft these portfolios, you can read the Key Investor Information Documents (or KIIDs) <a href="/link/3e96938dac314806895f052818684d77.aspx">here</a>.</p>
</div>
</div>
</div>
</div></div><div class="block textcolumninfoblock  "><div class="block-brewin">
<div class="block-brewin__content">
<div class="block-brewin__content__text">
<h3>Risk Profiles</h3>
<div class="whatis_right_info">
<table style="width: 100%; text-align: left; vertical-align: top;">
<tbody>
<tr>
<td style="vertical-align: top;">
<p><img style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="/link/d75f18fb5b5f4a3b9fef8c81bc29fe1c.aspx"></p>
</td>
<td style="max-width: 500px; align: left; vertical-align: top; padding-right: 20px;">
<h4 class="naturalBrewinStyle"><span style="color: #888888;">NO INVESTMENT RISK - PORTFOLIO NOT AVAILABLE</span></h4>
<p>You are completely averse to any investments that could put your capital at risk. You accept that, in light of inflation, this is highly likely to have the effect of eroding the purchasing power of your capital. This typically means that your money will be held in cash, building society accounts or national savings.</p>
</td>
<td style="vertical-align: top; padding-top: 40px;">
<p>&nbsp;</p>
</td>
<td style="vertical-align: top; padding-top: 40px;">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="max-width: 50px; align: left; vertical-align: top; padding-right: 20px;">
<p><img style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="/link/000bbda90d284b83a2a60e861581b2e4.aspx"></p>
</td>
<td style="max-width: 500px; align: left; vertical-align: top; padding-right: 20px;">
<h4 class="naturalBrewinStyle"><span style="color: #888888;">EXTREMELY LOW RISK - PORTFOLIO NOT AVAILABLE</span></h4>
<p>You are prepared to accept only a very limited risk of loss to your capital. As a result your investment portfolio is likely to be composed of interest bearing assets with limited potential for short or long-term growth. You accept that in light of inflation, this strategy may have the effect of eroding the purchasing power of your capital. This means that you will still typically invest in cash and national savings, but will also have some exposure to fixed income investments (in the form of UK Government securities - gilts) and to equities (in the form of collective investment schemes).</p>
</td>
<td style="vertical-align: middle; padding-top: 40px;">
<p>&nbsp;</p>
</td>
<td style="vertical-align: middle; padding-top: 40px;">
<p>&nbsp;</p>
</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="vertical-align: top; padding-top: 40px;">
<p><img style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="/link/e66f8de60804458f8ad6bccca82951a1.aspx">&nbsp;</p>
</td>
<td style="max-width: 500px; align: left; vertical-align: top; padding-right: 20px; padding-top: 40px;">
<h4 class="naturalBrewinStyle">VERY LOW INVESTMENT RISK PORTFOLIO</h4>
<p>You are averse to risk and therefore not comfortable with significant investments in your portfolio which might put your capital at risk. Preservation of your capital is very important to you and you would like to maintain the real value of your investments against inflation. Your portfolio will typically have some exposure to equities and a proportionately higher exposure to fixed income investments, at least some of which will contain market exposure.</p>
</td>
<td style="vertical-align: top; padding-top: 40px;">
<p>&nbsp;<img style="width: 100%; max-width: 364px; min-width: 160px;" alt="" src="/link/8e4baa58d0b2463e8c72a57ea9f5792b.aspx"></p>
</td>
<td style="vertical-align: top; padding-top: 40px;">
<p>&nbsp;</p>
<p><a href="/link/dc710cc32249413089897b4de2ae4720.aspx" target="_blank"><img style="width: 100%; max-width: 51px; min-width: 40px;" alt="" src="/link/bf51bc2652d1443faee59047a35bd9a7.aspx"></a></p>
</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="vertical-align: top; padding-top: 40px;">
<p><img style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="/link/09b673b9fe224019aa118361165daca7.aspx"></p>
</td>
<td style="max-width: 500px; align: left; vertical-align: top; padding-right: 20px; padding-top: 40px;">
<h4 class="naturalBrewinStyle">LOW INVESTMENT RISK PORTFOLIO</h4>
<p>You are not comfortable with having the majority of your portfolio in higher risk investments such as equities. Capital preservation is important to you and you would like to maintain the real value of your investments against inflation. Your portfolio is likely to be more evenly balanced between equities and fixed income investments.</p>
</td>
<td style="vertical-align: top; padding-top: 40px;">
<p>&nbsp;<img style="width: 100%; max-width: 364px; min-width: 160px;" title="risk level 4 - BPS" alt="" src="/link/6501668c5efc4ff4a9586e254f7d04b2.aspx"></p>
</td>
<td style="vertical-align: top; padding-top: 40px;">
<p>&nbsp;</p>
<p><a href="/link/221b743e1ea6438d84c1cd2c7d817c66.aspx" target="_blank"><img style="width: 100%; max-width: 51px; min-width: 40px;" alt="" src="/link/bf51bc2652d1443faee59047a35bd9a7.aspx"></a></p>
</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="vertical-align: top; padding-top: 40px;">
<p><img style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="/link/05b5d48de83d44eda61495d8a36cd446.aspx"></p>
</td>
<td style="max-width: 500px; align: left; vertical-align: top; padding-right: 20px; padding-top: 40px;">
<h4>LOW TO MODERATE INVESTMENT RISK PORTFOLIO</h4>
<p>You would like a significant proportion of your portfolio to be in higher risk investments and you are willing to accept a greater short term potential for losses from your overall portfolio, in order to generate potentially higher long term returns. Your portfolio may typically have a higher exposure to equities than fixed income investments and is likely to have low to moderate levels of market volatility.</p>
</td>
<td style="vertical-align: top; padding-top: 40px;">
<p>&nbsp;<img style="width: 100%; max-width: 364px; min-width: 160px;" title="risk level 5 - allocation - BPS" alt="" src="/link/5baa41518db04cbf8b0a926396570782.aspx"></p>
</td>
<td style="vertical-align: top; padding-top: 40px;">
<p>&nbsp;</p>
<p><a href="/link/8f39eb6f8a1742bbab44210e3a341f75.aspx" target="_blank"><img style="width: 100%; max-width: 51px; min-width: 40px;" alt="" src="/link/bf51bc2652d1443faee59047a35bd9a7.aspx"></a></p>
</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="vertical-align: top; padding-top: 40px;">
<p><img style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="/link/efe4d63f6ae04c30a3f07611feba6135.aspx"></p>
</td>
<td style="max-width: 500px; align: left; vertical-align: top; padding-right: 20px; padding-top: 40px;">
<h4>MODERATE INVESTMENT RISK PORTFOLIO</h4>
<p>You are prepared to have the significant majority of your investments in equities in order to achieve higher returns at the expense of greater risk to your capital. Your portfolio will typically have a substantially higher weighting towards equities than fixed income investments and is likely to have moderate market volatility.</p>
</td>
<td style="vertical-align: top; padding-top: 40px;">
<p>&nbsp;<img style="width: 100%; max-width: 364px; min-width: 160px;" title="risk level 6 - allocation - BPS" alt="" src="/link/65eb9b5439b3418fa50a55fe720df58b.aspx"></p>
</td>
<td style="vertical-align: top; padding-top: 40px;">
<p>&nbsp;</p>
<p><a href="/link/ebcf55f19fe14855a8c800c5effd248f.aspx" target="_blank"><img style="width: 100%; max-width: 51px; min-width: 40px;" alt="" src="/link/bf51bc2652d1443faee59047a35bd9a7.aspx"></a></p>
</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="vertical-align: top;">
<p><img style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="/link/0c27d1445ff9461f869321960d183375.aspx"></p>
</td>
<td style="max-width: 500px; align: left; vertical-align: top; padding-right: 20px;">
<h4>MODERATE TO HIGH INVESTMENT RISK PORTFOLIO</h4>
<p>You would like to have the opportunity for large scale returns and you are comfortable with having a larger proportion of your capital at risk, and accept the possibility of larger short term losses, in order to achieve your long term investment aims. Your portfolio will typically have a very high weighting towards equities and very low levels of fixed income investments. Your portfolio is likely to have moderate to high market volatility.</p>
</td>
<td style="vertical-align: top; padding-top: 40px;">
<p>&nbsp;<img style="width: 100%; max-width: 364px; min-width: 160px;" title="risk level 7 - allocation - BPS" alt="" src="/link/c6485cc9689d46b4b3c42bc739b2281e.aspx"></p>
</td>
<td style="vertical-align: top; padding-top: 40px;">
<p>&nbsp;</p>
<p><a href="/link/33daff9945cc44c2a0f7f0a8da27242d.aspx" target="_blank"><img style="width: 100%; max-width: 51px; min-width: 40px;" alt="" src="/link/bf51bc2652d1443faee59047a35bd9a7.aspx"></a></p>
</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="vertical-align: top; padding-top: 40px;">
<p><img style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="/link/5f32c97a694146c98ddac551db95d1e9.aspx"></p>
</td>
<td style="max-width: 500px; align: left; vertical-align: top; padding-right: 20px; padding-top: 40px;">
<h4 class="naturalBrewinStyle">HIGH INVESTMENT RISK PORTFOLIO</h4>
<p>You would like to have the opportunity for high returns and you are prepared to accept the possibility of a significant loss of capital in order to achieve these greater potential returns. Your portfolio will typically be almost exclusively invested in equities. Your portfolio is likely to have high market volatility.</p>
</td>
<td style="vertical-align: top; padding-top: 40px;">
<p>&nbsp;<img style="width: 100%; max-width: 364px; min-width: 160px;" title="risk level 8 - allocation - BPS" alt="" src="/link/ed9bb1f031034efab7dcb1e175f7e958.aspx"></p>
</td>
<td style="vertical-align: top; padding-top: 40px;">
<p>&nbsp;</p>
<p><a href="/link/51be4d102546481c915047ec0fb0215a.aspx" target="_blank"><img style="width: 100%; max-width: 51px; min-width: 40px;" alt="" src="/link/bf51bc2652d1443faee59047a35bd9a7.aspx"></a></p>
</td>
</tr>
<tr>
<td style="vertical-align: top; padding-top: 40px;"><img style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="/link/09a5e7756d944f46829a1a3366e91d17.aspx"></td>
<td style="max-width: 500px; align: left; vertical-align: top; padding-right: 20px; padding-top: 40px;">
<h4 class="naturalBrewinStyle"><span style="color: #888888;">VERY HIGH INVESTMENT RISK - PORTFOLIO NOT AVAILABLE</span></h4>
<p>You are willing to invest in higher risk and speculative investments to achieve high possible returns and accept the risk of losing all, or a substantial part, of your capital. Typically, this could include very high risk investments such as venture capital trusts, enterprise investment schemes, business property relief schemes and other specialist investments.</p>
</td>
<td style="vertical-align: middle; padding-top: 40px;">
<p>&nbsp;</p>
</td>
<td style="vertical-align: middle; padding-top: 40px;">
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="vertical-align: top; padding-top: 40px;"><img style="width: 100%; max-width: 105px; min-width: 55px;" alt="" src="/link/409ab8f29e7c4a098e3c7ee3e3cb807f.aspx"></td>
<td style="max-width: 500px; align: left; vertical-align: top; padding-right: 20px; padding-top: 40px;">
<h4 class="naturalBrewinStyle"><span style="color: #888888;"><strong>EXTREMELY HIGH INVESTMENT RISK - PORTFOLIO NOT AVAILABLE</strong></span></h4>
<p>You are prepared to make wholly speculative investments, fully aware of and accepting the possibility of losing all of your capital. This could typically be in the form of derivatives and contingent liability investments, which often include gearing, which means you could lose more than your initial capital investment. You are totally insensitive to risk.</p>
</td>
<td style="vertical-align: middle; padding-top: 40px;">
<p><span style="font-size: medium;">&nbsp;</span></p>
</td>
<td style="vertical-align: middle; padding-top: 40px;">
<p><span style="font-size: medium;">&nbsp;</span></p>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div></div>
</div>
</div>
</section>