<!--
    single article: podcast version
-->
    <section class="articles-single">

      <div class="articles-single__container">
        <div class="articles-single__inner">
          <article class="podcast-single">

            <div class="article__title">
              <span class="article__category">Podcasts</span>
              <h1>How to get started with estate planning</h1>
              <span class="article__date">26.12.2017</span>
            </div>

              <div class=" topSocialMediaLinks1">
              <div class="article__links__inner">
                <div class="article__link-title">
                  <h4>Share</h4>
                </div>
                <div class="article__link">
                  <a href="#" class="link--social">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="link--social">
                    <i class="fa fa-twitter-square"></i>
                  </a>
                  <a href="#" class="link--social">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="link--social">
                    <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <br style="clear:both;">
            </div>
              
            <div class="article__content article__content--podcast">

              <!-- social media links -->

              <div class="article__image">
                <img src="../assets/images/articles/podcast.jpg" onclick="document.getElementById('podcast__player').play()"/>
                <!--div class="article__image__overlay">
                  <a href="#"><i class="fa fa-podcast" aria-hidden="true"></i></a>
                </div-->
              </div>

              <audio id="podcast__player" controls>
                <!-- <source src="horse.ogg" type="audio/ogg"> -->
                <source src="http://soundbible.com/mp3/Audience_Applause-Matthiew11-1206899159.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>

              <div class="article__links">

                <!-- Link collection -->
                <div class="article__links__inner">
                  <div class="article__link-title">
                    <h4>Play with</h4>
                  </div>
                  <div class="article__link">
                    <a href="#" class="link--icon">
                      <i class="fa fa-soundcloud" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="link--icon">
                      <i class="fa fa-spotify" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>

                <!-- Link collection -->
                <div class="article__links__inner">
                  <div class="article__link-title">
                    <h4>Tags</h4>
                  </div>
                  <div class="article__link">
                    <a href="#" class="link--bold">Business</a>
                    <a href="#" class="link--bold">Money</a>
                  </div>
                </div>

                <!-- Link collection -->
                <!-- 
                <div class="article__links__inner">
                  <div class="article__link-title">
                    <h4>Share</h4>
                  </div>
                  <div class="article__link">
                    <a href="#" class="link--social">
                      <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="link--social">
                      <i class="fa fa-twitter-square"></i>
                    </a>
                    <a href="#" class="link--social">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="link--social">
                      <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                -->
              </div>
            </div>

            <div class="article__content article__content--podcast">
              <p class="article__blurb">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue. Phasellus sapien enim, luctus sit amet purus quis, feugiat varius massa. Aenean quis fringilla justo. Integer ac orci ac quam facilisis luctus a vel arcu. Donec rutrum tortor aliquet, auctor lorem vitae, feugiat lacus.
              </p>
              <div class="articles-single__author-info">
                <h3>Sally Brown</h3>
                <p class="articles-single__author-info-title">Job title</p>
                <a class="link--underline" href="#">sally.brown@brewin.com</a>
              </div>
              <div class="articles-single__related-articles">
                <h3>Other articles by sally</h3>
                <a class="link--underline--thin">Title here</a>
                <a class="link--underline--thin">Title here</a>
                <a class="link--underline--thin">Title here</a>
                <a class="link--underline--thin">Title here</a>
                <a class="link--underline--thin">Title here</a>
                <a class="link--underline--thin">Title here</a>
              </div>
            </div>

          </article>
        </div>
      </div>

    </section>
