    <section class="articles-single">
      <div class="articles-single__container">
        <div class="articles-single__inner">

          <article class="webinar-single">

            <div class="article__title">
              <span class="article__category">Webinars</span>
              <h1>How to get started with estate planning</h1>
              <span class="article__date">26.12.2017</span>
            </div>

            <div class="article__content article__content--webinar">
              <!-- socialmedia links here -->

                <!-- Link collection -->
                <div class="article__links__inner topSocialMediaLinks2">
                  <div class="article__link-title">
                    <h4>Share</h4>
                  </div>
                  <div class="article__link">
                    <a href="#" class="link--social">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                      </a>
                    <a href="#" class="link--social">
                        <i class="fa fa-twitter-square"></i>
                      </a>
                    <a href="#" class="link--social">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    <a href="#" class="link--social">
                        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>

              

              <p class="article__blurb">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue. Phasellus sapien enim, luctus sit amet purus quis, feugiat varius massa. Aenean quis fringilla justo. Integer ac orci ac quam facilisis luctus a vel arcu. Donec rutrum tortor aliquet, auctor lorem vitae, feugiat lacus
              </p>
            </div>

            <!-- video container START -->
            <div class="article__content article__content--webinar">

              <!-- brighttalk webinar embed -->
              <div class="jsBrightTALKEmbedWrapper" style="width:100%; height:100%; position:relative;background: #ffffff;"><script class="jsBrightTALKEmbedConfig" type="application/json">{ "channelId" : 16401, "language": "en-US", "commId" : 300525, "displayMode" : "standalone", "height" : "auto" }</script><script src="https://www.brighttalk.com/clients/js/player-embed/player-embed.js" class="jsBrightTALKEmbed"></script></div>

              <!-- https://www.brightcove.com -->
              <!-- <iframe height="400" src="//players.brightcove.net/1507807800001/BkTGbgSq_default/index.html?videoId=5076962725001" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe> -->

            </div>
            <!-- video container END -->

            <div class="article__content article__content--webinar">
              <div class="article__links">
                <div class="article__link-title">
                  <h4>Tags</h4>
                </div>
                <div class="article__link">
                  <a href="#" class="link--tag">Business</a>
                  <a href="#" class="link--tag">Money</a>
                </div>
              </div>

              <!-- social media links START -->
              
              <div class="article__links"></div>
                <!-- 
                <div class="article__links">
                <div class="article__link-title">
                  <h4>Share</h4>
                </div>
                
                <div class="article__link">
                  <a href="#" class="link--social">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="link--social">
                    <i class="fa fa-twitter-square"></i>
                  </a>
                  <a href="#" class="link--social">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="link--social">
                    <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                  </a>
                </div>
 
              </div>
              -->           
              <!-- social media links END -->

            </div>

          </article>

        </div>
      </div>
    </section>
