    <section class="articles-single">

      <div class="articles-single__container">
        <div class="articles-single__inner">

          <article class="article-single">

            <div class="article__title">
              <span class="article__category">The velo club</span>
              <h1>How to get started with estate planning</h1>
              <span class="article__date">26.12.2017</span>
            </div>


            <div class="article__content article__content--article">

              <div class="article__links">

                <!-- Link collection -->
                <div class="article__links__inner topSocialMediaLinks2">
                  <div class="article__link-title">
                    <h4>Share</h4>
                  </div>
                  <div class="article__link">
                    <a href="#" class="link--social">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                      </a>
                    <a href="#" class="link--social">
                        <i class="fa fa-twitter-square"></i>
                      </a>
                    <a href="#" class="link--social">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    <a href="#" class="link--social">
                        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>

              </div>

              <div class="article__content__wrapper">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue. Phasellus sapien enim, luctus sit amet purus quis, feugiat varius massa. Aenean quis fringilla justo. Integer ac orci ac quam facilisis luctus a vel arcu. Donec rutrum tortor aliquet, auctor lorem vitae, feugiat lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue.
                </p>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue. Phasellus sapien enim, luctus sit amet purus quis, feugiat varius massa. Aenean quis fringilla justo. Integer ac orci ac quam facilisis luctus a vel arcu. Donec rutrum tortor aliquet, auctor lorem vitae, feugiat lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue.
                </p>

                <p>
                  Phasellus sapien enim, luctus sit amet purus quis, feugiat varius massa. Aenean quis fringilla justo. Integer ac orci ac quam facilisis luctus a vel arcu. Donec rutrum tortor aliquet, auctor lorem vitae, feugiat lacus.
                </p>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue.
                  Phasellus sapien enim, luctus sit amet purus quis, feugiat varius massa. Aenean quis fringilla justo. Integer ac orci ac quam facilisis luctus a vel arcu. Donec rutrum tortor aliquet, auctor lorem vitae, feugiat lacus.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue.
                  Phasellus sapien enim, luctus sit amet purus quis, feugiat varius massa. Aenean quis fringilla justo. Integer ac orci ac quam facilisis luctus a vel arcu. Donec rutrum tortor aliquet, auctor lorem vitae, feugiat lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue.
                </p>
              </div>

              <div class="article__links">

                <!-- Link collection -->
                <div class="article__links__inner">
                  <div class="article__link-title">
                    <h4>Tags</h4>
                  </div>
                  <div class="article__link">
                    <a href="#" class="link--bold">Business</a>
                    <a href="#" class="link--bold">Money</a>
                  </div>
                </div>

              </div>

            </div>

            <div class="article__relevant">
              <ul>
                <h3>Yuan Direction Back in the Spotlight</h3>
                <li>
                  <a href="" class="link--underline--thin">Family Wealth Report 2018 Protection</a>
                </li>
                <li>
                  <a href="" class="link--underline--thin">Family Wealth Report 2018 Succession Planning</a>
                </li>
                <li>
                  <a href="" class="link--underline--thin">Title here</a>
                </li>
              </ul>
            </div>

          </article>
        </div>
      </div>

    </section>
