<section class="blocks-brewin blocks-brewin--triple">
  <div class="blocks-brewin__container">
    <div class="blocks-brewin__inner">
      <div class="block textcolumninfoblock  ">
        <div class="block-brewin">
          <div class="block-brewin__content">
            <div class="block-brewin__content__text">
              <h3>High value, low cost</h3>
              <div class="whatis_right_info">
                <p><span><img alt="" src="../assets/images/bps/hvlc.jpg" height="100" width="100">&nbsp;</span></p>
                <p>With minimal fees, you can be sure that you will see the maximum benefit from your investments.</p>
              </div>
              <div class="">
                <a target="" href="/individuals/our-services/online-investments/our-fees/" class="button">find out more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block textcolumninfoblock  ">
        <div class="block-brewin">
          <div class="block-brewin__content">
            <div class="block-brewin__content__text">
              <h3>Your choice of portfolios</h3>
              <div class="whatis_right_info">
                <p><img alt="" src="../assets/images/bps/portfolio.png" height="100" width="100"></p>
                <p>With six portfolios to choose from you will find one to match your attitude to risk and return.</p>
              </div>
              <div class="">
                <a target="" href="/individuals/our-services/online-investments/portfolios/" class="button">find out more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block textcolumninfoblock  ">
        <div class="block-brewin">
          <div class="block-brewin__content">
            <div class="block-brewin__content__text">
              <h3>Putting your interests first</h3>
              <div class="whatis_right_info">
                <p><img alt="ExpertThinking_100x100.png" src="../assets/images/bps/expertthinking.png"></p>
                <p>Over 250 years we have learned to take a long-term view of investments and client relationships.</p>
              </div>
              <div class="">
                <a target="" href="/individuals/our-services/online-investments/long-term-investing/" class="button">find out more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
