    <section class="testimonial testimonial--gray">
      <div class="testimonial__inner">
        <div class="testimonial__content__wrapper">
          <div class="testimonial__image">
            <img src="../assets/images/individual/testimonial-individual.jpg" />
          </div>
          <div class="testimonial__content">
            <h3 class="testimonial__title">Testimonial title</h3>
            <p class="testimonial__text">
              “A universe of investment opportunities. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
            </p>
            <p class="testimonial__provider">
              A Smith, Cheshire
            </p>
          </div>
        </div>
      </div>
    </section>
