<!--
credibility block
image
-->
    <section class="credibility">
      <div class="bg credibility-large" style="background-image: url('../assets/images/home/credibility-home.jpg')"></div>
      <div class="bg credibility-medium" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>
      <div class="bg credibility-mobile" style="background-image: url('../assets/images/home/credibility-home.jpg')"></div>

      <div class="cred__overlay"></div>

      <div class="credibility__inner">
        <div class="credibility__content__wrapper">
          <div class="credibility__content">
            <div class="credibility__intro">
              <p>Valued by our clients</p>
            </div>
            <p class="credibility__text">
              With 30 offices across the UK, Channel Islands and Ireland we combine the best of local understanding with national scale and perspective.
            </p>
          </div>
        </div>
      </div>

      <!-- SVG corners START _credibility.scss > @media screen and (min-width: $bp_md-min) -->
      <svg xmlns="http://www.w3.org/250/svg" class="corner bottomright-corner" width="25px" height="25px" viewBox="0 0 25 25"><path d="M0 25 A 25 25, 0, 0, 0, 25 0 L 25 25 L 0 25 Z" /></svg>

      <svg xmlns="http://www.w3.org/250/svg" class="corner bottomleft-corner" width="25px" height="25px" viewBox="0 0 25 25"><path d="M 0 0 A 25 25 0 0 0 25 25 L 0 25 L 0 0 Z" /></svg>
      <!-- SVG corners END -->

    </section>

    <section class="curtain-follow curtain-follow--footer follows-credibility-block">
      <div class="curtain-follow__inner">

      </div>
    </section>

