    <section class="credibility">
        <div class="bg credibility-large" style="background-image: url('../assets/images/charities_green-graduation.jpg')"></div>
        <div class="bg credibility-medium" style="background-image: url('../assets/images/charities_green-graduation.jpg')"></div>
        <div class="bg credibility-mobile" style="background-image: url('../assets/images/charities_green-graduation.jpg')"></div>
        <div class="cred__overlay"></div>
        <div class="credibility__inner">
            <div class="credibility__content__wrapper">
                <div class="credibility__content">
                    <div class="credibility__intro">
                        <p>Long term outlook</p>
                    </div>
                    <p class="credibility__text">
                        Witness to over two centuries of change in the world, we have a composure ever-relevant in today’s times of uncertainty.
                    </p>
                </div>
            </div>
        </div>
        <!-- SVG corners START _credibility.scss > media screen and (min-width: $bp_md-min) -->
        <svg xmlns="http://www.w3.org/250/svg" class="corner bottomright-corner" width="25px" height="25px" viewBox="0 0 25 25"><path d="M0 25 A 25 25, 0, 0, 0, 25 0 L 25 25 L 0 25 Z"></path></svg>
        <svg xmlns="http://www.w3.org/250/svg" class="corner bottomleft-corner" width="25px" height="25px" viewBox="0 0 25 25"><path d="M 0 0 A 25 25 0 0 0 25 25 L 0 25 L 0 0 Z"></path></svg>
        <!-- SVG corners END -->
    </section>
    <section class="curtain-follow curtain-follow--footer follows-credibility-block">
        <div class="curtain-follow__inner">
        </div>
    </section>
