      <header class="hero">
        <!--  style="background-image: url('../assets/images/home/bps.jpg')" -->

      <div class="bg hero-large" style="background-image: url('../assets/images/private-individual/cyclist-hero-3-1200x700.jpg')"></div>
      <div class="bg hero-medium" style="background-image: url('../assets/images/private-individual/cyclist-hero-3-1200x520.jpg')"></div>
      <div class="bg hero-mobile" style="background-image: url('../assets/images/private-individual/cyclist-hero-3-1200x520.jpg')"></div>

        <div class="hero__overlay"></div>

        <div class="hero__content">

          <div class="logo__icon">
            <div class="logo__icon__inner">
              <img src="../assets/images/logos/logo-icon.png" alt="Brewin Dolphin" />
            </div>
          </div>

          <div class="hero__text">
            <div class="hero__text__inner">
              <h1 class="hero__title">ONLINE INVESTING MADE EASY</h1>
              <p class="hero__subtitle">Begin your investment journey with the Brewin Portfolio Service, tapping into our award-winning wealth management expertise.</p>
            </div>
          </div>

          <div class="become__client">
            <div class="content">
              <h2>Invest now</h2>
              <p>Start investing from £2,000 with Brewin Portfolio Service. Sign up online. Simple, accessible and cost efficient. Capital at risk.</p>
              <a href="#" class="button">GET STARTED</a><br>
              <a href="#login" class="login">Existing clients</a>
            </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="20px"><path d="M0 0 A 20 20, 0, 0, 1, 20 20 A 20 20, 0, 0, 1, 40 0 L -40 0 Z" id="tail1" /></svg>
           </div>
        </div>

      </header>
