<!--
  hero
  blue box
  teadrop on single column content
-->
    <header class="hero">

      <div class="bg hero-large" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>
      <div class="bg hero-medium" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>
      <div class="bg hero-mobile" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>

      <div class="hero__overlay"></div>

      <div class="hero__content">

        <div class="logo__icon">
          <div class="logo__icon__inner">
            <img src="../assets/images/logos/logo-icon.png" alt="Brewin Dolphin" />
          </div>
        </div>

        <div class="hero__text">
          <div class="hero__text__inner">
            <h1 class="hero__title">WELCOME</h1>
          </div>
        </div>

      </div>

    </header>

    <div class="blueDropletBox">
      <div class="inner">
        <div class="content">
          <p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo</p>
        </div>
      </div>
    </div>

    <div class="tail-inside-corners precedes-single-block-grey">
      <div class="splenetic"></div>
      <div class="tail-teardrop2" ></div>
    </div>
