<!--
page hero followed by blue box
teardrop on double column alternating block layout
-->

    <header class="hero">

      <div class="bg hero-large" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>
      <div class="bg hero-medium" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>
      <div class="bg hero-mobile" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>

      <div class="hero__overlay"></div>

      <div class="hero__content">

        <div class="logo__icon">
          <div class="logo__icon__inner">
            <img src="../assets/images/logos/logo-icon.png" alt="Brewin Dolphin" />
          </div>
        </div>

        <div class="hero__text">
          <div class="hero__text__inner">
            <h1 class="hero__title">WELCOME</h1>
          </div>
        </div>

      </div>

    </header>

    <div class="blueDropletBox">
      <div class="inner">
        <div class="content">
          <p class="text2">We are one of the UK&rsquo;s leading wealth managers. Founded in 1762, we are here to help you achieve your ambitions through expert, personalised financial planning and investment management advice.</p>
        </div>
      </div>
    </div>

   <section class="blocks-brewin blocks-brewin--alternate wrapped-teardrop">

      <div class="blocks-brewin__container">
        <!-- clips 50px off top of container fullspan inside rounderrd corners, centred 25px radius outside corners -->
        <div class="tail-inside-corners">
          <div class="splenetic"></div>
          <div class="tail-teardrop" >
                <svg xmlns="http://www.w3.org/250/svg" class="leftedge" width="25px" height="25px" style="display:inline-inline-block;float:left;"><path d="M0 0 A 25 25, 0, 0, 1, 25 25 L 25 0 L 0 0 Z" /></svg>

                <svg xmlns="http://www.w3.org/250/svg" class="rightedge" width="25px" height="25px" style="display:inline-inline-block;float:left;"><path d="M0 25 A 25 25 0 0 1 25 0 L 0 0 L0 25 Z"  /></svg>
          </div>
        </div>

        <div class="blocks-brewin__inner">
          <div class="block-brewin top-right-curve">
            <div class="block-brewin__content block-brewin__content--gray">
              <div class="block-brewin__content__text">
                <div class="block-brewin__content__text__inner">
                  <h2>For Individuals</h2>
                  <p>
                    Since 1762 we’ve guided our clients’ life journeys. Combining long-term thinking, award-winning investments and up-to-date insight, to build, protect and make the most of their wealth.
                  </p>
                  <a href="lp-private-individuals.html"  class="button">Find out more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="block-brewin top-left-curve">
            <div class="block-brewin__content block-brewin__content--image" style="background-image:url(../assets/images/home/individuals.jpg);">
            </div>
          </div>
        </div>
      </div>

    </section>
