    <header class="hero hero--search">

      <div class="bg hero-large" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>
      <div class="bg hero-medium" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>
      <div class="bg hero-mobile" style="background-image: url('../assets/images/home/home-hero.jpg')"></div>

      <div class="hero__overlay"></div>

      <div class="hero__content">

        <div class="logo__icon">
          <div class="logo__icon__inner">
            <img src="../assets/images/logos/logo-icon.png" alt="Brewin Dolphin" />
          </div>
        </div>

        <div class="hero__text">
          <div class="hero__text__inner">
            <input type="text" class="input__search" placeholder="Search" />
            <input type="submit" class="submit submit--search" value = "Go" action="#"/>
          </div>
        </div>

      </div>

    </header>

    <div class="tail-inside-corners precedes-single-block-grey">
      <div class="splenetic"></div>
      <div class="tail-teardrop2" ></div>
    </div>
