<div class="triage-quiz__result">
  <div class="block-brewin">
    <div class="block-brewin__content block-brewin__content--gray">
      <div class="block-brewin__content__text">
        <div class="block-brewin__content__text__inner">
          <h3 class="result-header">

          </h3>
          <p class="result-content">

          </p>
          <a href="#" class="button">Find out more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="block-brewin">
    <div class="block-brewin__content block-brewin__content--image" style="background-image:url(../assets/images/home/individuals.jpg);">
    </div>
  </div>
</div>
