.article-archive--faqs {
  .accordion__title, .accordion__panel {
    h2, h3 {
      @extend h6, .font--bold--lowimpact;
      margin-bottom: 0;
      padding-bottom: 1em;
      text-transform: none;
    }
  }
  .accordion__title {
    padding: 1em 5em 0 1.5em;
  }
}
.accordion__title, .accordion__panel {
  h2, h3 {
    @extend h4;
    margin-bottom: 0;
    padding-bottom: 21px;
    font-family:"Helvetica Neue Roman";
  }
  h2{
    
  }
}

.accordion__group {
  margin-bottom: 1em;
}

.accordion__title {
  background-color: $white;
  border: none;
  color: #444;
  cursor: pointer;
  outline: none;
  padding: 1.5em 1.5em 0;
  position: relative;
  text-align: left;
  transition: 0.4s;
  width: 100%;
  &:after {
    /* content: '\02795'; */
    content: '+';
    border: 1px solid $gray-dark;
    text-align:center;
    font-size: 3em;
    line-height:18px;
    color: $gray-dark;
    height: 32px;
    width: 32px;
    position: absolute;
    padding: -10px 0px 0px 0px;
    right: 5px;
    top: 5px;
  }
  &.accordion--active {
    h2 {
      border-bottom: 1px solid $gray-dark;
    }
    &:after {
        content: "-"; /* Unicode character for "minus" sign (-) */
    }
  }
}

.accordion__panel {
  @extend .transition--animation;
  background-color: $white;
  max-height: 0;
  overflow: hidden;
  text-align: left !important;
}

.accordion__content {
  @extend .padding-all--small;
  overflow: auto;
}

.accordion__content__item {
  padding-bottom: 0em;
  h3 {
    padding-bottom: 0;
  }
  p {
    margin-bottom: 0.5em;
  }
}

@media screen and (min-width: $bp-md-min) {
  .article-archive--faqs {
    .accordion__title {
      padding: 1em 6em 0 1.5em;
      h3{
        font-family:"Helvetica Neue Roman";
        font-size:1.3em;
        font-weight:400;
      }
    }
  }
}
