.article-archive {
  @extend .padding--large, .text--dark-blue, .page-max-width;
  background: $gray-light;

  .archive__list {
    .archive__item {
      &:nth-child(3n + 1) {
        clear: left;
      }
    }
  }
}

.article-archive--white {
  background: $white;
  .archive__item__content {
    background: $gray-light;
  }
}

.article-archive__container {
  @extend .container;
}

.article-archive__title__container {
  @extend .row;
}

.archive__title {
  @include make-sm-column(8);
  @extend .col--centered;
  h1 {
    margin-bottom: .125em;
    font-family:"Helvetica Neue Roman";
    line-height:normal;
    letter-spacing: 0px;
    font-weight:600;
    
    @supports (-webkit-overflow-scrolling: touch) {
      &{
        
        letter-spacing:-2px;
      }
    }
    
  }
  h2{
    font-family:"Helvetica Neue Roman";
    font-size:31px;
    font-weight:600;
  }
  span {
    @extend .font--serif--italic;
  }
}

.archive__description {
  @include make-sm-column(8);
  @extend .col--centered;
}

.archive__latest {
  @include make-sm-column(8);
  @extend .col--centered;
  h2 {
    @extend h4;
  }
  .archive__latest__available {
    @extend .font--serif--italic;
  }
}

.archive__logo__list {
  @include make-sm-column(9);
  @extend .col--centered, .padding--standard, .padding-bottom--large;
}

.archive__logo__inner {
  @extend .row;
}

.archive__logo {
  @include make-sm-column(4);
  @include make-md-column(2);
  display: inline-block;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 2em 0;
  min-height: 4em;
}

.archive__tags, .archive__categories {
  @include make-sm-column(6);
  ul {
    margin-bottom: 1em;
    li {
      @extend .font--bold;
      display: inline-block;
      padding: 0 1em 0 0;
    }
  }
  &.full-width {
    @include make-sm-column(12);
  }
}

.archive__categories {
  ul {
    li {
      &, a {
        color: $gray-dark;
      }
    }
  }
}

.archive__tags {
  ul {
    li {
      &, a {
        color: $blue-light;
      }
    }
  }
}

.archive__list {
  @extend .row;
}

.archive__accordion__container{
  @extend .row;
  .accordion__panel{
    .accordion__content__item{
      padding-bottom:2em;
      &:last-child{
        padding-bottom:0em;
      }
    }
  }
}

/* in accordance with the HTML structure in https://pre-production.brewin.co.uk/financial-advisers/literature-and-insights/mps-literature/ */
.archive__accordion__container{
  @extend .row;
  .accordianitemcontainerblock{
    .accordion__group{
      .accordion__panel{
        .accordion__content{
          .accordianitemblock{
            .accordion__content__item{
              padding-bottom:2em;
            }
            &:last-child{
              .accordion__content__item{
                padding-bottom:0em;
              }
            }
          }
        }
      }
    }
  }
}

.archive__accordion__list {
  @include make-sm-column(11);
  @include make-md-column(10);
  @extend .col--centered;
}

.archive__item {
  @include make-xs-column(12);
  @include make-sm-column(4);
  margin-bottom: 1.5em;
  &, h2, h3 {
    @extend .align--left;
  }
  .archive__item__links{
    h4{
      text-transform:none;
    }
  }

}

.archive__item--podcast, .archive__item--webinar {
  h2, h3, h4 {
    margin-bottom: 0;
  }
}

.archive__item--news h3 {
  margin-bottom: 0;
}

.archive__item__image {
  position: relative;
  text-align: center;
  img {
    width: 100%;
  }
}

.archive__item--person {
  @include make-sm-column(12);
  .archive__item__image {
    @include make-xs-column(6);
    @include make-sm-column(4);
    padding-right: 0;
    position: relative;
    text-align: center;
    h3 {
      margin-bottom: .25em;
    }
  }
  .archive__item__content {
    @include make-xs-column(6);
    @include make-sm-column(8);
    background: transparent;
    padding-left: 0;
    .archive__item__content__inner {
      padding: 1em;
    }
    p {
      margin-bottom: .5em;
    }
  }
  .archive__item__links {
    h4 {
      margin-bottom: 0;
      text-transform:none;
    }
    a {
      margin-bottom: 1em;
      text-transform:none;
    }
  }
}

.archive_item_category {
  @extend .font--bold;
  background: $blue-dark;
  color: white;
  padding: .25em .75em;
  position: absolute;
  right: 0;
  top: 0;
  text-transform: none;
  width: fit-content;
  width:auto;
}

.archive__item__content {
  @extend .padding--large--all;
  background: $white;
}

.archive__item__detail {
  @extend .font--serif--italic;
  margin-bottom: 1.5em;
}

@media screen and (min-width: $bp-sm-min) {
  .archive__tags, .archive__categories {
    ul {
      margin: 1em 0 2em;
    }
  }
  .archive__tags {
    ul {
      text-align: right;
      li {
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  .archive__categories {
    ul {
      text-align: left;
      li {
        &:first-child {
          padding-left: 0;
        }
      }
    }
    &.full-width {
      li {
        &:first-child {
          padding-left: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: $bp-md-min) {
  .archive__logo {
    &:nth-child(1) {
      @include make-md-column-offset(1);
    }
  }
}

.cs_individual{
  .archive__tags {
    ul {
      li {
        &, a {
          color: $blue-light;
          color:#ff0000;
        }
      }
    }
  }
}
.cs_charity{
  .archive__tags {
    ul {
      li {
        &, a {
          color: $charity-light;
        }
      }
    }
  }
}
.cs_financial{
  .archive__tags {
    ul {
      li {
        &, a {
          color: $financial-light;
        }
      }
    }
  }
}
.cs_professional{
  .archive__tags {
    ul {
      li {
        &, a {
          color: $professional-light;
        }
      }
    }
  }
}
