.articles-single {
  @extend .padding--large, .text--dark-blue,.page-max-width;
  /*background: $gray-light;*/
}

.articles-single__container {
  @extend .container;
  padding-left:2em;
  padding-right:2em;

}

.articles-single__inner {
  @extend .row;
  h1{
    font-weight:600;
  }
}

.article__content {
  @extend .align--left, .padding--standard;
  overflow: auto;
}

.article__content--podcast {
  @include make-xs-column(12);
  @include make-sm-column(6);
}

.article__content--webinar {
  @include make-xs-column(12);
  @include make-sm-column(10);
  @include make-md-column(8);
  @extend .col--centered;
  @extend .padding--small;
  &:first-child {
      @extend .padding--large, .padding-bottom--small;
  }
}

.article__title {
  @extend .archive__title;
  h1{
    letter-spacing:0;
    font-weight:600;
    line-spacing:normal;
    @supports (-webkit-overflow-scrolling: touch) {
      &{
        letter-spacing:-2px;
      }
    }

  }
}

.article__image {
  position: relative;
  text-align: center;
  img {
    width: 100%;
  }
}

.articles-single__author-info, .articles-single__related-articles {
  h3 {
    text-align: left;
    margin: .75em 0 .25em;
  }
}

.articles-single__author-info {
  .articles-single__author-info-title {
    @extend .font--serif--italic;
  }
}

.articles-single__related-articles {
    a {
      display: block;
      width: fit-content;
    }
}

.article__links {
  overflow: auto;
}

.article__link-title, .article__link {
  display: inline-block;
  height: 3em;
}
.article__link-title {
  clear: left;
  padding: .25em 0;
  h4 {
    @extend .align--left;
    font-size: 1em;
    color: $gray-dark;
  }
}

.article__link {
  padding-left: 1em;
  a {
    @extend .link--hover;
    color: $blue-light;
    display: inline-block;
    padding: 0 1em 0 0;
    text-decoration: none;
    &.link--tag {
      @extend .link--bold;
    }
    &.link--icon {
      text-align: center;
      width: 3.5em;
    }
    i {
      font-size: 2em;
    }
  }
}

// Unique styles
.article-single {
  .article__title {
    @include make-xs-column(12);
    @include make-sm-column(8);
    float:left !important;
    &, h1 {
      @extend .align--left;
    }
    h1{
      font-family:$font-family-main;
      line-height: normal;
    }
  }
  .article__content {
    @include make-xs-column(12);
    @include make-sm-column(8);
    .article_hero_image{
      padding-bottom:1em;
    }
  }
  .article__relevant {
    @include make-xs-column(12);
    @include make-sm-column(3);
    background: $white;
    &, h3 {
      @extend .align--left;
    }
    > ul {
      @extend .padding--large--all;
      padding-top:0;
      a.link--underline--thin{
        display:block;
        min-width:100%;
        width:100%;
        border-bottom:2px solid #1e9bd7;
        padding-bottom:2px;
        &:after{
          display:none;
        }
      }
      a:hover{
        font-weight:bold;
        color:#000;
      }
    }
  }
}

.press-single {
  .article__title {
    @include make-xs-column(12);
    /*
    @include make-sm-column(8);
    float:left !important;
    */
    &, h1 {
      @extend .align--left;
    }
    h1{
      font-family:$font-family-main;
      line-height: normal;
    }
  }
  .article__content {
    @include make-xs-column(12);
    @include make-sm-column(10);
    /*
    @include make-sm-column(8);
    */
  }
}

.podcast-single {
  .article__title {
    h1{
      font-family:$font-family-main;
      line-height: normal;
    }
  }
  .article__links {
    padding-top: 3em;
  }
  audio {
    width: 100%;
  }
  .article__link-title {
    @include make-xs-column(4);
    @include make-sm-column(3);
  }
  .article__link {
    @include make-xs-column(8);
    @include make-sm-column(9);
  }
}

.webinar-single {
  .article__title {
    h1{
      font-family:$font-family-main;
      line-height: normal;
    }
  }
  .article__content--webinar {
    @extend .col--centered;
    @extend .padding--small;
  }
  .article__blurb {
    @extend .align--center,  .padding--large;
    padding-bottom: 0;
  }
  .article__links {
    @include make-xs-column(12);
    @include make-sm-column(6);
    &:last-child {
      @extend .align--right;
      .article__link {
        float: right;
      }
    }
  }
  iframe {
    width: 100%;
  }
}

@media screen and (min-width: $bp-sm-min) {
  .article-single {
    .article__relevant {
      float: right;
      margin-top: 1.25em;
    }
  }
}

.topSocialMediaLinks1{
  width:250px;
  margin-left:auto;
  margin-right:auto;
  float:none;
  clear:both;
  .article__link-title{
    width:50px;
    padding:0;
    vertical-align:baseline;
  }
  .article__link{
    width:200px;
    padding:0;
  }
}

.topSocialMediaLinks2{
  .article__link-title{
    vertical-align:top;
  }
}