.blocks-brewin {
  clear: right;
  a:not(.button) {
    color: $blue-dark;
    &:hover, &:focus {
      color: $blue-light;
    }
  }
  .block-brewin__content__text {
    h2{
      font-family:"Helvetica Neue Roman";
      font-size:31px;
      font-weight:600;
      line-height:normal;
      letter-spacing:0;
      @supports (-webkit-overflow-scrolling: touch) {
        &{
          letter-spacing:-2px;
        }
      }
    }
  }
}
.blocks-brewin--gray {
  background: $gray-light;
}

.blocks-brewin--alternate {
  position: relative;
  z-index:1;
  &:before, &:after {
    content: "";
    background: $white;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 45%;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
  .block-brewin {
    @include make-xs-column(12);
    @include make-sm-column(6);
    padding-left: 0;
    padding-right: 0;
  }
  .block-brewin__content {
    display: block;
    min-height: 25em;
    width: 100%;

    /*
    */
  }
  .block-brewin__content__text {
    display: table;
    min-height: 21.5em;
    // Firefox fix
    height: 21.5em;
    width: 100%;
    h2, p, ul {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    h2{
      font-family:"Helvetica Neue Roman";
      font-size:31px;
      font-weight:600;
    }
    ul {
      margin-bottom: 1em;
    }
  }
  .block-brewin__content__text__inner {
    display: table-cell;
    overflow: auto;
    vertical-align: middle;
  }
}

div.whatis_right_info {        
  margin-bottom: 1.5em;    
}

.block-brewin--follow {
  .block-brewin__content {
    padding-top: 0;
  }
}

.blocks-brewin--full {
  .block-brewin {
    @include make-xs-column(12);
    @extend .col--centered;
  }
}

.blocks-brewin--double {
  .block-brewin {
    @include make-xs-column(12);
    @include make-md-column(6);
    .block-brewin__content__text {
      @extend .align--left;
      h3 {
        @extend .align--center;
      }
    }
  }
}

.blocks-brewin--double--featured {
  .block-brewin {
    @include make-xs-column(12);
    @include make-md-column(6);
  }
}

.blocks-brewin--triple {
  .block-brewin {
    @include make-xs-column(12);
    @include make-md-column(4);
    h3{
      @supports (-webkit-overflow-scrolling: touch) {
        &{
          letter-spacing:-1px;
        }
      }
    }

  }
}

.blocks-brewin--gray {
  @extend .page-max-width;
  background-color: $gray-light;
  width:100%;
}

.blocks-brewin__container {
  @extend .container;
  width:100%;
  max-width:$page-max-width;
}

.blocks-brewin__inner {
  @extend .row;
}

.blocks-brewin--double {
  .blocks-brewin__inner {
    .block-brewin {
      &:nth-child(2n + 1) {
        clear: left;
      }
      iframe {
        width: 100%;
      }
    }
  }
}

.block-brewin {
  overflow: hidden;
  &:hover {
    .block-brewin__content--image {
      transform: scale(1.025);
    }
  }
}

.block-brewin__content {
  @extend .bg-image, .padding--large;
  position: relative;
  z-index:1001;
  z-index:1;
}

.block-brewin__content--gray {
  background: $gray-light;
}

.block-brewin__content--image {
  @extend .transition--animation;
  float: none !important;
  /*
  -webkit-backface-visibility: hidden;
  -webkit-transform: perspective(1000px);
  will-change: transform;
  */
}

@media screen and (min-width: $bp-sm-min) {
  .blocks-brewin--alternate {
    .block-brewin {
      background-color: $white;
      overflow: hidden;
      &:nth-child(1), &:nth-child(4), &:nth-child(5), &:nth-child(8),
      &:nth-child(9), &:nth-child(12), &:nth-child(13), &:nth-child(16) {
        float: left;
        .block-brewin__content {
          float: right;
        }
      }
      &:nth-child(2), &:nth-child(3), &:nth-child(6), &:nth-child(7),
      &:nth-child(10), &:nth-child(11), &:nth-child(14), &:nth-child(15) {
        float: right;
        .block-brewin__content {
          float: left;
        }
      }
      .block-brewin__content {
        // Max width of half container size.
        max-width: 585px;
        min-height: 40em;
      }
      .block-brewin__content__text {
        min-height: 32em;
        // Firefox fix
        height: 32em;
      }
    }

    .block-brewin.blocks-brewin--alternate-left {
        float: left;
    }
    .block-brewin.blocks-brewin--alternate-right {
        float: right;
    }    
  }

  /*
  .blocks-brewin--alternate--curtain {
    margin-top: -1.25em;
    .block {
      &:first-child {
        .block-brewin {
          border-top-right-radius: 5%;
        }
      }
      &:nth-child(2) {
        .block-brewin {
          border-top-left-radius: 5%;
        }
      }
    }
    .block-brewin {
      &:first-child {
        border-top-right-radius: 5%;
      }
      &:nth-child(2) {
        border-top-left-radius: 5%;
        z-index: 1;
      }
    }
  }*/


  .blocks-brewin--alternate--curtain {
      margin-top: -1.25em;

      .block-brewin.top-right-curve {
        border-top-right-radius: 5%;
      }
      .block-brewin.top-left-curve {
        border-top-left-radius: 5%;
        z-index: 1;
      }

      .block {
        .block-brewin.top-right-curve {
          border-top-right-radius: 5%;
        }
        .block-brewin.top-left-curve {
          border-top-left-radius: 5%;
          z-index: 1;
        }

      }
  }
  
}

@media screen and (min-width: $bp-md-min) {
  .blocks-brewin--double .textcolumninfoblock {
    float: left;
    width: 50%;
  }
  .blocks-brewin--triple, .blocks-brewin--double--featured {
    .block {
      position: relative;
      .block-brewin {
        &:after {
          content: "";
          background-color: rgba(0, 0, 0, 0.1);
          display: inline-block;
          position: absolute;
          right: 0;
          height: 10em;
          width: 1px;
          top: 3em;
        }
      }
      &:last-child {
        .block-brewin {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .blocks-brewin--double--featured {
    .block {
      .block-brewin {
        &:after {
          height: 15em;
        }
      }
    }
    .block-brewin__content {
      max-width: 75%;
      margin: auto;
    }
    .block-brewin__content__text {
      min-height: 11em;
    }
  }
  .blocks-brewin--alternate {
    .block-brewin {
      .block-brewin__content {
        // Max width of half container size.
        min-height: 35em;
      }
      .block-brewin__content__text {
        min-height: 29.5em;
        // Firefox fix
        height: 29.5em;
      }
    }
    .glanceblocks{
      .block-brewin {
        .block-brewin__content {
          min-height: 35em;
        }
      }
    }
  }
}

@media screen and (min-width: $bp-lg-min) {
  .blocks-brewin--alternate {
    .block-brewin {
      .block-brewin__content {
        min-height: 30em;
      }
      .block-brewin__content__text {
        min-height: 21.5em;
        // Firefox fix
        height: 21.5em;
        h2, p, ul {
          max-width: 70%;
        }
      }
    }
    .glanceblocks{
      .block-brewin {
        .block-brewin__content {
        }
      }
    }
  }
}

@media screen and (max-width: $bp-sm-min) {
  .gridcontainer{
    display: grid;
    grid-template-columns: 1;
    .gridblock{
    }
    #grid1{
      grid-row-start: 2; 
      grid-row-end: 3; 
    }
    #grid2{
      grid-row-start: 1; 
      grid-row-end: 2; 
    }
    #grid3{
      grid-row-start: 3; 
      grid-row-end: 4; 
    }
    #grid4{
      grid-row-start: 4; 
      grid-row-end: 5; 
    }
  }
}

@media screen and (min-width: $bp-sm-min) {
  .gridcontainer{
    .gridblock{
    }
  }
}

div.IESelect{
  width:100%;
  box-size:border-box;
  padding:1em;
  max-width:1170px;
  margin:0 auto;
  div{
    width:100%;
    background: $gray-light;
    border-radius:25px;
    padding:1em;
    text-align:center;
    h2{
      color:$blue-dark;
      margin:0;
    }
  }

  /* IE 9+ */
  @media screen and (min-width:0\0) and (min-resolution: +72dpi) {
    &{
      div{
        width:100%;
        background: $blue-dark;
        border-radius:25px;
        padding:1em;
        text-align:center;
        h2{
          color:$gray-light;
          margin:0;
        }
      }
    }
  }
}