.bps2_account_types{
	h2{
	    font-family:"Helvetica Neue Roman";
	    font-size:31px;
	    font-weight:600;
		letter-spacing:0px;
		
		@supports (-webkit-overflow-scrolling: touch) {
			&{
				letter-spacing:-2px;
			}
		}
	}
}
.bps2_account_types.blocks-brewin--triple{
	padding:2em 0;
	.block-brewin{
		border-right:1px solid #ededed;

		&:nth-child(3){
			border-right:0px;
		}
		.block-brewin__content{
			padding-top:0;
		}
	}
	@media screen and (min-width: $bp_md-min) {
		&{
			min-height:18em;
			border-right:none;
		}
	}
}

.bps2_risk_profile{
	margin-bottom:20px;
	.block-brewin.nogutter{
		padding-left:0;
		padding-right:0;
	}
	.outer{
		padding-top:0;
		padding-bottom:0;
		h2{
			margin-bottom:0;
			padding-top:10px;
			padding-bottom:10px;
		}
	}
	.bp2_expander1{
		.wrapper{
			clear:both;
			float:none;
			background-color:#fff;
			width:100%;
			min-width:100%;
			display:block;
			.genericPadding{
				padding:1.5em 2em;					
			}
			.whatis_right_info{
				padding-top:1em;
				padding-bottom:1em;
			}
			.riskrow{
				width:100%;
				min-width:100%;
				padding-top:1em;
				padding-bottom:1em;
				position:relative;
				padding-left:0px;
				padding-right:0px;
				text-align:left;
				&:after{
			      content:" ";
			      clear:both;
			      float:none;
			      display:block;
				}
				h3{
					font-size:1.3em;
					color:#888888;
				}
				p{color:#888888;}
				.side1{
					padding-left:115px;
					padding-right:10px;
					position:relative;
					img{
						position:absolute;
						left:0px;
						top:3px;
						width:105px;
					}
				}
				.side2{
					width:100%;
					padding-left:105px;
					img{
						display:inline-block;
						float:left;
					}
				}
				&.greyrow{
					background-color:#ebebed;
					h3{
						color:#1d2343;
					}
				}
			}
			@media screen and (min-width: $bp_md-min) {
				&{
					.riskrow{
						.side1{
							width: calc(100% - 430px);
							float:left;
							display:inline-block;
						}
						.side2{
							/*
							position:absolute;
							right:0px;
							top:1em;
							*/
							float:right;
							display:inline-block;
							width:430px;
							padding-left:0px;
							img{
								display:inline-block;
								float:left;
							}
						}
					}
				}
			}
		}
		&.expanded-visible{
			.wrapper{
				max-height:1000em;
			}
		}
		.expanderButton,.collapseButton{
			float:none;
			clear:both;
			position:relative;
			margin: 0 auto;

			width:12em;
			padding-top:6px;
			padding-bottom:6px;
			color:#1e9bd7;
			span{
				top:12px;
				right:10px;
				/*
				top:50%;
				transform: translateY(-50%);
				*/
			}
		}
		@media screen and (min-width: $bp_md-min) {
			&{
				.expanderButton,.collapseButton{
					top:15px;
					right:20px;
					position:absolute;
				}
			}
		}

	}
}

.ourfees{
	.dubcolcontainer{
		.dubcolcolumn{
			float:none;
			clear:both;
			display:block;
			width:100%;
			position:relative;
			@media screen and (min-width: $bp_md-min) {
				&{
					padding:0 4em;
					display:inline-block;
					float:left;
					clear:none;
					width:50%;
					&:first-child{
						/*
						&:after{
						    content: "";
						    background-color: rgba(0, 0, 0, 0.1);
						    display: inline-block;
						    position: absolute;
						    right: 0;
						    height: 10em;
						    width: 1px;
						    top: 3em;						
						}
						*/
					}
				}
			}
		}
	}
}

.bps2_keep_me_updated{
	p{
		width:60%;
		margin:0 auto 1.5em auto;
	}
	.bp2_expander1{
		&.expanded-visible{
			.wrapper{
				max-height:1000em;
				.find-more__content{
					padding-top:1em;
				}
			}
		}
	}
	.oneButton,
	.twoButtons{
		padding-bottom:0.5em;
		.singleButton{
			float:none;
			display:block;
			width:100%;
			padding-bottom:0;
			&:first-child{
				padding-bottom:0.5em;
			}
			a{
				font-size:1.4em;
				display:inline-block;
				margin:0 auto;
				width:15em;
				padding:0.5em 0em;
				border:1px solid #1e9bd7;
				color:#1d2343;
				text-align:center;
				text-decoration:none;
				/*font-family: "Helvetica Neue Bold Condensed";*/
				font-family: $font-family-main;
				&:hover{
					background-color:#1e9bd7;
					color:#fff;
				}
			}
			a.expanderButton,a.collapseButton{
				text-transform:none;
				span{

			    	right:1em;
			    	top:19px;
			    	width:20px;
			    	height:9px;
			    	background:url('../../assets/images/icons/bps2_expand1.png');
			    	background-position:0 0;
				}
				color:#1e9bd7;
				&:hover{
					color:#fff;
				}
			}
		}
	}
	.oneButton{
		.singleButton{
			float:none;
			display:block;
		}
	}

	@media screen and (min-width: $bp_md-min) {
		&{
			.oneButton{
				width:44em;
				margin:0 auto;
				.singleButton{
					float:none;
					margin:0 auto;
					display:block;
					width:50%;
					padding:0 0;
				}
			}
			.twoButtons{
				width:44em;
				margin:0 auto;
				&:after{
			      content:" ";
			      clear:both;
			      float:none;
			      display:block;
				}
				.singleButton{
					float:left;
					display:inline-block;
					width:50%;
					padding:0 0;
					margin:0;
				}
			}

			.fieldGroup{
				.form-group{
				}
			}
		}
	}
	.privacydeclaration{
		p{
			/*font-family: "Helvetica Neue Bold Condensed";*/
			font-family: $font-family-main;
		}
	}
	.fieldset{
		padding:0;
		legend{
			padding:1em 0;
			/*font-family: "Helvetica Neue Bold Condensed";*/
			font-family: $font-family-main;
			color:#000;
			width:100%;
			text-align:center;
		}
	}
	.triplecheckbox{
		width:17em;
		margin:0 auto;
		padding:0 0 1em 0;
		.form-group{
			display:block;
			float:none;
			clear:both;
			width:100%;
			
			padding-bottom:0.25em;
			&:after{
		      content:" ";
		      clear:both;
		      float:none;
		      display:block;
			}
			&.form-xcheck{
				label{
		            display:inline-block;
		            float:left;
				}
			}
		}	
		@media screen and (min-width: $bp_md-min) {
			&{
				width:39em;
				margin:0 auto;
				&:after{
			      content:" ";
			      clear:both;
			      float:none;
			      display:block;
				}

				.form-group{
					display:inline-block;
					float:left;
					clear:none;
					padding-bottom:0;
					width:33.3%;
					&:after{
				      display:none;
					}
					&.investment{width:15em;}
					&.stockisa{width:14.5em;}
					&.juniorisa{width:9em;}
				}	
			}
		}
	}
	/*@media screen and (min-width: $bp_md-min) {*/
		&{
			.form-group{
			    &.form-xcheck{
			        &.gdpr-optin{
			        	float:none;
			        	clear:both;
			        	display:inline-block;
			        	margin:0 auto;
			        	width:auto;
	    				&:after{
					      content:" ";
					      clear:both;
					      float:none;
					      display:block;
						}
			        }
		        }
	        }
		}
	/*}*/
	.form-group{
		&.fg-fullwidth{
			width:304px;
			margin:0 auto 1em auto;
		}
	    &.form-xcheck{
	    	&.optin{
	    		label{
	    			color:#777;
	    		}
	    	}
	    	padding-bottom:1em;
	        label{
	        	display:inline-block;
	        	color:#000;
	        }
	    }
	}
}

/*
:after{
	content: "";
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    position: absolute;
    right: 0;
    height: 10em;
    width: 1px;
    top: 3em;
}
*/

.expanderButton,.collapseButton{
	/*font-family: "Helvetica Neue Bold Condensed";*/
	font-family: $font-family-main;
    font-weight:400px;
    text-decoration:none;
    text-transform:uppercase;
    color:#1d2343;
    padding:0 30px;
    position:relative;
    display:block;
    
    margin:0 auto;
    float:none;
    clear:both;
    span{
    	position:absolute;
    	right:0;
    	top:7px;
    	width:20px;
    	height:9px;
    	background:url('../../assets/images/icons/bps2_expand1.png');
    	background-position:0 0;
    }
}
.expanderButton{
	width:12em;
}
.collapseButton{
	width:9em;
	span{
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);		
	}
}

.bp2_expander1{
	.wrapper{
		overflow:hidden;
		max-height:0;
		transition-delay:.6s !important;
		transition: all 1s ease;
	}
	.expanderButton{
		display:block  !important;
	}
	.collapseButton{
		display:none  !important;
	}
	&.expanded-visible{
		.wrapper{
			max-height:200em;
		}
		.expanderButton{
			display:none !important;
		}
		.collapseButton{
			display:block  !important;
		}
	}
}

.blocks-brewin--alternate{
	.block-brewin__content{
		p.bp2_checkbox_para{
			text-align: left;
			padding-left:40px;
			padding-top:4px;
			position:relative;
			img{
				position:absolute;
				left:0px;
				top:0px;
			}
			/*
			&:after{
				content:" ";
				display:block;
				clear:both;
				float:none;
			}
			*/
		}		
	}
}

