.bottom-left-corner-25px{
      -webkit-border-bottom-left-radius: 25px;
      -moz-border-radius-bottomleft: 25px;
      border-bottom-left-radius: 25px;
}
.bottom-right-corner-25px{
      -webkit-border-bottom-right-radius: 25px;
      -moz-border-radius-bottomright: 25px;
      border-bottom-right-radius: 25px;
}
/*
@extend .bottom-left-corner-25px
@extend .bottom-right-corner-25px
*/

.credibility {
  @extend .bg-image;
  @extend .page-max-width;
  
  position: relative;
  display: block;
  overflow: hidden;

  svg.corner{
    /*display:none;*/
  }

  .bg{
    position:absolute;
    background-attachment: fixed;
    left:0;
    top:0;
    z-index:0;
    width:100%;
    height:100%;

    @extend .bottom-left-corner-25px;
    @extend .bottom-right-corner-25px;

    @extend .bg-image;
    @extend .transition--animation;
    &.credibility-large{opacity:0;}
    &.credibility-medium{opacity:0;}
    &.credibility-mobile{opacity:1;}
  }  
}

@media screen and (min-width: $bp_sm-min) {
  .credibility {
    .bg{
      &.credibility-large{opacity:0;}
      &.credibility-medium{opacity:1;}
      &.credibility-mobile{opacity:0;}
    }
  }
}
@media screen and (min-width: $bp_md-min) {
  .credibility {
    /* border-radius: 0 0 25px 25px; */
    .bg{
      /* border-radius: 0 0 7% 7%; */
      &.credibility-large{opacity:1;}
      &.credibility-medium{opacity:0;}
      &.credibility-mobile{opacity:0;}
    }
    svg.corner{
      position:absolute;
      display:block;
      width:25px;
      height:25px;
      path{
        fill:#fff;
        opacity:1;
      }
    }
    svg.bottomright-corner{
      right:-0.5px;
      bottom:24px;
    }
    svg.bottomleft-corner{
      left:-0.5px;
      bottom:24px;
    }
  }
}


.credibility__inner {
  @extend .container;

}

.credibility__content__wrapper {
  @extend .row;
  height: 1px;
  display: table;
  width:100%;
  margin:0 auto;
  
  padding-top:0px;
  padding-bottom:45px;
}

.credibility__content {
  @include make-xs-column(12);
  @include make-md-column(10);
  @include make-lg-column(8);
  @extend .col--centered, .padding--large;
  display: table-cell;
  vertical-align: middle;
  color: $white;
}

p.credibility__intro{
  @extend .font--bold;
  font-family: $font-family-bold-cond;
  font-size: 2.2em;
  text-transform:uppercase;
  margin-bottom:0.9em;
  span.serif {
    @extend .font--serif--italic;
    font-weight: 500;
  }
}
div.credibility__intro{
  p{
    @extend .font--bold;
    font-family: $font-family-bold-cond;
    font-size: 2.2em;
    text-transform:uppercase;
    margin-bottom:0.9em;
    span.serif {
      @extend .font--serif--italic;
      font-weight: 500;
    }
  }
}

.credibility__text {
    font-family: "Miller Disp Rom", serif;
    font-size: 1.5em;
    line-height: 1.5;
    text-transform: none;
    letter-spacing: normal;
    margin-bottom:0;
}

.credibility__provider {
  letter-spacing: 0px;
  text-transform: uppercase;
}

.credibility__provider--description {
  @extend .font--serif;
}

@media screen and (min-width: $bp-sm-min) {
  .credibility__content__wrapper {
  }
}

body.notios{
  .credibility {
    .bg{
      background-attachment: fixed;
    }  
  }
}

.cred__overlay {
  background: rgba(23,31,69,0.3);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  @extend .bottom-left-corner-25px;
  @extend .bottom-right-corner-25px;
}

@media screen and (min-width: $bp_md-min) {
  .cred__overlay {
  }
}

.blueDropletBox{
  &.tail{
    @extend .bottom-left-corner-25px;
    @extend .bottom-right-corner-25px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a1332+0,183e67+100 */
    background: #0a1332; /* Old browsers */
    background: -moz-linear-gradient(left, #0a1332 0%, #183e67 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0a1332 0%,#183e67 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0a1332 0%,#183e67 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1332', endColorstr='#183e67',GradientType=1 ); /* IE6-9 */  

    .inner{
      padding-top:45px;
      padding-bottom:65px;
      min-height:16em;  
    }
    
  }
  @extend .page-max-width;
  background-color:$blue-dark;
  position: relative;
  display: block;

  .inner{
    display:table;
    width:100%;
    margin:0 auto;
    min-height:11em;
    padding-top:25px;

    .content{
      color:#fff;
      @include make-xs-column(12);
      /*
      @include make-sm-column(8);
      @include make-lg-column(8);
      */
      @extend .col--centered;
      display: table-cell;
      vertical-align: middle;
      .intro {
        @extend .font--bold;
        font-size: 2.2em;
        margin-bottom:0.9em;
        font-family: $font-family-bold-cond;
        span.serif {
          @extend .font--serif--italic;
          font-weight: 500;
        }
      }
      .text,.text2 {
        /* @extend .font--bold; */
        font-family: "Miller Disp Rom", serif;
        /* font-style: italic; */
        font-size: 1.5em;
        line-height: 1.5;
        text-transform: none;
        letter-spacing: normal;
        margin-bottom:0;
      }
      .text2 {
        font-size: 1.6em;
        line-height: 1.4;
      }
    }
    @media screen and (min-width: $bp_sm-min) {
      & {
        width:66.6667%;
      }
    }
  }
  &.squaredoff{
    @media screen and (min-width: $bp_md-min) {
      & {
      }
    }
  }
}

.tail-teardrop{
  width:50px;
  height:25px;
  margin: -1px auto 0 auto;
  border-top:1px solid $blue-dark;
  background-image:url('../../assets/images/teardrop.png');
  background-repeat:no-repeat;
  background-position:center top;
  svg{
    display:none;
    &.rightedge{
    }
    path{
      fill:$blue-dark;
    }
  }
}

.cs_task1762{
  .blueDropletBox{
    background-color:$task1762-headings;
  }
  .tail-inside-corners{
    div.splenetic{
      background-color:$task1762-headings;
    }
  }
  .tail-teardrop{
    background-image:url('../../assets/images/teardrop_1762.png');
    background-repeat:no-repeat;
    background-position:center top;
    svg{
      display:none;
      path{
        fill:$task1762-headings;
      }
    }
  }
}

.blueDropletBox2{
  @extend .page-max-width;
  position: relative;
  display: block;
  padding-bottom:23px;
  background-image:url('../../assets/images/teardrop.png');
  background-repeat:no-repeat;
  background-position:center bottom;

  .inner{
    background-color:$blue-dark;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;

    display:table;
    width:100%;
    margin:0 auto;
    min-height:13em;    
    padding-top:25px;
    padding-bottom:25px;
    overflow:hidden;
    margin-bottom:-0.5px;

    .content{

      color:#fff;
      @include make-xs-column(12);
      /*
      @include make-sm-column(8);
      @include make-lg-column(8);
      */
      @extend .col--centered;
      display: table-cell;
      vertical-align: middle;

      .text2 {
        /* @extend .font--bold; */
        font-family: "Miller Disp Rom", serif;
        /* font-style: italic; */
        font-size: 1.6em;
        line-height: 1.4;
        text-transform: none;
        letter-spacing: normal;
        margin-bottom:0;
        margin-left:auto;
        margin-right:auto;
        @media screen and (min-width: $bp_sm-min) {
          & {
            width:66.6667%;
          }
        }
      }

    }
  }
  &.squaredoff{
    @media screen and (min-width: $bp_md-min) {
      & {
      }
    }
  }
}

.exarch{
  zoom:1;
  overflow:hidden;
  margin:0;
  padding:0;
  display:block;
  width:100%;
  min-width:100%;
  position:absolute;
  left:0px;
  top:0px;
  z-index:10;
  padding-bottom:23px;
  background-image:url('../../assets/images/teardrop_1762.png');
  background-repeat:no-repeat;
  background-position:center bottom;
  div{
  zoom:1;
    overflow:hidden;
    margin:0;
    padding:0;
    display:block;
    width:100%;
    height:25px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    background-color:$task1762-headings;
  }
}