.find-more {
  @extend .padding--extralarge,.page-max-width;
  background: $white;
  position: relative;
  /*
  input, label {
    display: block;
  }
  */
  .label-required {
    text-align: left;
  }
  #bps2FormV2{
    .form-xcheck{
      margin-top:1em;
      width:80%;
      label{
        text-align:left;
        line-height:2em;
        .fcouter{
          .fcinner{
            text-align:center;
          }
        }
      }
    }
  }
}

.find-more--gray {
  @extend .input--gray;
  background: $gray-light;
  .service-bubble {
    background: $white;
    &:before {
      background: $white;
    }
    .service-bubble__inner {
      &:before,
      &:after {
        background: $gray-light;
      }
    }
  }
}

.find-more__expanded {
  @extend .container;
}
.find-more__inner {
  @extend .row;
}
.find-more__content {
  @include make-xs-column(12);
}

.find-more__callback, .find-more__offices {
  label {
    position: relative;
  }
}

.find-more__header {
  @extend .container;
  h2 {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family:$font-family-main;
    font-size:31px;
    font-weight:600;
    line-height:normal;
    
    @supports (-webkit-overflow-scrolling: touch) {
      &{
        letter-spacing:-2px;
      }
    }
  }
}

.find-more__header__button {
  @extend .transition--link;
  max-height: 10em;
  overflow: hidden;
  &.button--hidden {
    max-height: 0;
  }
}

.find-more__expanded {
  max-height: 0;
  overflow: hidden;
  &.find-more__expanded--visible {
    @extend .transition--long, .transition-delay-long;
    max-height: 1000em;
    .find-more__close {
      display: block;
    }
  }
}

.find-more__close {
  display: none;
  position: absolute;
  top: .5em;
  right: .5em;
  text-transform: uppercase;
  span {
    display: block;
    float: left;
    padding: .75em 1em;
  }
  a {
    border: 1px solid $gray-dark;
    display: block;
    float: right;
    height: 2.5em;
    padding: .5em;
    text-decoration: none;
    width: 2.5em;
    &:hover, &:focus {
      background: $gray-dark;
      color: $gray-light;
    }
  }
}

/*
.find-more__section {
  @extend .col--centered, .padding--large;
  @include make-xs-column(12);
  @include make-md-column(10);
  overflow: auto;
  .block {
    &:last-child {
      border-bottom: none;
    }  
  }
}

.cs_individual{
  .find-more__section {
    border-color: $blue-light;
  }
}
.cs_charity{
  .find-more__section {
    border-color: $charity-light;
  }
}
.cs_financial{
  .find-more__section {
    border-color: $financial-light;
  }
}
.cs_professional{
  .find-more__section {
    border-color: $professional-light;
  }
}
.cs_task1762{
  .find-more__section {
    border-color: $task1762-light;
  }
}
.find-more__offices {
  .link--bold--underline {
    padding: 0 2em;
  }
}
.find-more__offices__content {
  @extend .padding--standard;
}

.service-bubble__container {
  @include make-xs-column(12);
  @include make-sm-column(4);
}

.service-bubble {
  background: $gray-light;
  margin: 0 auto 3em;
  position: relative;
  padding: 1em;
  max-width: 20em;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  &:before {
    content: "";
    background: $gray-light;
    position: absolute;
    bottom: -20px;
    left: 50%;
    height: 20px;
    margin: 0 0 0 -50px;
    width: 100px;
  }
  .service-bubble__inner {
    p {
      @extend .font--sm;
    }
    &:before {
      content: "";
      background: $white;
      height: 20px;
      position: absolute;
      right: 0;
      bottom: -20px;
      width: 50%;
      -webkit-border-top-left-radius: 15px;
      -moz-border-radius-topleft: 15px;
      border-top-left-radius: 15px;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 50%;
      height: 20px;
      background: $white;
      -webkit-border-top-right-radius: 15px;
      -moz-border-radius-topright: 15px;
      border-top-right-radius: 15px;
    }
  }
}

@media screen and (min-width: $bp-sm-min) {
  .find-more {
    input, label {
      display: inline-block;
    }
    #bps2FormV2{
      .form-xcheck{
        width:60%;
      }
    }
  }
  .find-more__callback, .find-more__offices {
    input.error {
        margin-bottom: 5.5em;
    }
    .error-message {
      bottom: 0;
      left: 0;
      min-height: 5em;
      position: absolute;
      text-align: left;
    }
  }
}

.form-group{
  display:block;
  vertical-align:top;
  @media screen and (min-width: 992px) {
    &{
      display:inline-block;  
    }
  }
  .button{
  }
  .messages{
    @extend .transition--long;
    height:0;
    overflow:hidden;
    color:#f00;
    margin:0;
  }
  &.has-error{
    .messages{
      height:2.5em;
    }
  }
}

.cs_individual{
  .find-more__expanded {
    h4 {
      color: $blue-light;
    }
  }  
  .find-more__section {
    border-bottom: 2px dotted $blue-light;
  }
}
.cs_charity{
  .find-more__expanded {
    h4 {
      color: $charity-light;
    }
  }  
  .find-more__section {
    border-bottom: 2px dotted $charity-light;
  }
}
.cs_financial{
  .find-more__expanded {
    h4 {
      color: $financial-light;
    }
  }  
  .find-more__section {
    border-bottom: 2px dotted $financial-light;
  }
}
.cs_professional{
  .find-more__expanded {
    h4 {
      color: $professional-light;
    }
  }  
  .find-more__section {
    border-bottom: 2px dotted $professional-light;
  }
}
*/