.thanks_hero{
  min-height:30em;
  padding:8em 0 0 0;
  .hero__overlay{
    display:none;
  }
}

.thanks{
  padding-top:1.5em;
  /*min-height:25.6em;*/
  @extend .padding--large, .text--dark-blue, .page-max-width;
  /*background: $gray-light;*/
  .thanks__container{
    @extend .container;
    .thanks__title__container{
      @extend .row;
      .thanks__title{
        @include make-sm-column(8);
        @extend .col--centered;
        h1 {
          margin-bottom:.6em;
          @extend .font--serif--italic;
          letter-spacing:0px;
          font-size:1.7em;
          line-height:122%;
          color:#171f45;
          font-weight:100;
          text-transform:none;
        }
        span {
          @extend .font--serif--italic;
        }

      }
      .thanks__description{
        @include make-sm-column(8);
        @extend .col--centered;
        p{
          font-size:1.05em;
          letter-spacing:1px;
          margin-bottom:20px;
          color:#636363;
          strong{
            color:#1b1b46;
            font-family:$font-family-bold-cond;
          }
        }
      }
    }
    hr{
      display:block;
      width:160px;
      margin:0px auto 60px auto;
      height:1px;
      border:0;
      background-color:$blue-divider;
    }
  }
}

/*
@media screen and (min-width: $bp-sm-min) {
}

@media screen and (min-width: $bp-md-min) {
}

.cs_individual{
          color: $blue-light;
}
.cs_charity{
          color: $charity-light;
}
.cs_financial{
          color: $financial-light;
}
.cs_professional{
          color: $professional-light;
}
*/