.information-pages {
  @extend .padding--large, .text--dark-blue, .page-max-width;
  background: $gray-light;
}

.information-pages__container {
  @extend .container;
}

.information-pages__inner {
  @extend .row;
}

.information__content {
  @extend .align--left, .padding--standard;
  overflow: auto;
}

.information__title {
  @extend .archive__title;
}

.information__title {
  @include make-xs-column(12);
  &, h1 {
    @extend .align--left;
  }
}

.information__content {
  @include make-xs-column(12);
  @include make-sm-column(8);
}
.information__relevant {
  @include make-xs-column(12);
  @include make-sm-column(3);
  background: $white;
  &, h3 {
    @extend .align--left;
  }
}
