.insight-collection {
  @extend .padding--large, .text--dark-blue, .page-max-width;
  background: $gray-light;
  .insight-collection__title{
    h2{
      
      @supports (-webkit-overflow-scrolling: touch) {
        &{
          letter-spacing:-2px;
        }
      }
    }
  }
}

.insight-collection--white {
  background: $white;
  .collection__item__content {
    background: $gray-light;
  }
}

.insight-collection__container {
  @extend .container;
  padding-left:2em;
  padding-right:2em;
}

.insight-collection__title__container {
  @extend .row;
}

.collection__title {
  @include make-sm-column(8);
  @extend .col--centered;
  h1 {
    margin-bottom: .125em;
  }
  span {
    @extend .font--serif--italic;
  }
}

.collection__description {
  @include make-sm-column(8);
  @extend .col--centered;
}

.collection__latest {
  @include make-sm-column(8);
  @extend .col--centered;
  h2 {
    @extend h4;
  }
  .collection__latest__available {
    @extend .font--serif--italic;
  }
}

.collection__list {
  @extend .row;
  h3{
    
    @supports (-webkit-overflow-scrolling: touch) {
      &{
        letter-spacing:-1px;
      }
    }
  }
}


.collection__accordion__list {
  @include make-sm-column(11);
  @include make-md-column(10);
  @extend .col--centered;
}

.collection__item {
  @include make-xs-column(12);
  @include make-sm-column(4);
  margin-bottom: 1.5em;
  &, h2, h3 {
    @extend .align--left;
  }
}

.collection__item__image {
  position: relative;
  text-align: center;

  padding-top:75%;


  @extend .bg-image;
  /*
  img {
    width: 100%;
  }
  */
}


.collection__item__image__overlay {
  background: rgba($black, 0.6);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  i {
    @extend .transition--link;
    background: rgba($white, 0.6);
    border-radius: 50%;
    font-size: 3em;
    height: 2em;
    padding-top: .5em;
    position: relative;
    top: 50%;
    width: 2em;
    transform: translateY(-50%);
    &:hover, &:focus {
      background: rgba($white, 0.9);
    }
  }
}

.collection__item__content {
  @extend .padding--large--all;
  background: $white;
  h3{
      font-family:"Helvetica Neue Roman";
      font-weight:600;
  }
}

@media screen and (min-width: $bp-md-min) {
  .collection__logo {
    &:nth-child(1) {
      @include make-md-column-offset(1);
    }
  }
}

