.isa-tool{
  margin-top:0px;
  position:relative;
  z-index:1;

  @extend .padding--large;
  max-width:$page-max-width;
  margin-left:auto;
  margin-right:auto;

  &.isa-tool--gray {
    background: $gray-light;
  }
}

.isa-tool__container {
  @extend .container;
}

.isa-tool__inner {
  @extend .row;
}

.isa-tool__inner {
  .block {
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(12);
    /*@include make-xs-column-offset(1);*/
    position: relative;
    margin-bottom: 2em;
    min-height: 2em;
    .chart{
      width:95%;
      margin:0 auto 0.5em auto;
      background-color:#fff;
    }
    .chart-controls{
      .field{
        @include make-xs-column(12);
        @include make-md-column(4);
      }
      p{
        margin:0em auto 0.5em auto;
      }
      input[type="text"]{
        margin:0em auto 1.5em auto; 
      }
      .slider{
        width:200px;
        margin:0em auto 1em auto;
      }
    }
  }
}

.chart{
  div.googleChart{
      width:100%;
      min-height:500px;
  }
}
.extraNominal{
  width:100%;
}