.login-panels {
  margin-top:0px;
  position:relative;
  z-index:1;

  @extend .padding--large;
  max-width:$page-max-width;
  margin-left:auto;
  margin-right:auto;

  &.login-panels--gray {
    background: $gray-light;
  }
}

.login-panels__container {
  @extend .container;
}

.login-panels__inner {
  @extend .row;
}

.login-panels__inner {
  .block {
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(5);
    /*@include make-xs-column-offset(1);*/
    position: relative;
    margin-bottom: 2em;
    min-height: 2em;
  }
}

// CLASS NAMES CHANGE FOR SANDEEP
// .login-panel {
//   @include make-xs-column(10);
//   @include make-sm-column(6);
//   @include make-md-column(5);
//   @include make-xs-column-offset(1);
//   position: relative;
//   margin-bottom: 2em;
//   min-height: 2em;
// }


.login-panel__content {
  @extend .padding-all--standard;
  background: $white;
  .button {
    display: block;
    margin: 2em auto;
    width: fit-content;
  }
}

.login-panel__details {
  @extend .font--bold;
  a {
    @extend .link--underline;
    font-weight: 500;
  }
  span {
    display: block;
  }
}

@media screen and (min-width: $bp-sm-min) {
  .login-panel__content {
    min-height: 49em;
  }
  .login-panels__inner {
    .block {
      &:first-child {
        @include make-xs-column-offset(0);
        @include make-sm-column-offset(0);
        @include make-md-column-offset(0);
      }
      &:last-child {
        @include make-sm-column-offset(0);
        @include make-md-column-offset(0);
      }
    }
  }
}

@media screen and (min-width: $bp-md-min) {
  .login-panel__content {
    min-height: 45em;
  }
  .login-panels__inner {
    .block {
      &:first-child {
        @include make-xs-column-offset(0);
        @include make-sm-column-offset(0);
        @include make-md-column-offset(1);
      }
      &:last-child {
        @include make-sm-column-offset(0);
        @include make-md-column-offset(0);
      }
    }
  }
}
