.logo__icon {
  @extend .row;
  img {
    @extend .padding--standard;
    display: block;
    margin: auto;
    max-width: 2.5em;
    @media (min-width: 480px) {
      max-width: 3.4em;
    }
  }
}

.footer__main {
  .logo__icon {
    img {
      max-width: 2.5em;
    }
  }
}

.logo__icon__inner {
  @include make-xs-column(2);
  @include make-sm-column(1);
  @extend .col--centered;
}
