.office-finder {
  @extend .page-max-width;
  margin-top:0px;
  position:relative;
  z-index:1;
  &:not(.office-finder--single, .office-finder--integrated) {
    @extend .padding--large;
  }
  &:not(.office-finder--single) {
    &, .office-finder__section {
      @extend .padding--large;
      .office-finder__content {
        @extend .padding--standard;
      }
    }
  }
  background: $white;
  position: relative;
  input {
    display: block;
  }
  .label-required {
    text-align: center;
  }
}

.office-finder--gray {
  @extend .input--gray;
  background: $gray-light;
}

.office-finder__container {
  @extend .container;
}

.office-finder__inner {
  @extend .row;
}

#peoplefilterForm {
  .button {
    margin: 0.4em 0 0.5em 1em;
  }
}

.office-finder__header {
  h2 {
    font-family:"Helvetica Neue Roman";
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0px;
    font-weight:600;
    font-size:31px;
    
    @supports (-webkit-overflow-scrolling: touch) {
      &{
        letter-spacing:-2px;
      }
    }
  }
}

.office-finder__section {
  @extend .col--centered;
  @include make-xs-column(12);
  @include make-md-column(8);
  overflow: hidden;
  &:last-child {
    border-bottom: none;
  }
}

.office-finder__section__list {
  @extend .transition--long;
  @include make-md-column(10);
  max-height: 1000em;
  overflow: hidden;
  &.office-finder__section__list--invisible {
    max-height: 0;
    padding: 0 !important;
  }
}

.office-finder__content {
  form {
    margin: auto;
  }
  label {
    display: block;
    margin-bottom: 0.3em;
  }
  span {
    display: inline-block;
    position: relative;
  }
}

.office-finder__section__title {
  @include make-md-column(8);
  @extend .col--centered, .padding-bottom--large;
}

.office-finder__section__people {
  @include make-sm-column(10);
  @include make-md-column(9);
  @extend .padding--large;
  overflow: hidden;
  max-width:1170px;
}

.office-finder__people__content {
  ul{
    li{
      display:inline-block;
      float:left;
      margin-bottom: 10px;
      box-sizing:border-box;
      padding:5px;
      width:100%;
      @media (min-width: 480px) {
        &{width:50%;}
      }
      @media (min-width: 992px) {
        &{width:33.3%;}
      }
      img{width:100%;height:auto;}
      div{
        &.sizer{
          padding:0;
          width:80%;
          margin:0 auto;
        }
        &.frame{
          padding:0;
        }
        display:block;
        text-align:left;
        span{display:block;width:100%;}
        span.role {
          @extend .font--serif--italic;
          display:inline-block;
        }
        .actions{
          padding:0;
          &:after{
            content:" ";
            display:block;
            float:none;
            clear:both;
          }
          span.bio, span.email,span.linkedin{
            display:inline-block;
            float:left;
            width:auto;
            cursor:pointer;
          }
          span.bio, span.email{
            padding-right:0.5em;
            a {
              @extend .link--underline;
              padding: .25em 0;
            }
          }
          span.email{
            a {
              margin-left:1em;
            }
          }
          span.linkedin{
            a{
              position:relative;
              top:5px;
              margin-left:1em;
              text-indent:-9999em;
              display:block;
              width:20px;
              height:20px;
              background-image:url('../../assets/images/icons/linkedin64.png');
              background-repeat:no-repeat;
              background-position:left top;
              background-size:cover;
              cursor:pointer;
            }
          }
        }
        h4{margin-bottom: .25em;}
      }
    }
  }

  div.viewClip{
    @extend .transition--long;
    max-height:0px;
    overflow:hidden;
    &.open{
      max-height:100%;
    }
  }

  ul.flexPeople{
    width:100%;
    /*
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    */
    li{
      position:relative;
      padding:0 5px 0 5px;
      margin:0 0 5px 0;
      box-sizing:border-box;
      width:100%;
      display:inline-block;
      float:left;

      img{
        width:100%;
      }
      @media screen and (min-width: 480px) {
        &{
          width: 50%;
        }
      }
      @media screen and (min-width: $bp-sm-min) {
        &{
        }
      }
      @media screen and (min-width: $bp_md-min) {
        &{
          width:33.3%;
        }
      }
      @media screen and (min-width: $bp_lg-min) {
        &{
        }
      }

    }
  }

}

/* Carousel styling */

.office-finder__section.office-finder__section__people {

  .slick-track {
    float: left;
  }
  .slick-next, .slick-prev {
    top: 35%;
  }
  .slick-prev {
    left: 12px;
    z-index: 99;
    background: url(../../assets/images/icons/arrow-left.png);
    width: 21px;
    height: 43px;
    @media (min-width: 480px) {
      &{left: 7px;}
    }
    &.slick-disabled {
      background: url(../../assets/images/icons/arrow-left-disabled.png);
    }
  }

  .slick-prev:before, .slick-next:before {
    display: none;
  }

  .slick-next {
    right: 12px;
    background: url(../../assets/images/icons/arrow-right.png);
    width: 21px;
    height: 43px;
    @media (min-width: 480px) {
      &{right: 7px;}
    }
    &.slick-disabled {
      background: url(../../assets/images/icons/arrow-right-disabled.png);
    }
  }
  .slick-slider {
    margin-top: 31px; 
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    float: none;
  }
  .slick-dots li button:before {
    font-size: 8px;
  }
  div{
  &.sizer{
    padding:0;
    width:75%;
    margin:0 auto;
  }
  &.frame{
    padding:0;
  }
  span{display:block;width:100%;}
  span.role {
    @extend .font--serif--italic;
    display:inline-block;
    text-align: left;
  }
  .actions{
    padding:0;
    &:after{
      content:" ";
      display:block;
      float:none;
      clear:both;
    }
    span.email,span.bio{
      display:inline-block;
      float:left;
      width:auto;
    }
    span.email,span.bio{
      a, p {
        /* font-family:$font-family-bold-cond; */
        font-family: $font-family-main;
        @extend .link--underline;
        padding: .25em 0;
      }
      p {
        cursor: pointer;
      }
    }
    span.forward {
      display: inline-block;
      float: left;
      width: auto;
      line-height: 28px;
    }
    span.linkedin{
      a{
        position:relative;
        top:5px;
        margin-left:1em;
        text-indent:-9999em;
        display:block;
        width:20px;
        height:20px;
        background-image:url('../../assets/images/icons/linkedin64.png');
        background-repeat:no-repeat;
        background-position:left top;
        background-size:cover;
        cursor:pointer;
      }
    }
  }
  .phone {
    text-align: left;
  }
  h4{margin-bottom: .25em;}
  }
}

.viewSenior .sizer {
  margin: 0 10px;
}

.office-finder__people__content {
  
  .viewSenior,
  .viewSeniorHead,
  .viewJunior {
    h4.name {
      text-align: left;
    }
    .hidden-text {
      position: absolute;
      background: rgba(255,255, 255, 0.9);
      width: 100%;
      height: 100%;
      display: none;
      text-align: left;
      padding: 0 10px 10px 10px;
      overflow-y: scroll;
      p.bio-details {
        position: relative;
        width: 100%;
        color: #1d2343;
        margin-bottom: 0.5em;
        // overflow: scroll;
        // height: 100%;
        // min-height: 100%;
        // padding-right: 15px;
      }
      h4 {
        margin-top: 30px;
      }
    }
    span.bio{
      padding-right:0.5em;
    }
    .bio-overlay {
      top: 0;
      display: block;
    }
    .close-overlay {
      color: #000000;
      position: absolute;
      top: 12px;
      right: 12px;
      cursor: pointer;
      width: 12px;
      height: 13px;
      background: url('../../assets/images/icons/close.png')
    }
    .sizer {
      position: relative;
    }
  } 
  .viewSeniorHead {
    .senior-border {
      display: none;
      @media (min-width: 480px) {
        display: block;
        position:absolute;
        right:0px;
        top:0px;
        min-height:100%;
        height:100%;
        width:3px;
        background-color:#d2d7df;
      }
    }
  }
  .viewSenior {
    width: 100%;
    @media (min-width: 480px) {
      &{width:100%; max-width: 50%}
    }
    @media (min-width: 992px) {
      &{width:100%; max-width: 66.6%}
    }
    .flexPeople {
      li {
        max-width: 100%;
        width: 100%;
        height: 100%;
        @media (min-width: 992px) {
          &{width:50%;}
        }
      }
    }
    h4.name {
      margin-top: 5px;
    }
  }
  .viewSeniorHead {
    width: 100%;
    float: left;
    @media (min-width: 480px) {
      &{width:50%;}
    }
    @media (min-width: 992px) {
      &{width:33.3%;}
    }
    .flexPeople {
      li {
        border-right: none;
        width: 100%;
        @media (min-width: 480px) {
          &{border-right: 3px solid #d2d7df;}
        }
        @media (min-width: 992px) {
          &{width:100%;}
        }
      }
    }
    .sizer {
      width: 10%;
    }
  }
} 

@media screen and (max-width: 992px) {
  li:nth-child(2n +1) {
    clear: left;
  }
}

.office-finder__search__content {
  a {
    padding: 0 1em;
  }
}

// Map Code
.office-finder--integrated {
  @extend .transition--long, .transition-delay-long;
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  &.office-finder--integrated--visible {
    max-height: 1000em;
    @extend .padding--standard;
  }
}

.office-finder__map {
  #map {
    min-height: 30em;
  }
}

.office-finder__map {
  @include make-md-column(12);
}

.office-finder__map__inner {
  &:first-child {
    @include make-sm-column(6);
    @include make-md-column(5);
    @include make-md-column-offset(1);
  }
  &:last-child {
    @include make-sm-column(6);
  }
}

.office-finder--single {
  .office-finder__office__details {
    @extend .padding--large;
    margin: 1em 0;
    &, h1, h2, h3, h4, h5 {
      text-align: center;
    }

  }
}

.office-finder__office__details {
  margin-bottom: 2em;
  position: relative;
  &, h1, h2, h3, h4, h5 {
    text-align: left;
    a{
      text-decoration:none;
      color: $gray-dark;
      margin: 0 auto;
    }
  }
  h1, h2, h3, h4, h5 {
    margin-bottom: .125em;
  }
  h3{cursor:pointer};
  span {
    font-family: $font-family-main;
    font-weight: 700;
    display: block;
    @extend .font--bold;
    text-transform:inherit;
    &.office__distance {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  a {

    &:not(.button) {
      @extend .link--bold;
      text-transform:inherit;
    }
    &.details{margin:0;}
    display: block;
    margin: 1em auto;
    width: fit-content;
  }
  .office__repeat-search {
    a {
      @extend .link--bold--underline;
      text-transform:none;
      color: $blue-dark;
    }
  }
}

// List Code
.office-finder__list__content {
  ul {
    overflow: hidden;
    h3 {
      @include make-xs-column(12);
      margin-bottom: 0.5em;
    }
    clear: left;
    display: block;
    text-align: left;
    li {
      @include make-xs-column(6);
      @include make-sm-column(3);
      margin-bottom: 1em;
      a {
        /* font-family: $font-family-bold-cond; */
        font-family: $font-family-main;
        @extend .link--underline;
      }
    }
  }
}

@media screen and (min-width: $bp-sm-min) {
  .office-finder {
    input {
      display: inline-block;
    }
  }
  .office-finder__content {
    .error-message {
      position: absolute;
      left: 0;
    }
    input.error {
      margin-bottom: 5.5em;
    }
    .error-message {
      bottom: 0;
      min-height: 5em;
    }
  }
}

.office-finder--filter{
  background: $gray-light;
  padding:0 0 2.5em 0;
  h3{
    background-color:#ffffff;
    padding-bottom:0.75em;
  }
  select{
    width:25%;
    display:inline-block;
    margin-left:0;
    @media (min-width: 992px) {
      &{margin-left:1em;}
    }
  }
}

.vmClipper,.nomatchClipper{
  @extend .transition--long;
  max-height:60px;
  overflow:hidden;
  &.closed{
    max-height:0px;
  }
}

/* override link colour on 'FIND A DIFFERENT OFFICE' link in /templates/office-single-complex.html */
.cs_individual{
  .office-finder__office__details {
    .office__repeat-search {
      a {
        color: $blue-dark;
      }
    }
  }
}

body.headOfOfficePresent{
  div.senior-team-container{
    display:block;
  }
}
body.seniorTeamPresent{
  div.senior-team-container{
    display:block;
  }
}
body.headOfOfficePresent.seniorTeamPresent{
  .office-finder__people__content .viewSeniorHead div.senior-border{
    display:block;
  }
}
body.noHeadOfOffice{
  .office-finder__people__content {
    .viewSenior {
      width: 100%;
      @media (min-width: 480px) {
        &{width:100%; max-width: 100%}
      }
      @media (min-width: 992px) {
        &{width:100%; max-width: 100%}
      }
    }    
  }
}

body.juniorTeamPresent{
  h3.junior-filter-header,
  section.office-finder--filter,
  section.office-finder--filterOutput{
    display:block;
  }
}

body{
  .office-finder__people__content .viewSeniorHead div.senior-border,
  div.senior-team-container,
  h3.junior-filter-header,
  section.office-finder--filter,
  section.office-finder--filterOutput{
    display:none;
  }
}

.noSeniorTeam{
  div.senior-team-container{
    div.viewSenior{
      display:none;
    }
  }
}
