.pagination {
  @include make-xs-column(12);
  @extend .padding--standard;
}
.pagination__list {
  list-style-type: none;
}
.pagination__item {
  @extend .font--bold;
  display: inline-block;
  margin: 0 0.25em 0 0;
  height: 1.5em;
  min-width: 1.5em;
  a {
    color: $gray-dark;
    text-decoration: none;
    &:hover, &:focus, &.active {
      color: $blue-light;
    }
    &.active {
      @extend .link--bold--underline;
    }
  }
  &:last-child {
    margin-left: 1.5em;
  }
}
