.platform_section{
	.platform_header{
		h2{
			font-size:1.2em;
			margin:0;
		}
		h3{
			font-size:1em;
			text-transform:inherit;
			@extend .font--serif;
			span{
				@extend .font--serif--italic;
			}
		}
	}
	.platform_container{
		margin:0 0 1em 0;
		ul{
			li{
				@include make-xs-column(5);
				@include make-sm-column(3);
				@include make-md-column(2);
				display:inline-block;
				margin-bottom:5px;
				&.textbox{
					div.dt{
						div.dtc{
							border:0;
							display:table;
							min-height:100px;
							width:100%;
							span{
								display:table-cell;
								width:100%;
								vertical-align:middle;
								text-align:center;
								@extend .font--serif;
								font-size:1.5em;
							}
						}
					}
					@media screen and (min-width: $bp_sm-min) {
						&{
							div.dt{
								position:relative;
								padding-top:80.6%;
								div.dtc{
									position:absolute;
									left:0px;
									top:0px;
									width:100%;
									height:100%;
									padding-top:0;
									span{
									}
								}
							}
						}
					}
				}
				div{
					cursor:pointer;
					border:2px solid #c7c7c7;
					position:relative;
					padding-top:0;
					background-color:#fff;
					/* @extend .transition--long; */
					img{
						display:block;
						position:static;
						margin:0 auto;
					}
					@media screen and (min-width: $bp_sm-min) {
						&{
							position:relative;
							padding-top:80.6%;
							img{
								position:absolute;
								left:50%;
								top:50%;
								margin-left:-62px;
								margin-top:-50px;
							}
						}
					}
				}
				&:hover,
				&.selected:hover,
				&.selected{
					div{
						border:2px solid #1e9bd7;	
					}
					
				}
			}
		}
		&:after{
			content:" ";
			clear:both;
			float:none;
			display:block;
		}
	}
	&.historic_platforms{
		.platform_container{
			ul{
				li{
					&:first-child{
						@include make-xs-column-offset(0);
						@include make-sm-column-offset(3);
						@include make-md-column-offset(4);			
					}
				}
			}
		}
	}
}
.platform_download_container{
	background-color:#fff;
	margin:0 0 1em 0;
	max-height:0;
	overflow:hidden;
	&.platform_download_container_visible{
		max-height:50em;
	}
	.platform_header{
		padding: 1.5em 0;
		h3{
			font-size:1em;
			text-transform:inherit;
			@extend .font--serif;
			span{
				@extend .font--serif--italic;
			}
		}
	}
	.platform_downloads{
		ul{
			padding:0 1em;
			box-size:border-box;
			overflow:hidden;
			max-height:100em;
			li{
				margin:0 0 5px 0;
				box-sizing:border-box;
				padding:1em;
				@include make-sm-column(12);
				@include make-md-column(6);
				div{
					text-align:left;
					p,a{margin:0;padding:0;}
					p{}
					a{
						@extend .link--bold--underline;
					}
				}
			}
			&:after{
				content:" ";
				clear:both;
				float:none;
				display:block;
			}
		}
	}

}
@media screen and (min-width: $bp_md-min) {
	.platform_download_container{
		.platform_downloads{
			ul{
				li{
					display:inline-block;
					float:left;
					div{
						p{/*min-height:3em;*/}
					}
				}
			}
		}
	}
}

.platform_range{
	&:after{
		content:" ";
		clear:both;
		float:none;
		display:block;
	}
	.platform_range_container{
		@include make-md-column-offset(4);
		@include make-md-column(4);
		label{
			display:none;
			@include make-md-column(6);
			line-height:2.8em;
		}
		div.dropdown{
			select{
				@include make-md-column(12);
				background-color:#ededed;
			}
		}
	}
}

section.article-archive{
	.historic_platforms,
	.platform_range,
	.platform_latest{
		display:none;
	}
	&.archive{
		.historic_platforms,
		.platform_range,
		.platform_latest{
			display:block;
		}
		.platform_archive{
			display:none;
		}
	}
}
