.related-links {
  @extend .padding--large, .page-max-width;
  padding-bottom: 3em;
  h2,h4{
    font-weight:600;
  }
  h2{
    
    @supports (-webkit-overflow-scrolling: touch) {
      &{
        letter-spacing:-2px;
      }
    }
  }
  h3,h4{
    
    @supports (-webkit-overflow-scrolling: touch) {
      &{
        letter-spacing:-1px;
      }
    }
  }
}

.related-links--gray {
  background: $gray-light;
}

.related-links__wrapper {
  @extend .container;
}

.related-links__inner {
  @extend .row;
  padding-left:2em;
  padding-right:2em;
}

.related-links__block {
  @include make-xs-column(10);
  @include make-sm-column(4);
  @extend .col--centered;
  position: relative;
  margin-bottom: 2em;
  img {
    width: 100%;
  }
}

.related-links__block-brewin__inner {
  height: 100%;
  /*
  border-radius: 3% 3% 0 0;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.75);
  */
  background-color:#fff;
  border:1px solid #ececed;
}

.related-links__content {
  padding: 2em;
}

.related-links__image {
  /* border-radius: 3% 3% 0 0; */
  overflow: hidden;
}

@media screen and (min-width: $bp-sm-min) {
  .related-links__block {
    float: left !important;
  }
}