.search__results {
  margin-top:0px;
  position:relative;
  z-index:1;
  @extend .padding--standard, .page-max-width;
  background: $gray-light;
}
.search__results--none {
  min-height: 30em;
}
.search__results__container {
  @extend .container;
}
.search__results__inner {
  @extend .row;
}

.search__result__title {
  @include make-xs-column(12);
  @include make-sm-column(9);
  @include make-md-column(8);
  @extend .col--centered;
  &, h1 {
    color: $blue-dark;
  }
  h1 {
    @extend h2;
    margin-bottom: 1.5em;
    font-weight:600;
    line-height:normal;
    letter-spacing:0;
    @supports (-webkit-overflow-scrolling: touch) {
      &{
        letter-spacing:-2px;
      }
    }
  }
}

.search__results__list {
  @include make-xs-column(12);
}

.search__result {
  @extend .padding-bottom--large;
  &, h2 {
    @extend .align--left, .transition--link;
  }
  h2 {
    @extend h4;
    color: $blue-light;
    line-height:normal;
    letter-spacing:0;
    @supports (-webkit-overflow-scrolling: touch) {
      &{
        letter-spacing:-1px;
      }
    }
  }
  a {
    @extend .link--hover;
    text-decoration: none;
  }
  p {
    @extend .font--serif--italic;
  }
}

.cs_individual{
  .search__result__title {
    &, h1 {
      color: $blue-dark;
    }
  }
  .search__result {
    h2{
     color: $blue-dark; 
    }
  }
}
.cs_charity{
  .search__result__title {
    &, h1 {
      color: $charity-dark;
    }
  }
  .search__result {
    h2{
     color: $charity-dark;
    }
  }
}
.cs_financial{
  .search__result__title {
    &, h1 {
      color: $financial-dark;
    }
  }
  .search__result {
    h2{
     color: $financial-dark;
    }
  }
}
.cs_professional{
  .search__result__title {
    &, h1 {
      color: $professional-dark;
    }
  }
  .search__result {
    h2{
     color: $professional-dark;
    }
  }
}
.cs_task1762{
  .search__result__title {
    &, h1 {
      color: $task1762-dark;
    }
  }
  .search__result {
    h2{
     color: $task1762-dark;
    }
  }
}
