.sitemap{
	.articles-single__inner{
		padding:0 20px;
		width:100%;
		box-sizing:border-box;
		color: $blue-dark;
		font-family: $font-family-light-cond;
		letter-spacing: 0;
		margin-bottom: 1em;
		@media screen and (min-width: $bp-sm-min) {
			width:80%;
			padding:0;
			margin:0 auto 1em;
		}
		ul {
			display: none;
			&.active {
				display: block;
			}
		}
	}
	text-align:left;
	h1,h2,h3,h4{
		font-family: $font-family-light-cond;
		margin:0;
		text-align:left;
	}
	.sitemap__title {
		h2, h3, h4 {
			&:before {
				content: '+';
				font-size: 1.3em;
			    line-height: 22px;
			    color: $blue-light;
			    position: relative;
			    top: -2px;
			    padding-right: 3px;
			}
		}
		&.sitemap--active {
			h2, h3, h4 {
				&:before {
					content: '–';
					top: 0;
				    padding-right: 5px;
				}
			}
		}
	}
	
	button {
		display: block;
		border: none;
		background-color: $gray-light;
		outline: none;
		padding: 0;
	}
	ul{list-style-type:none;padding-left:0;}
	h1{font-size:1.4em;}
	h2,h3,h4{font-size:0.9em;}
	a{
		text-decoration:none;
		position:relative;
		padding-bottom:3px;
		&:after {
			font-size:0.9em;
			position:absolute;
			left:0;
			content: "";
			background-color: transparent;
			bottom: 0;
			display: inline-block;
			height: 1px;
			margin: 0;
			width: 100%;
		}
        &:hover, &:focus, &.link--active {
          &:after {
            background-color: $blue-light;
          }
        }

	}
	ul{
		padding-left:1em;
		li{
			a{}
			h2{}
			ul{
				padding-left:2em;
				li{
					a{}
					h3{}
					ul{
						padding-left:2em;
						li{
							a{}
							h4{}
							ul{
								padding-left:2em;
								li{
									a{}
								}
							}
						}
					}
				}
			}
		}
	}
}