// Slider Controls
.next,
.prev {
  @extend .bg-image;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  height: 1.25em;
  margin-top: -2em;
  position: absolute;
  top: 50%;
  width: 1.25em;
  z-index: 100;
  span {
    display: none;
  }
}

.next {
  right: 0;
  background-image: url("../../assets/images/icons/chevron-next.svg");
  right: 1em;
}

.prev {
  left: 0;
  background-image: url("../../assets/images/icons/chevron-prev.svg");
  left: 1em;
}

.slider {
  @extend .container;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.frame {
  position: relative;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.slides {
  display: inline-block;
  position: relative;
  width: 100%;
}

.slide {
  @extend .row;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  display: inline-block;
  min-height: 25em;
  width: 100%;
  white-space: normal;
}

.slide__content {
  @include make-xs-column(12);
  @include make-sm-column(8);
  @include make-md-column(6);
  @extend .col--centered;
  @extend .padding--standard, .padding-bottom--large;
  > * {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

.js_dots {
  bottom: 1em;
  margin: auto;
  overflow: auto;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 300;
  li {
    background: rgba($gray-medium, 0.7);
    border-radius: 50%;
    display: inline-block;
    height: 0.85em;
    margin: 0 0.25em;
    width: 0.85em;
    &.active {
      background: $blue-dark;
    }
  }
}

@media screen and (min-width: $bp-md-min) {
  .controls {
    height: 2em;
    width: 2em;
  }
  .slider__pager {
    ul {
      bottom: 4em;
    }
  }
  .next,
  .prev {
    height: 2em;
    width: 2em;
    span {
      display: none;
    }
  }
  .slide__content {
    padding-top: 2em;
  }
}
