.testimonial {
  @extend .padding--large, .text--dark-blue,.page-max-width;
  &.testimonial--gray {
    background: $gray-light;
  }
}

.testimonial__inner {
  @extend .container;
}

.testimonial__content__wrapper {
  @extend .row;
}

.testimonial__image {
  @include make-xs-column(12);
  @include make-md-column(4);
  @extend .col--centered;
  // display: table-cell;
  vertical-align: middle;
  color: $white;
}

.testimonial__content {
  @include make-xs-column(12);
  @include make-md-column(6);
  @extend .col--centered;
  // display: table-cell;
  vertical-align: middle;
}

.testimonial__intro {
  @extend .font--bold;
  span.serif {
    @extend .font--serif--italic;
    font-weight: 500;
  }
}

.testimonial__text {
  line-height: 1.5;
}

.testimonial__provider {
  @extend .font--bold;
  text-transform: uppercase;
}

.testimonial__provider--description {
  @extend .font--serif;
}

@media screen and (min-width: $bp-md-min) {
  .testimonial__content__wrapper {
    display: table;
  }
  .testimonial__image {
    display: table-cell;
    vertical-align: middle;
    color: $white;
  }

  .testimonial__content {
    display: table-cell;
    vertical-align: middle;
  }
}
