.triage-quiz {
  @extend .page-max-width;
  margin-top:0px;
  position:relative;
  z-index:1;
  padding-top: 2.25em;
  padding-bottom: 0.5em;
  &.triage-quiz--gray {
    background: $gray-light;
  }
  h2 {
    margin-bottom:0;
  }
}

.triage-quiz__inner{
  width:100%;
  padding-top:10px;
}
.triage-quiz__results {
  background: $gray-light;
}

.triage-quiz__container {
  @extend .container;
}

.triage-quiz__section {
  @extend .row;
  display: table;
  table-layout: fixed;
  text-align: center;
}

.triage-quiz__breadcrumb {
  margin: 1em 0 2em;
  position: relative;
  overflow: auto;
  width: 100%;
}

.triage-quiz__start__container {
  float: left;
  overflow: auto;
  width: 100%;
  display:table;
  margin-bottom:0.5em;
}

.triage-quiz__start {
  box-sizing:border-box;
  background-image: url('../../assets/images/triage/breadcrumb-start-141.png');
  background-repeat: no-repeat;
  background-position: left 50%;
  cursor: pointer;
  height:32px;
  padding: 0 0 0 .5em;
  text-align: left;
  width:126px;
  color:#000;
  display:table-cell;
  vertical-align:middle;
  position:relative;
  span {
    @extend .font--bold;
  }
}

.triage-quiz__crumb__container {
  float: left;
  overflow: auto;
  width: 100%;
}

.triage-quiz__crumbs {
  @extend .font--bold, .font--sm;
  color: $black;
  li {
    float: left;
    list-style: none;
    padding: 1em 1em 0 0;
    &:after {
      content: '\f0da';
      font-family: 'FontAwesome';
      padding: 0 0 0 .5em;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

.triage-quiz__item {
  a {
    @extend .font--bold;
    background-color: #fff;
    &:after {
      background-color: transparent;
    }
    text-decoration: none;
    &:hover, &:focus {
      color: $black;
    }
  }
  display: none;
  margin: 1em auto;
  text-align: center;
}

.triage-quiz__item--active {
  display: block;
  opacity: 1;
  vertical-align: middle;
  padding: 0 1em;
}

.triage-quiz__section {
  @include make-sm-column(6);
  margin-left:0;
  margin-right:0;
  .triage-quiz__item {
    width: 100%
  }
  &.triage-quiz__section--selected {
    @include make-sm-column(12);
    .triage-quiz__item {
    }
  }
}

.triage-quiz__results {
  @extend .blocks-brewin--alternate, .blocks-brewin--gray, .transition--long;
  max-height: 0;
  overflow: hidden;
  h2 {
    margin-bottom: 1.5em;
  }
  &:before, &:after {
    display: none;
  }
  &.triage-quiz__results--visible {
    max-height: 200em;
  }
}

.triage-quiz__result {
  .buttons{
    list-style-type:none;
    padding:0;
    li{
      display:block;
      float:none;
      clear:both;
      padding-bottom:0.5em;
      a{
        @extend .font--bold, .link--bold--underline;
      }
    }
  }
  &:nth-child(odd) {
    .block-brewin {
      &:nth-child(odd) {
        float: right !important;
      }
    }
  }

  .block-brewin__content {
    display: block;
    min-height: inherit;
    width: 100%;

    /*
    */
  }
  .block-brewin__content__text{
    min-height: inherit;
    height:auto;
  }
  .block-brewin__content--image{
      min-height: 25em;
  }
}

@media screen and (min-width: $bp-sm-min) {
  .triage-quiz__item--active {
    display: table-cell;
  }
  .triage-quiz__start__container {
    width: 25%;
    width:125px;
    &.unset{
      width:141px;
    }
  }
  .triage-quiz__crumb__container {
    width: 75%;
    width:calc(100% - 125px);
  }
}
@media screen and (min-width: $bp-md-min) {
  .triage-quiz__start__container {
    width: 15%;
    width:125px;
    &.unset{
      width:141px;
    }
  }
  .triage-quiz__crumb__container {
    width: 85%;
    width:calc(100% - 125px);
  }
}

.tqBox{
  @extend .container;
  .titleBlock{
    background-image:url('../../assets/images/triage/dots.png');
    background-repeat:repeat-x;
    background-position:left bottom;
    padding-bottom:0.75em;
    h2{margin:0;}
    p{margin:0;}
  }
  .dots{

  font-family: $font-family-bold-cond;
  /*font-weight: 700;*/
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;

    padding-top:0.75em;
    background-image:url('../../assets/images/triage/divider.png');
    background-repeat:repeat-y;
    background-position:50% top;
    &:after{
      background-image:url('../../assets/images/triage/darrow.png');
      background-repeat:no-repeat;
      background-position:50% bottom;
      content:" ";
      display:block;
      width:100%;
      height:14px;
      clear:both;
      float:none;
    }
    .triage-quiz__crumb__container{
      
      ul{
        list-style-type:none;
        padding:0;
        margin:0;
        li{
          width:100%;
          margin-bottom:0.5em;

          background-image:url('../../assets/images/triage/breadcrumb-item-right3.png');
          background-repeat:no-repeat;
          background-position:right top;

          &:first-child{
            span{border-width:1px 0 1px 1px;}
          }          
          @media screen and (min-width: $bp_sm-min) {
            &{
              width:50%;
              &:first-child{
                span{border-width:1px 0 1px 0px;}
                &:before{
                  position:absolute;
                  left:0;
                  top:0;
                  content:" ";
                  display:inline-block;
                  width:16px;
                  height:32px;
                  background-image:url('../../assets/images/triage/breadcrumb-start-cap.png');
                  background-repeat:no-repeat;
                  background-position:left top;
                }
              }
            }
          }
          @media screen and (min-width: $bp_md-min) {
            &{
              
            }
          }

          &:last-child{
            background-image:url('../../assets/images/triage/breadcrumb-item-right.png');
            span{
              border-color:#1e9bd7;
            }
          }

          padding-right:16px;
          position:relative;
          float:left;
          display:inline-block;
          display:table;
          @extend .font--bold, .font--sm;
          span{
            /*
            background-image:url('../../assets/images/triage/breadcrumb-item-bg.png');
            background-repeat:repeat-x;
            background-position:left top;
            */
            color:#000;
            border-width:1px 0 1px 1px;
            border-color:#808080;
            border-style:solid;
            background-color:#fff;
            display:table-cell;
            vertical-align:middle;
            box-sizing:border-box;
            height:32px;
            padding:0 1em 0 1em;
            line-height:1em;
          }
          /*
          &:after{
            position:absolute;
            right:0px;
            top:0;
            content:" ";
            background-image:url('../../assets/images/triage/breadcrumb-item-right3.png');
            background-repeat:no-repeat;
            background-position:left top;
            display:inline-block;
            width:18px;
            height:32px;
          }
          */
        }
      }
      padding-bottom:0.75em;
    }
  }
}

.secxbox{
  &:after{
    content:"";
    clear:both;
    float:none;
    display:block;
  }
  .secx{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
    width:50%;
    float:left;
    display:inline-block;
    &.on{
      width:100%;
    }
    &.off{
      a{display:none;}
    }
    a{
      /* font-family: $font-family-bold-cond; */
      font-family: $font-family-main;
      /*font-weight: 700;*/
      font-weight: 400;
      letter-spacing: 0px;
      text-transform: uppercase;

      text-decoration:none;
      cursor:pointer;
      display:inline-block;
      padding:1em;
      box-sizing:border-box;
      flex:1;
      background-color:#fff;
      border-width:1px;
      border-style:solid;
      border-color:$blue-light;
      margin:0 5px 5px 5px;
      width:calc(100% - 12px;);
      &.off{
        display:none;
      }
      &:hover{
        background-color:$blue-light;
        color:#fff;
      }
    }
  }
}