<!--
content block: double column alternating text/image
-->
    <section class="blocks-brewin blocks-brewin--alternate">
      <div class="blocks-brewin__container">
        <div class="blocks-brewin__inner glanceblocks">

          <!-- <div class="block"> -->

            <div class="block-brewin">
              <div class="block-brewin__content block-brewin__content--gray">
                <div class="block-brewin__content__text">
                  <div class="block-brewin__content__text__inner">
                    <h2>Financial stability and key facts</h2>
                    <ul class="realbullet">
<li>One of the largest independently owned private client wealth managers in the UK</li><li>Total Funds Under Management &pound;40.1* billion</li><li>Discretionary Wealth management Service FUM &pound;33.8* billion</li><li>Over 80,000 private clients, charities and pension funds</li>
                      
                    </ul>
                    <p>*as of 30 September 2017</p>
                  </div>
                </div>
              </div>
            </div>

          <!--
          </div>
          <div class="block">
          -->

            <div class="block-brewin">
              <div class="block-brewin__content block-brewin__content--image" style="background-image:url(../assets/images/home/individuals.jpg);">
              </div>
            </div>

            <div class="block-brewin">
              <div class="block-brewin__content block-brewin__content--gray">
                <div class="block-brewin__content__text">
                  <div class="block-brewin__content__text__inner">
                    <h2>Heritage and integrity of private client business</h2>
                    <ul class="realbullet">
<li>Resilient and proven business model providing personal financial advice</li><li>A long history traced over 250 years and a long term outlook</li><li>Our clients trust us and we inspire their loyalty and enjoy strong retention levels over generations</li><li>Champion of private investors’ interests –we campaign for a level playing field with institutions wherever possible</li>
                      
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="block-brewin">
              <div class="block-brewin__content block-brewin__content--image" style="background-image:url(../assets/images/home/individuals.jpg);">
              </div>
            </div>

            <div class="block-brewin">
              <div class="block-brewin__content block-brewin__content--gray">
                <div class="block-brewin__content__text">
                  <div class="block-brewin__content__text__inner">
                    <h2>Private clients, charities and pension funds</h2>
                    <ul class="realbullet">
<li>Individual and personal service is central to everything we do</li><li>Clients trust our judgement particularly in times of uncertainty</li><li>Our clients invest for the long term</li><li>Clients’ portfolios are designed to suit their individual requirements and all our investment managers are qualified to make investment decisions at a local level</li><li>Brewin Dolphin has no in-house funds or products - no conflicts of interest</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="block-brewin">
              <div class="block-brewin__content block-brewin__content--image" style="background-image:url(../assets/images/home/individuals.jpg);">
              </div>
            </div>

            <div class="block-brewin">
              <div class="block-brewin__content block-brewin__content--gray">
                <div class="block-brewin__content__text">
                  <div class="block-brewin__content__text__inner">
                    <h2>Staff and offices</h2>
                    <ul class="realbullet">
<li>29 offices throughout the UK, Eire and the Channel Islands</li><li>Over 400 fully qualified investment managers and financial planners</li><li>Tilman Brewin Dolphin Limited in Dublin</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="block-brewin">
              <div class="block-brewin__content block-brewin__content--image" style="background-image:url(../assets/images/home/individuals.jpg);">
              </div>
            </div>

          <!-- </div> -->
        </div>
      </div>
    </section>
