<!--
content: blocks triple column
-->
    <section class="blocks-brewin blocks-brewin--triple">
      <div class="blocks-brewin__container">
        <div class="blocks-brewin__inner">
          <div class="block-brewin">
            <div class="block-brewin__content">
              <div class="block-brewin__content__text">
                <h3>For Financial advisors</h3>
                <p>
                  Manage your clients’ investments in partnership with one of the UK’s most respected wealth managers.
                </p>
                <a href="#"  class="button">Find out more</a>
              </div>
            </div>
          </div>
          <div class="block-brewin">
            <div class="block-brewin__content">
              <div class="block-brewin__content__text">
                <h3>For Professional services</h3>
                <p>
                  Build, grow and protect your wealth with a wealth manager that specialises in the professions.
                </p>
                <a href="#"  class="button">Find out more</a>
              </div>
            </div>
          </div>
          <div class="block-brewin">
            <div class="block-brewin__content">
              <div class="block-brewin__content__text">
                <h3>For Charities</h3>
                <p>
                  Maximise the effectiveness of your finances.Partner with the wealth manager working with the UK’s leading charities.
                </p>
                <a href="#" class="button">Find out more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
