<!--
  content block: single column fullwidth
-->

    <section class="blocks-brewin blocks-brewin--full blocks-brewin--gray">
      <div class="blocks-brewin__container">
        <div class="blocks-brewin__inner">
          <div class="block-brewin">
            <div class="block-brewin__content">
              <div class="block-brewin__content__text">
                <h2>What's right for me?</h2>
                <p>
                  Tell us about you and your wealth, to unlock aworld of advice and investments and discover the service that’s right for you?
                </p>
                <a href="#" class="button">Find out more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
