    <section class="information-pages">

      <div class="information-pages__container">
        <div class="information-pages__inner">

          <article class="information-single">

            <div class="information__title">
              <h1>Disclaimer</h1>
            </div>

            <div class="information__content information__content--information">

              <div class="information__content__wrapper">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue. Phasellus sapien enim, luctus sit amet purus quis, feugiat varius massa. Aenean quis fringilla justo. Integer ac orci ac quam facilisis luctus a vel arcu. Donec rutrum tortor aliquet, auctor lorem vitae, feugiat lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue.
                </p>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue. Phasellus sapien enim, luctus sit amet purus quis, feugiat varius massa. Aenean quis fringilla justo. Integer ac orci ac quam facilisis luctus a vel arcu. Donec rutrum tortor aliquet, auctor lorem vitae, feugiat lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue.
                </p>

                <p>
                  Phasellus sapien enim, luctus sit amet purus quis, feugiat varius massa. Aenean quis fringilla justo. Integer ac orci ac quam facilisis luctus a vel arcu. Donec rutrum tortor aliquet, auctor lorem vitae, feugiat lacus.
                </p>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue.
                  Phasellus sapien enim, luctus sit amet purus quis, feugiat varius massa. Aenean quis fringilla justo. Integer ac orci ac quam facilisis luctus a vel arcu. Donec rutrum tortor aliquet, auctor lorem vitae, feugiat lacus.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue.
                  Phasellus sapien enim, luctus sit amet purus quis, feugiat varius massa. Aenean quis fringilla justo. Integer ac orci ac quam facilisis luctus a vel arcu. Donec rutrum tortor aliquet, auctor lorem vitae, feugiat lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis imperdiet dolor, sit amet ornare mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In at dui a odio aliquet auctor tristique quis augue.
                </p>
              </div>

            </div>

          </article>
        </div>
      </div>

    </section>
