   <footer class="footer">

      <section class="breadcrumb">
        <div class="breadcrumb__inner">
          <div class="breadcrumb__content">
            <span class="breadcrumb__current">
              Home
            </span>
          </div>
        </div>
      </section>

      <section class="footer__main">
        <div class="footer__inner">

          <!-- Logo container -->
          <div class="logo__icon">

            <div class="col-xs-2 col-sm-1 col--centered">
              <img src="../assets/images/logos/logo-icon.png" alt="Brewin Dolphin" />
            </div>

          </div>

        <div class="footer__socialmedia">

          <div class="column icons">
            <div class="lac">
              <h2>Follow us</h2>
              <ul>
                <li><a href="#[instagram]" target="_blank" title="instagram" class="fa fa-instagram"></a></li>
                <li><a href="#[twitter]" target="_blank" title="twitter" class="fa fa-twitter"></a></li>
                <li><a href="#[facebook]" target="_blank" title="facebook" class="fa fa-facebook"></a></li>
                <li><a href="#[linkedin]" target="_blank" title="linkedin" class="fa fa-linkedin"></a></li>
              </ul>
            </div>
          </div>

          <div class="column phone">
            <div class="lac">
              <h2>Call us</h2>
              <p>020 3201 2900</p>
            </div>
          </div>

          <div class="column email">
            <div class="lac">
              <h2>Write to us</h2>
              <p><a href="mailto:enquiries@brewin.co.uk">enquiries@brewin.co.uk</a></p>
            </div>
          </div>

        </div>

          <div class="footer__offices footer__offices_desktop">

            <div class="footer__offices__inner">

              <div class="footer__offices__menu">
                <a href="/templates/ireland.html">Brewin Dolphin Tilman</a>
              </div>

              <div class="footer__offices__menu">
                <a href="/templates/jersey.html">Brewin Dolphin Jersey</a>
              </div>

            </div>

          </div>

          <!-- Navigation container -->
          <div class="footer__navigation">

            <div class="footer__navigation__inner">

              <!-- Blue links -->
              <div class="footer__menu footer__menu--blue">
                <nav class="footer__nav">
                  <ul>
                  <li><a href="/careers/">Careers</a></li>
                  <li><a href="/corporate-responsibility/">Corporate Responsibility</a></li>
                  <li><a href="http://media.brewin.co.uk/media-centre">Media Centre</a></li>
                  <li><a href="http://media.brewin.co.uk/investor-relations" target="_blank">Investor Relations</a></li>
                  </ul>
                </nav>
              </div>

              <!-- Regular links -->
              <div class="footer__menu">
                <nav class="footer__nav">
                  <ul>
                    <li><a href="/accessibility/">Accessibility</a></li>
                    <li><a href="/class-actions-statement/">Class Actions Statement</a></li>
                    <li><a href="/complaints-procedure/">Complaints Procedure</a></li>
                    <li><a href="/conflicts/">Conflicts</a></li>
                    <li><a href="/cookie-policy/" title="Cookie Policy">Cookie Policy</a></li>
                    <li><a href="/disclaimer/">Disclaimer</a></li>
                  </ul>
                </nav>
              </div>

              <!-- Regular links -->
              <div class="footer__menu">
                <nav class="footer__nav">
                  <ul>
                    <li><a href="/fraudulent-website-report/">Fraudulent Website Report</a></li>
                    <li><a href="/gdpr-statement/">GDPR Statement</a></li>
                    <li><a href="/global-tax-strategy/">Global Tax Strategy</a></li>
                    <li><a href="/modern-slavery-and-human-trafficking-statement/">Modern Slavery and Human Trafficking Statement</a></li>
                    <li><a href="/order-execution-policy/">Order Execution Policy</a></li>
                  </ul>
                </nav>
              </div>

              <!-- Regular links -->
              <div class="footer__menu">
                <nav class="footer__nav">
                  <ul>                  
                    <li><a href="/our-terms/">Our Terms</a></li>
                    <li><a href="/privacy-notice/">Privacy Notice</a></li>
                    <li><a href="/sitemap/">Sitemap</a></li>
                    <li><a href="/stewardship-policy/">Stewardship Policy</a></li>
                    <li><a href="https://mybrewin.brewin.co.uk/vys/" target="_blank">Vote Your Shares</a></li>
                  </ul>
                </nav>
              </div>

            </div>
          </div>

          <div class="footer__offices footer__offices_mobile">

            <div class="footer__offices__inner">

              <div class="footer__offices__menu">
                <a href="/templates/ireland.html">Brewin Dolphin Tilman</a>
              </div>

              <div class="footer__offices__menu">
                <a href="/templates/jersey.html">Brewin Dolphin Jersey</a>
              </div>

            </div>

          </div>
          <!-- Disclaimer container -->
          <div class="footer__disclaimer">

            <div class="footer__disclaimer__inner">
              <p>
                Brewin Dolphin Limited is a member of the London Stock Exchange. Brewin Dolphin Limited is authorised and regulated by the Financial Conduct Authority (Financial Services Register reference number 124444) and regulated in Jersey by the Jersey Financial Services Commission. Registered Office; 12 Smithfield Street, London, EC1A 9BD. Registered in England and Wales - company number: 2135876. <br /> Vat number: <span class="mobile-disabled">GB 690 8994 69</span>. Brewin Dolphin Limited GIIN: 6J5L79.00000.LE.826.
              </p>
            </div>

          </div>

        </div>
      </section>
    </footer>
