<!--
src/js/main.js
src/sass/global/_overlay.scss
src/sass/global/_form.scss
<!--
requires the following in the <head> tag 

<script src="https://www.google.com/recaptcha/api.js"></script>

-->

    <!-- global CTA module START -->
    <section class="global-cta">
      <h4>Your next steps</h4>
      <div class="global-cta__wrapper">
        <div class="global-cta__inner">

          <article class="global-cta__block">
            <div class="global-cta__block__inner">
              <div class="global-cta__content">
                <div class="mh1">
                  <h3>Manage Your Wealth</h3>
                  <h4>Start a Conversation</h4>
                </div>
                <p class="mh2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                <a href="#[req]" class=" button req_trigger">FIND OUT MORE</a>
              </div>
            </div>
          </article>

          <article class="global-cta__block">
            <div class="global-cta__block__inner">
              <div class="global-cta__content">
                <div class="mh1">
                  <h3>Get Started in Minutes</h3>
                  <h4>Start Investing Online</h4>
                </div>
                <p class="mh2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                <a href="#[req]" class="button">FIND OUT MORE</a>
              </div>
            </div>
          </article>

          <article class="global-cta__block">
            <div class="global-cta__block__inner">
              <div class="global-cta__content">
                <div class="mh1">
                  <h3>Receive our Insights</h3>
                  <h4>Stay Updated</h4>
                </div>
                <p class="mh2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                <a href="#[news]" class="button news_trigger">FIND OUT MORE</a>
              </div>
            </div>
          </article>
          
        </div>
      </div>
    </section>
    <!-- global CTA module END -->

<!--
  Apply the following classes to the <body> tag to display the overlay on page load
  body class="raq_open"
  body class="news_open"
-->
<section class="overlay" id="req">
  <div class="outer">
    <a href="#[close]" class="closer"><span>CLOSE</span></a>
    <div class="contentSwitch start">
      <h2>Request a Callback</h2>
      <div class="inner">


        <section class="requestCallback">
          <div class="header">
            <h2>I am ready to start a conversation</h2>
            <p>Find out how we can help guide your wealth journey.</p>
          </div>

                <!-- Inner content -->
                <div class="content">

                  <!-- Sections -->
                    <!-- components/request-a-callback.html -->
                  <div class="requestCallbackForm">

                  <form id="callbackForm" class="genericForm" data-validate validate="false" novalidate>


                    <label class="label-required">* Required fields</label>
                    <div class="fieldGroup">
                        <div class="form__element__wrapper form__element__wrapper--inline form-group">
                            <input class="form__element" id="Firstname1" name="Firstname1" placeholder="Your Forename *" type="text" value="">
                            <div class="messages"></div>
                            
                        </div>
                        <div class="form__element__wrapper form__element__wrapper--inline form-group">
                            <input class="form__element" id="Lastname1" name="Lastname1" placeholder="Your Surname *" type="text" value="">
                            <div class="messages"></div>
                            
                        </div>
                    </div>
                    <div class="fieldGroup">
                        <div class="form__element__wrapper form__element__wrapper--inline form-group">
                            <input class="form__element" id="Email1" name="Email1" placeholder="Your Email Address *" type="text" value="">
                            <div class="messages"></div>
                            
                        </div>
                        <div class="form-group">
                            <input class="form__element" data-val="true" data-val-required="The Phone field is required." id="Phone1" name="Phone1" placeholder="Your Phone Number *" type="text" value="">
                            <div class="messages"></div>
                        </div>
                    </div>

    <div class="fieldGroup">
        <div class="form-group">
              <input class="form__eement" data-val="true" data-val-required="The PostalCode field is required." id="PostalCode1" name="PostalCode1" placeholder="Post Code *" type="text" value="">
            <p class="exp">We will match you to the Brewin Dolphin office that is closest to your Post Code for your initial&nbsp;conversation.</p>
            <div class="messages"></div>
            
        </div>

        <div class="form__element__wrapper form__element__wrapper--inline form-group">
          <select id="MeetingPreferredOffice" name="MeetingPreferredOffice">
            <option value="null">Preferred Office</option>
            <option value="Aberdeen">Aberdeen</option>
            <option value="Belfast">Belfast</option>
            <option value="Birmingham">Birmingham</option>
            <option value="Bournemouth">Bournemouth</option>
            <option value="Bristol">Bristol</option>
            <option value="Cambridge">Cambridge</option>
            <option value="Cardiff">Cardiff</option>
            <option value="Channel Islands">Channel Islands</option>
            <option value="Cheltenham">Cheltenham</option>
            <option value="Dublin">Dublin</option>
            <option value="Dundee">Dundee</option>
            <option value="Edinburgh">Edinburgh</option>
            <option value="Exeter">Exeter</option>
            <option value="Glasgow">Glasgow</option>
            <option value="Ipswich">Ipswich</option>
            <option value="Leeds">Leeds</option>
            <option value="Leicester">Leicester</option>
            <option value="Lincoln">Lincoln</option>
            <option value="London">London</option>
            <option value="Manchester">Manchester</option>
            <option value="Marlborough">Marlborough</option>
            <option value="Newcastle">Newcastle</option>
            <option value="Nottingham">Nottingham</option>
            <option value="Oxford">Oxford</option>
            <option value="Penrith">Penrith</option>
            <option value="Plymouth">Plymouth</option>
            <option value="Reigate">Reigate</option>
            <option value="Shrewsbury">Shrewsbury</option>
            <option value="Truro">Truro</option>
            <option value="Winchester">Winchester</option>
          </select>
          <p class="exp">Please select a Preferred Office. If you would prefer to chose a different office than the one closest to your Post&nbsp;Code.</p>
          <div class="messages"></div>
        </div>

    </div>

                    <div class="fieldGroup">

                            <div class="form__element__wrapper form__element__wrapper--inline form-group">
                                <select id="LevelOfWealth" name="LevelOfWealth"><option value="null">Level of wealth</option>
    <option value="disclose">I don’t want to disclose</option>
    <option value="10000">£10,000</option>
    <option value="150000">£150,000</option>
    <option value="500000">£500,000</option>
    <option value="1000000">£1,000,000+</option>
    </select>
                                <div class="messages"></div>
                            </div>
                    </div>

                    <fieldset class="fieldGroup clientYesNo">
                      <legend>Are you a Brewin Dolphin client?</legend>
                      <div class="limiter">
                        <div class="form-group">
                          <label>
                            <input type="radio" id="clientyes" name="client" value="client-yes">
                            Yes
                          </label>
                        </div>
                        <div class="form-group">
                          <label>
                            <input type="radio" id="clientno" name="client" value="client-no">
                            No
                          </label>
                        </div>
                        <div class="messages"></div>
                      </div>
                    </fieldset>

                    <div class="disclaimer">
                        <p><strong>We respect your privacy and take protecting it very&nbsp;seriously.</strong><br>
    We respect your privacy and take protecting it very seriously. We will only use your data in order to arrange a meeting to discuss your needs (as explained above) and as set out in our Privacy Notice. In keeping with our existing practice, we will never sell your personal data to any third parties. You can change your preferences for how we use your data at any time by contacting your usual contact at Brewin Dolphin by phone, post or email. Please allow 14 days from receipt of your information for any changes to be reflected across our systems.</p> 
    <p>We do not sell, rent or loan any identifiable information collected on this site. Any information that you give us will be treated with the utmost care and security. It will not be used in ways to which you have not consented.</p>
                    </div>
                      <!-- google captcha v2 robot checkbox -->
                      <div class="form-group google-group fg-fullwidth">
                          <div class="g-recaptcha" data-sitekey="6LdmF2sUAAAAAD3wSs1pxnHyd_-f6D1curNtDLQG" data-context="localdev"></div>
                          <!-- <div class="g-recaptcha" data-sitekey="6LdJJmsUAAAAALOTw0lJvSBIUI0twtnl-6ebIQ19" data-context="production.stackworks.co.uk"></div> -->
                          <!-- <div class="g-recaptcha" data-sitekey="" data-context="live"></div> -->

                          <div class="messages"></div>
                      </div>
                    <div class="submit_row">
                        <button type="submit" class="button">Submit</button>
                        <input type="hidden" id="marketoformid" value="1032">
                    </div>
    </form>
    </div>              
                  <!-- component END -->


            </div>
        </section>

      </div>
    </div>
    <div class="contentSwitch end">
      <h2>Request a Callback </h2>
      <div class="inner">
          <div class="header">
            <h2>Thank you for your interest</h2>
            <p>You will receive a confirmation email shortly.<br>If you do not receive the email, <br>please call us on <span>0203 201 3900</span>.</p>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="overlay" id="news">
  <div class="outer">
    <a href="#[close]" class="closer"><span>CLOSE</span></a>
    <div class="contentSwitch start">
      <h2>Newsletter Signup</h2>
      <div class="inner">

        <section class="requestCallback">
          <div class="header">
            <h2>Stay Updated</h2>
            <p>Signup and we will send you the latest news and views from Brewin, providing you with the inside track on the most pressing issues, via&nbsp;email.</p>
          </div>

                <!-- Inner content -->
                <div class="content">

                  <!-- Sections -->
                    <!-- components/request-a-callback.html -->
                  <div class="requestCallbackForm">

                  <form id="susbcribe" class="genericForm" data-validate validate="false" novalidate>


                    <label class="label-required">* Required fields</label>
                    <div class="fieldGroup">
                        <div class="form__element__wrapper form__element__wrapper--inline form-group">
                            <input class="form__element" id="Firstname2" name="Firstname2" placeholder="Your Forename *" type="text" value="">
                            <div class="messages"></div>
                            
                        </div>
                        <div class="form__element__wrapper form__element__wrapper--inline form-group">
                            <input class="form__element" id="Lastname2" name="Lastname2" placeholder="Your Surname *" type="text" value="">
                            <div class="messages"></div>
                            
                        </div>
                    </div>
                    <div class="fieldGroup">
                        <div class="form__element__wrapper form__element__wrapper--inline form-group">
                            <input class="form__element" id="Email2" name="Email2" placeholder="Your Email Address *" type="text" value="">
                            <div class="messages"></div>
                            
                        </div>
                        <div class="form-group">
                              <input class="form__eement" data-val="true" data-val-required="The PostalCode field is required." id="PostalCode2" name="PostalCode2" placeholder="Post Code *" type="text" value="">
                            <p class="exp">Capturing your post code will allow us to tailor some of our communication to include regional views and updates that may be of interest to you.</p>
                            <div class="messages"></div>
                            
                        </div>
                    </div>

                    <div class="fieldGroup">
                      <div class="form-group form-xcheck">
                        <label class="form-check-label" for="MarketingCommsOptIn">
                          <input class="form-check-input trigger" data-val="true" data-val-required="The MarketingCommsOptIn field is required." id="MarketingCommsOptIn" name="MarketingCommsOptIn" required="" type="checkbox" value="true" /><input name="MarketingCommsOptIn" type="hidden" value="false" />
                          <span class="fcouter"><span class="fcinner"></span></span>Tick to confirm you would like to receive email updates with news and views from Brewin Dolphin and information on our products and services.
                        </label>
                        <div id="chkmktgmessages" class="messages"></div>
                      </div>
                    </div>
                    

                    <div class="disclaimer">
                        <p><strong>We respect your privacy and take protecting it very&nbsp;seriously.</strong><br>We will only use your data in accordance with your preferences stated above. In keeping with our existing practice, we will never sell your personal data to any third parties. If, in the future, you would like to update any of your marketing communication preferences, you will receive an email that will provide a link to our Preference Centre.Brewin Dolphin will use the data you provide for the purpose of providing information about events, insights and services we&nbsp;offer.</p>
                    </div>
                      <!-- google captcha v2 robot checkbox -->
                      <div class="form-group google-group fg-fullwidth">
                          <div class="g-recaptcha" data-sitekey="6LdmF2sUAAAAAD3wSs1pxnHyd_-f6D1curNtDLQG" data-context="localdev"></div>
                          <!-- <div class="g-recaptcha" data-sitekey="6LdJJmsUAAAAALOTw0lJvSBIUI0twtnl-6ebIQ19" data-context="production.stackworks.co.uk"></div> -->
                          <!-- <div class="g-recaptcha" data-sitekey="" data-context="live"></div> -->

                          <div class="messages"></div>
                      </div>
                    <div class="submit_row">
                        <button type="submit" class="button">Submit</button>
                        <input type="hidden" id="marketoformid" value="1032">
                    </div>
    </form>
    </div>              
                  <!-- component END -->


            </div>
        </section>
      </div>
    </div>
    <div class="contentSwitch end">
      <h2>Newsletter Signup</h2>
      <div class="inner">
          <div class="header">
            <h2>Thank you for your interest</h2>
            <p>You will receive a confirmation email shortly.<br>If you do not receive the email, <br>please call us on <span>0203 201 3900</span>.</p>
          </div>
      </div>
    </div>
  </div>
</section>
