<!--
masthead
top bar, desktop navigation and mobile navigation
-->
    <header class="masthead">

    <section class="masthead__topbar">
      <div class="masthead__topbar__container"> <!-- Container -->
        <div class="masthead__topbar__inner"> <!-- Row -->
          <div class="masthead__logo"> <!-- Column -->
            <a href="../index.html">
              <img src="../assets/images/logos/logo.png" alt="Brewin Dolphin" />
            </a>
          </div>
          <div class="masthead__search__container"> <!-- Column -->
            <div class="masthead__links">
              <div class="masthead__link masthead__link--category">
                <span class="masthead-categories__title">For:</span>

                <ul class="masthead-categories">
                    <li class="masthead-category masthead-category--selected">
                        <a href="#">
                            <span id="channelselected">Individuals</span>
                            <ul class="masthead-categories-sub">
                                <li data-val="private-individuals" class="masthead-category mchnlval mchnlval mchnlval1">Individuals</li>
                                <li data-val="financial-advisors" class="masthead-category mchnlval mchnlval mchnlval2">Financial Advisers</li>
                                <li data-val="professional-services" class="masthead-category mchnlval mchnlval mchnlval3">Solicitors &amp; Accountants</li>
                                <li data-val="charities" class="masthead-category mchnlval mchnlval mchnlval4">Charities</li>
                            </ul>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <input type="hidden" id="mchnlval1" value="/individuals/">
                        <input type="hidden" id="mchnlval2" value="/financial-advisers/">
                        <input type="hidden" id="mchnlval3" value="/solicitors-and-accountants/">
                        <input type="hidden" id="mchnlval4" value="/charities/">
                        <input type="hidden" id="sitesectionval" value="private-individuals">
                    </li>
                </ul>                

              </div>
              <div class="masthead__link masthead__link--search">

                <input type="text" class="input__search--header" placeholder="Search"/>
                <!-- <i class="fa fa-search" aria-hidden="true"></i> -->

                <input type="submit" value="" class="fa fa-search" style="border-radius:0;border:0;background-color:transparent;">

              </div>
              <div class="masthead__link masthead__link--clients">
                <a href="../templates/client-login.html">Client area</a>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
              </div>
            </div>
          </div> <!-- // Column -->
        </div> <!-- // Row -->
      </div> <!-- // Container -->
    </section>

    <section class="masthead__navigation">
      <div class="masthead__navigation__container">
        <div class="masthead__navigation__inner">
          <div class="masthead__navigation__mobile">
            <div class="masthead__link masthead__link--search--mobile">
                <input type="text" class="input__search--header" placeholder="Search" >
                <input type="submit" value="" class="fa fa-search-submit" style="border-radius:0;border:0;background-color:transparent;float:right;">
            </div>
            <button class="btn-menu">
              <span class="bar"></span>
              <span class="text">Menu</span>
            </button>
          </div>
          <nav>
            <ul class="navigation__primary">
              <li class="has__secondary__menu">
                <a href="/templates/lp-private-individuals.html" class="link link--active">Individuals</a>
                <ul class="navigation__secondary">
                  <li class="has__tertiary__menu">
                    <a href="#">What's right for me</a>
                    <ul class="navigation__tertiary">
                      <li>
                        <a href="#">What It Offers and Associated Benefits / Costs</a>
                      </li>
                      <li>
                        <a href="#">Understanding Risk</a>
                      </li>
                      <li>
                        <a href="#">How we invest</a>
                      </li>
                      <li>
                        <a href="#">Our Fees &amp; Charges</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Wealth management</a>
                  </li>
                  <li class="has__tertiary__menu">
                    <a href="#">Wealth pilot</a>
                    <ul class="navigation__tertiary">
                      <li>
                        <a href="#">What It Offers and Associated Benefits / Costs</a>
                      </li>
                      <li>
                        <a href="#">Understanding Risk</a>
                      </li>
                      <li>
                        <a href="#">How we invest</a>
                      </li>
                      <li>
                        <a href="#">Our Fees &amp; Charges</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Brewin Pilot Service</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="link">Financial advisors</a>
              </li>
              <li>
                <a href="#" class="link">Professional services</a>
              </li>
              <li>
                <a href="#" class="link">Charities</a>
              </li>
              <li>
                <a href="#" class="link">About us</a>
              </li>
              <li>
                <a href="#" class="link">Insight</a>
              </li>
              <li>
                <a href="#" class="link">Our offices</a>
              </li>
              <li>
                <a href="#" class="link">Contact Us</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
  </header>
