    <section class="blocks-brewin blocks-brewin--full blocks-brewin--gray bps2_risk_profile">
      <div class="blocks-brewin__container">
        <div class="blocks-brewin__inner">
          <div class="block-brewin nogutter">
            <div class="block-brewin__content outer">
              <div class="block-brewin__content__text">
                <h2>Our fees explained</h2>

                <div class="bp2_expander1">
                  <a href="#" class="expanderButton">Read more<span></span></a>
                  <a href="#" class="collapseButton">Read less<span></span></a>
                  <div class="wrapper topPadd">

                    <div class="genericPadding ourfees">

<p>The tables below illustrate, in cash terms, exactly how much you will pay for Brewin Dolphin’s management of the Brewin portfolio service (BPS). As you can see, the charges rise depending on the portfolio balance. Any other charges that may apply, such as for withdrawals or account closures, can be seen in our <a href="/link/3e96938dac314806895f052818684d77.aspx">Frequently asked questions</a> section.</p>

<div class="dubcolcontainer">
  <div class="dubcolcolumn">
    <h3>Investment accounts &amp; ISAs</h3>
<table style="width: 100%;">
<tbody>
<tr style="background-color: #00aef0; color: #ffffff; font-size: 100%;">
<td style="padding-top: 20px; padding-bottom: 20px; vertical-align: middle; font-weight: bold;">Portfolio value</td>
<td style="padding-top: 20px; padding-bottom: 20px; vertical-align: middle;">Annual charge</td>
</tr>
<tr>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£5,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£70</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£10,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£70</td>
</tr>
<tr>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£20,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£140</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£30,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£210</td>
</tr>
<tr>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£40,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£280</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£50,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£350</td>
</tr>
<tr>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£75,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£525</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£100,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£700</td>
</tr>
<tr>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£125,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£875</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£150,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£1,050</td>
</tr>
</tbody>
</table>
  </div>
  <div class="dubcolcolumn">
    <h3>Junior ISAs</h3>
<table style="width: 100%;">
<tbody>
<tr style="background-color: #00aef0; color: #ffffff; font-size: 100%;">
<td style="padding-top: 20px; padding-bottom: 20px; vertical-align: middle; font-weight: bold;">Portfolio value</td>
<td style="padding-top: 20px; padding-bottom: 20px; vertical-align: middle;">Annual charge</td>
</tr>
<tr>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£100</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£40</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£1,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£40</td>
</tr>
<tr>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£2,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£40</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£3,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£40</td>
</tr>
<tr>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£4,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£40</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£5,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£40</td>
</tr>
<tr>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£6,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£42</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£7,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£49</td>
</tr>
<tr>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£8,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£56</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£9,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£63</td>
</tr>
<tr>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£10,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">£70</td>
</tr>
<tr style="background-color: #ebebed;">
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">Greater than £10,000</td>
<td style="padding-top: 10px; padding-bottom: 10px; color: #000000; font-size: 110%;">Same as General<br> Investment Account</td>
</tr>
</tbody>
</table>
  </div>
</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
