<!--
requires:
<script src="https://www.google.com/recaptcha/api.js"></script>
in <head></head>

#dfwrForm
/src/js/main.js
line 947:
  if (document.querySelectorAll('form#dfwrForm').length > 0) {
    var dwfrFormValidator = new BDFormValidate({
      "formSelector" : "form#dfwrForm",
      "constraints" : {
        "Firstname" : {
          "presence" : {message: "Please supply your forename"},
          "format" : {
            "pattern" : /^[a-zA-Z-]+\s*[a-zA-Z-]*$/,
            "message" : "Please supply your forename"
          }
        },
        "Lastname" : {
          "presence" : {message: "Please supply your surname"},
          "format" : {
            "pattern" : /^[a-zA-Z-]+\s*[a-zA-Z-]*$/,
            "message" : "Please supply your surname"
          }
        },
        "email" : {
          "presence" : {message: "Please supply an email address"},
          "email" : {message: "Please supply a valid email address"}
        },
        "locationsearch1" : {
          "postcode" : {message: "Please supply your postcode"}
        },
        "g-recaptcha-response": {
          "recaptchav2" : {message: "Please prove you are not a robot"}
        }
      },
      "xcheckboxes" : [
        {
          "name" : "MarketingCommsOptIn",
          "required" : true,
          "message" : "Please confirm you are willing to receive emails from Brewin Dolphin"
        }
      ],
      "validform" : function(form) {
        console.log('go');
        // form.submit();
      }
    });
    window.dwfrFormValidator = dwfrFormValidator;
  }


-->

<section class="form form--fwr-download form--gray">
        <div class="form__container">
            <div class="form__inner">
                <div class="form__body">
                  <h3>Download the Family Wealth Report</h3>
                  <p>Every successful financial plan starts with a conversation about you:&nbsp;<br>your commitments, your ambitions and your&nbsp;aspirations.</p>
                  <p>Our essential guides use research and expert analysis to help shape the conversations with your loved ones to make the right choices for you and your&nbsp;family.</p>

                  <form id="dfwrForm" data-validate validate="false" novalidate>

                            <label class="label-required">* Required</label>
                            <div class="fieldGroup">
                                <div class="form__element__wrapper form__element__wrapper--inline form-group">
                                    <input class="form__element" data-val="true" data-val-required="The Firstname field is required." id="Firstname" name="Firstname" placeholder="Your Forename *" type="text" value="">
                                    <div class="messages"></div>
                                    <span class="field-validation-valid messages" data-valmsg-for="Firstname" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form__element__wrapper form__element__wrapper--inline form-group">
                                    <input class="form__element" data-val="true" data-val-required="The Lastname field is required." id="Lastname" name="Lastname" placeholder="Your Surname *" type="text" value="">
                                    <div class="messages"></div>
                                    <span class="field-validation-valid messages" data-valmsg-for="Lastname" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="fieldGroup">
                                <div class="form__element__wrapper form__element__wrapper--inline form-group">
                                    <input class="form__element" data-val="true" data-val-required="The Email field is required." id="Email" name="Email" placeholder="Your Email Address *" type="text" value="">
                                    <div class="messages"></div>
                                    <span class="field-validation-valid messages" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form__element__wrapper form__element__wrapper--inline form-group">
                                    <label>
                                        <input class="form__element" data-val="true" data-val-required="The PostalCode field is required." id="PostalCode" name="PostalCode" placeholder="Post Code *" type="text" value="">
                                        <div class="messages"></div>
                                        <span class="field-validation-valid messages" data-valmsg-for="PostalCode" data-valmsg-replace="true"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="privacydeclaration">
                                <p>Brewin Dolphin will use the data you provide for the purpose of providing information about events, insights and services we&nbsp;offer.</p>
<p>We respect your privacy and take protecting it very seriously. We will only use your data in accordance with our&nbsp;<a href="/link/a2e47a37e92842048d86b9f8f9874f5e.aspx">Privacy&nbsp;notice</a>.<br>In keeping with our existing practice, we will never sell your personal data to any third&nbsp;parties.</p>                                
                            </div>                            
                            <div class="form-group form-xcheck">
                                <label class="form-check-label" for="MarketingCommsOptIn">
                                    <input class="form-check-input trigger" data-val="true" data-val-required="The MarketingCommsOptIn field is required." id="MarketingCommsOptIn" name="MarketingCommsOptIn" required="" type="checkbox" value="true"><input name="MarketingCommsOptIn" type="hidden" value="false">
                                    <span class="fcouter"><span class="fcinner"></span></span>I agree to receive email updates from Brewin Dolphin*                                    
                                </label>
                                <div id="chkmktgmessages" class="messages"></div>
                            </div>
                            <div class="privacydeclaration">
                                <p>If, in the future, you would like to update your marketing preferences or stop receiving communications from us, you can do this by visiting our&nbsp;<a href="https://info.brewin.co.uk/yourpreferences_privateclients_sml.html">Preference centre</a>&nbsp;at any&nbsp;time.</p>                                
                            </div>
                                <!-- google captcha v2 robot checkbox -->
                                <div class="form-group fg-fullwidth">
                                    <div class="g-recaptcha" data-sitekey="6LdmF2sUAAAAAD3wSs1pxnHyd_-f6D1curNtDLQG" data-context="localdev"  data-theme="light"></div>
                                    <!-- <div class="g-recaptcha" data-sitekey="6LdJJmsUAAAAALOTw0lJvSBIUI0twtnl-6ebIQ19" data-context="production.stackworks.co.uk"  data-theme="light"></div> -->
                                    <!-- <div class="g-recaptcha" data-sitekey="" data-context="live"  data-theme="light"></div> -->
                                    <div class="messages"></div>
                                </div>
                            <div class="form-group">
                                <button type="submit" onclick="dwfrFormValidator" class="button">Download</button>
                                <input type="hidden" id="marketoformid" value="1243">
                            </div>
</form>
</div>
            </div>
        </div>
    </section>
