<!--
request a callback form
subset of find-more

requires:
<script src="https://www.google.com/recaptcha/api.js"></script>
in <head></head>

#feedbackform
/src/js/main.js
line 1038
  if (document.querySelectorAll('form#feedbackform').length > 0) {
    var feedbackFormValidator = new BDFormValidate({
      "formSelector" : "form#feedbackform",
      "constraints" : {
        "contact-reason" : {
          "presence" : {message: "Please supply a reason"}
        },
        "about-forename" : {
          "presence" : {message: "Please supply your forename"},
          "format" : {
            "pattern" : /^[a-zA-Z-]+\s*[a-zA-Z-]*$/,
            "message" : "Please supply your forename"
          }
        },
        "about-surname" : {
          "presence" : {message: "Please supply your surname"},
          "format" : {
            "pattern" : /^[a-zA-Z-]+\s*[a-zA-Z-]*$/,
            "message" : "Please supply your surname"
          }
        },
        "contact-email" : {
          "presence" : {message: "Please supply an email address"},
          "email" : {message: "Please supply a valid email address"}
        },
        "g-recaptcha-response": {
          "recaptchav2" : {message: "Please prove you are not a robot"}
        }
      },
      "validform" : function(form) {
        console.log('go');
        // form.submit();
      }
    });
    window.feedbackFormValidator = feedbackFormValidator;
  }

-->
    <section class="form form--feedback form--gray">
      <div class="form__container">
        <div class="form__inner">

          <h3>Complaints</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
          </p>

          <!-- Expandable section -->
          <div class="form__body">

            <form data-validate validate="false" name="form-meeting" class="validate" onsubmit="return false" id="feedbackform" novalidate>
              <input name="__RequestVerificationToken" type="hidden" value="8oszwnuEjEUJz15zncQzWfMqOI0qY9WYTjwHwBWihWO3qOTckk8f7uvaXfBxbmebn0xG-OR245daKRihyNlJLaPF_k9V3FZGbJkvXfWeLwz9ZO2-dxqF8pQRGDZMYcklNFkIvlGFtLXyV5_kG5JIxg2" /> 

              <!-- Sections -->
              <h3>Please tell us what type of feedback you're giving</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
              </p>

              <label class="label-required">* Required</label>

              <fieldset class="form__section form__section--about">
                <div class="form__element__wrapper form__element__wrapper--block form-group">
                  <div>
                  <select class="form__element" name="contact-reason">
                    <option>Option one</option>
                    <option>Option two</option>
                    <option>Option three</option>
                    <option>Option four</option>
                  </select>
                  </div>
                  <div class="messages"></div>
                </div>

              </fieldset>

              <h3>Your details</h3>

              <fieldset class="form__section form__section--contact">

                <div class="fieldGroup">
                  <div class="form__element__wrapper form__element__wrapper--inline form-group">
                    <input type="text" class="form__element" name="about-forename" placeholder="Your Forename *" minlength="4" maxlength="30" required />
                    <div class="messages"></div>
                  </div>
                  <div class="form__element__wrapper form__element__wrapper--inline form-group">
                    <input type="text" class="form__element" name="about-surname" placeholder="Your Surname *" minlength="4" maxlength="30" required />
                    <div class="messages"></div>
                  </div>
                </div>

                <div class="form__element__wrapper form__element__wrapper--inline form-group">
                  <input type="email" class="form__element" name="contact-email" placeholder="Your Email Address *" required />
                  <div class="messages"></div>
                </div>

                <div class="form__element__wrapper form__element__wrapper--block form-group">
                  <div>
                    <textarea class="form__element" name="contact-feedback" id="contact-feedback" placeholder="Your Comments" required></textarea>
                  </div>
                </div>

              </fieldset>

              <div class="privacydeclaration">
                <p>Brewin Dolphin will use the data that it holds about you for the purposes of responding to your feedback or dealing with your&nbsp;enquiry.</p>
                <p>We respect your privacy and take protecting it very seriously. We will only use your data in accordance with your preferences stated above. In keeping with our <a href="/privacy-notice/" target="_blank">privacy notice</a>, we will never sell your personal data to any third&nbsp;parties.</p>
              </div>

              <!-- google captcha v2 robot checkbox -->
              <div class="form-group fg-fullwidth">
                  <div class="g-recaptcha" data-sitekey="6LdmF2sUAAAAAD3wSs1pxnHyd_-f6D1curNtDLQG" data-context="localdev"></div>
                  <!-- <div class="g-recaptcha" data-sitekey="6LdJJmsUAAAAALOTw0lJvSBIUI0twtnl-6ebIQ19" data-context="production.stackworks.co.uk"></div> -->
                  <!-- <div class="g-recaptcha" data-sitekey="" data-context="live"></div> -->
                <div class="messages"></div>
              </div>

              <fieldset class="form__section form__section--submit">
                <button type="submit" class="button">Send feedback</button>
              </fieldset>

            </form>

          </div>

          <div class="form__submitted">
            <h3>Thank you for your request</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
            </p>
          </div>

        </div>
      </div>
    </section>
