<!--
find out more
-->
    <section class="find-more">
      <div class="find-more__header">
        <h2>I'm ready to find out more</h2>
        <p>
          Use our personal assistant tool to quickly access the services that are right for you.
        </p>
        <div class="find-more__header__button">
          <a class="button">Expand</a>
        </div>
      </div>

        <!-- Expandable section -->
        <div class="find-more__expanded">

          <!-- Close button -->
          <div class="find-more__close">
            <span>Close</span>
            <a href="#" class="find-more__close__button">X</a>
          </div>

          <!-- Row -->
          <div class="find-more__inner">

            <!-- Inner content -->
            <div class="find-more__content">

              <!-- Sections -->
              <div class="find-more__section find-more__services">
                <h3>Want to find out more information about our services?</h3>

                <div class="service-bubble__container">
                  <article class="service-bubble">
                    <div class="service-bubble__inner">
                      <h4>Empower</h4>
                      <p>
                        Give your grandchildren a head start with our Junior ISA.
                      </p>
                      <a href="#" class="link--bold--underline">Download</a>
                    </div>
                  </article>
                </div>

                <div class="service-bubble__container">
                  <article class="service-bubble">
                    <div class="service-bubble__inner">
                      <h4>Empower</h4>
                      <p>
                        Give your grandchildren a head start with our Junior ISA.
                      </p>
                      <a href="#" class="link--bold--underline">Download</a>
                    </div>
                  </article>
                </div>

                <div class="service-bubble__container">
                  <article class="service-bubble">
                    <div class="service-bubble__inner">
                      <h4>Empower</h4>
                      <p>
                        Give your grandchildren a head start with our Junior ISA.
                      </p>
                      <a href="#" class="link--bold--underline">Download</a>
                    </div>
                  </article>
                </div>

              </div>

          <div class="find-more__section find-more__callback">
            <h3>Request a callback</h3>
            <label class="label-required">* Required</label>
            <form id="callbackForm" data-validate validate="false" novalidate>
              <div class="fieldGroup">
                <div class="form__element__wrapper form__element__wrapper--inline form-group">
                  <input type="text" class="form__element" name="forename" placeholder="Your Forename *" minlength="4" maxlength="30" required />
                  <div class="messages"></div>
                </div>
                <div class="form__element__wrapper form__element__wrapper--inline form-group">
                  <input type="text" class="form__element" name="surname" placeholder="Your Surname *" minlength="4" maxlength="30" required />
                  <div class="messages"></div>
                </div>
              </div>

              <div class="fieldGroup">
                <div class="form__element__wrapper form__element__wrapper--inline form-group">
                  <input type="email" class="form__element" name="email" placeholder="Your Email Address *" required />
                  <div class="messages"></div>
                </div>
                <div class="form-group">
                  <label>
                    <input type="text" name="number" placeholder="Phone Number *" pattern="^\s*\(?(020[7,8]{1}\)?[ ]?[1-9]{1}[0-9{2}[ ]?[0-9]{4})|(0[1-8]{1}[0-9]{3}\)?[ ]?[1-9]{1}[0-9]{2}[ ]?[0-9]{3})\s*$" required/>
                  </label>
                  <div class="messages"></div>
                </div>
              </div>
                <div class="form-group">
                  <label>
                    <input type="text" name="locationsearch1" placeholder="Enter a town or postcode *" minlength="3" maxlength="30" required />
                  </label>
                  <div class="messages"></div>
                </div>
              <div class="form-group">
                <button type="submit" class="button">Submit</button>
              </div>
            </form>
          </div>

          <div class="find-more__section find-more__offices">
            <h3>Find my nearest brewin dolphin office</h3>
            <label class="label-required">* Required</label>
            <div class="find-more__offices__content">
              <p>
                UK offices
              </p>
              <form data-validate validate="false" id="locationSearch2Form" novalidate data-target="office-finder.html">

                <div class="form-group">
                  <label>
                    <input type="text" name="locationsearch2" placeholder="Enter a town or postcode *" minlength="3" maxlength="30" required />
                  </label>
                  <div class="messages"></div>
                </div>

                <button type="submit" class="button">Go</button> or
                <a href="#" class="button">Use your location</a>
              </form>
            </div>
            <div class="find-more__offices__content">
              <p>
                Other countries
              </p>
              <a href="#" class="link--bold--underline">Brewin Dolphin (Channel Islands)</a>
              <a href="#" class="link--bold--underline">Tilman Brewin Dolphin (Ireland)</a>
            </div>
          </div>

              <div class="find-more__section find-more__meeting">
                <h3>Ready to have a meeting?</h3>
                <p>
                  Just click on the 'Request a meeting' button, to set one up.
                </p>
                <a href="#" class="button">Request a meeting</a>
              </div>
            </div>

          </div>
        </div>
    </section>
