<!--
find my nearest office

#locationSearch2Form
/src/js/main.js

line 908:
  // find-more-expandable office finder
  // <form data-validate validate="false" id="locationSearch2Form" data-target="../templates/office-finder.html" novalidate>
  /*
  ** REDIRECTS to office finder page
  */
  if (document.querySelectorAll('form#locationSearch2Form').length > 0) {
    var officeFinderFormValidator = new BDFormValidate({
      "formSelector" : "form#locationSearch2Form",
      "constraints" : {
        "locationsearch2": {
          "presence" : {message: "Please enter a location"}
        }
      },
      "validform" : function(form) {
        console.log('go');

        var redirect;
        // form.submit();
        if ( form.dataset ) {
          console.log( form.dataset.target );
          redirect = form.dataset.target;
        } else {
          console.log( form.getAttribute('data-target') );
          redirect = form.dataset.target;
        }
        window.location.href = redirect;
      }

    });
    window.officeFinderFormValidator = officeFinderFormValidator;
  }

-->
          <div class="find-more__section find-more__offices">
            <h3>Find my nearest brewin dolphin office</h3>
            <label class="label-required">* Required</label>
            <div class="find-more__offices__content">
              <p>UK offices</p>
              <form data-validate validate="false" id="locationSearch2Form" novalidate data-target="office-finder.html">
                <div class="form-group">
                  <label>
                    <input type="text" name="locationsearch2" placeholder="Enter a town or postcode *" minlength="3" maxlength="30" required />
                  </label>
                  <div class="messages"></div>
                </div>
                <button type="submit" class="button">Go</button> or
                <a href="#" class="button">Use your location</a>
              </form>
            </div>
            <div class="find-more__offices__content">
              <p>Other countries</p>
              <a href="#" class="link--bold--underline">Brewin Dolphin (Channel Islands)</a>
              <a href="#" class="link--bold--underline">Tilman Brewin Dolphin (Ireland)</a>
            </div>
          </div>
