<!--
keep me updated
requires:
<script src="https://www.google.com/recaptcha/api.js"></script>
in <head></head>

#bps2FormV2
/src/js/main.js
line 991:
  if (document.querySelectorAll('form#bps2FormV2').length > 0) {
    console.log('keep me updated');
    var callbackFormValidator = new BDFormValidate({
      "formSelector" : "form#bps2FormV2",
      "constraints" : {
        "Firstname" : {
          "presence" : {message: "Please supply your forename"},
          "format" : {
            "pattern" : /^[a-zA-Z-]+\s*[a-zA-Z-]*$/,
            "message" : "Please supply your forename"
          }
        },
        "Lastname" : {
          "presence" : {message: "Please supply your surname"},
          "format" : {
            "pattern" : /^[a-zA-Z-]+\s*[a-zA-Z-]*$/,
            "message" : "Please supply your surname"
          }
        },
        "Email" : {
          "presence" : {message: "Please supply an email address"},
          "email" : {message: "Please supply a valid email address"}
        },
        "PostalCode" : {
          "postcode" : {message: "Please supply your postcode"}
        },
        "g-recaptcha-response": {
          "recaptchav2" : {message: "Please prove you are not a robot"}
        }
      },
      "xcheckboxes" : [
        {
          "name" : "MarketingCommsOptIn",
          "required" : true,
          "message" : "Please opt-in to receive emails from Brewin."
        }
      ],
      "validform" : function(form) {
        console.log('go');
        // form.submit();
      }
    });
    window.callbackFormValidator = callbackFormValidator;
  }

-->
<section class="find-more find-more--gray bps2_keep_me_updated">
  <div class="find-more__header">
    <h2>Stay updated</h2>
    <p><span>Receive email updates with news and views from Brewin Dolphin and information on our products and services.</span></p>
  </div>
  <div class="find-more__inner">
    <div class="form__body">

      <form id="bps2FormV2" data-validate validate="false" novalidate>

        <label class="label-required">* Required</label>

        <div class="fieldGroup">
          <div class="form__element__wrapper form__element__wrapper--inline form-group">
            <input class="form__element" data-val="true" data-val-required="The Firstname field is required." id="Firstname" name="Firstname" placeholder="Your Forename *" type="text" value="" />
            <div class="messages"></div>
          </div>
          <div class="form__element__wrapper form__element__wrapper--inline form-group">
            <input class="form__element" data-val="true" data-val-required="The Lastname field is required." id="Lastname" name="Lastname" placeholder="Your Surname *" type="text" value="" />
            <div class="messages"></div>
          </div>
        </div>

        <div class="fieldGroup">
          <div class="form__element__wrapper form__element__wrapper--inline form-group">
            <input class="form__element" data-val="true" data-val-required="The Email field is required." id="Email" name="Email" placeholder="Your Email Address *" type="text" value="" />
            <div class="messages"></div>
          </div>
          <div class="form__element__wrapper form__element__wrapper--inline form-group">
            <input class="form__element" data-val="true" data-val-required="The PostalCode field is required." id="PostalCode" name="PostalCode" placeholder="Post Code *" type="text" value="" />
            <div class="messages"></div>
          </div>
        </div>

        <div class="form-group form-xcheck">
          <label class="form-check-label" for="MarketingCommsOptIn">
            <input class="form-check-input trigger" data-val="true" data-val-required="The MarketingCommsOptIn field is required." id="MarketingCommsOptIn" name="MarketingCommsOptIn" required="" type="checkbox" value="true" /><input name="MarketingCommsOptIn" type="hidden" value="false" />
            <span class="fcouter"><span class="fcinner"></span></span>Tick to confirm you would like to receive email updates with news and views from Brewin Dolphin and information on our products and services.
          </label>
          <div id="chkmktgmessages" class="messages"></div>
        </div>

        <div class="privacydeclaration">
          <p>Brewin Dolphin will use the data that it holds about you for the purposes of providing information about products and services we offer and marketing communications.</p>
          <p>We respect your privacy and take protecting it very seriously. We will only use your data in accordance with your preferences stated above. In keeping with our existing practice, we will never sell your personal data to any third parties.</p>
          <p>If, in the future, you would like to update any of your marketing communication preferences, you will receive an email that will provide a link to our Preference Centre.</p>
        </div>

          <div class="privacydeclaration">
          <p>Brewin Dolphin will use the data you provide for the purpose of providing information about events, insights and services we&nbsp;offer.</p>
          <p>We respect your privacy and take protecting it very seriously. We will only use your data in accordance with our&nbsp;<a href="https://www.brewin.co.uk/link/a2e47a37e92842048d86b9f8f9874f5e.aspx">Privacy&nbsp;notice</a>.<br />In keeping with our existing practice, we will never sell your personal data to any third&nbsp;parties.</p>
        </div>
        <!-- google captcha v2 robot checkbox -->
        <div class="form-group fg-fullwidth">
          <div class="g-recaptcha" data-sitekey="6LdmF2sUAAAAAD3wSs1pxnHyd_-f6D1curNtDLQG" data-context="localdev"  data-theme="light"></div>
          <!-- <div class="g-recaptcha" data-sitekey="6LdJJmsUAAAAALOTw0lJvSBIUI0twtnl-6ebIQ19" data-context="production.stackworks.co.uk"  data-theme="light"></div> -->
          <!-- <div class="g-recaptcha" data-sitekey="" data-context="live"  data-theme="light"></div> -->
          <div class="messages"></div>
        </div>
        <div class="form-group">
          <button type="submit" onclick="dwfrFormValidator" class="button">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>       
</section>
