<!--
request a callback form
subset of find-more

#callbackForm
/src/js/main.js

line 863:
  if (document.querySelectorAll('form#callbackForm').length > 0) {
    // find-more-expandable callback form
    console.log('request a callback');
    var callbackFormValidator = new BDFormValidate({
      "formSelector" : "form#callbackForm",
      "constraints" : {
        "Firstname" : {
          "presence" : {message: "Please supply your forename"},
          "format" : {
            "pattern" : /^[a-zA-Z-]+\s*[a-zA-Z-]*$/,
            "message" : "Please supply your forename"
          }
        },
        "Lastname" : {
          "presence" : {message: "Please supply your surname"},
          "format" : {
            "pattern" : /^[a-zA-Z-]+\s*[a-zA-Z-]*$/,
            "message" : "Please supply your surname"
          }
        },
        "Email" : {
          "presence" : {message: "Please supply an email address"},
          "email" : {message: "Please supply a valid email address"}
        },
        "Phone" : {
          "presence" : {message: "Please supply a contact number"}
        },
        "PostalCode": {
          "presence" : {message: "Please enter a location"}
        },
        "MeetingReason": {
          "presence" : {message: "Please specify a reason for a callback"}
        },
        "g-recaptcha-response": {
          "recaptchav2" : {message: "Please prove you are human"}
        }
      },
      "validform" : function(form) {
        console.log('go');
        // form.submit();
      }
    });
    window.callbackFormValidator = callbackFormValidator;

  }

-->

    <div class="find-more__section find-more__callback">
                    <h3>REQUEST A CALLBACK</h3>

              <form id="callbackForm" data-validate validate="false" novalidate>


                <label class="label-required">* Required</label>
                <div class="fieldGroup">
                    <div class="form__element__wrapper form__element__wrapper--inline form-group">
                        <input class="form__element"id="Firstname" name="Firstname" placeholder="Your Forename *" type="text" value="">
                        <div class="messages"></div>
                        
                    </div>
                    <div class="form__element__wrapper form__element__wrapper--inline form-group">
                        <input class="form__element"id="Lastname" name="Lastname" placeholder="Your Surname *" type="text" value="">
                        <div class="messages"></div>
                        
                    </div>
                </div>
                <div class="fieldGroup">
                    <div class="form__element__wrapper form__element__wrapper--inline form-group">
                        <input class="form__element" id="Email" name="Email" placeholder="Your Email Address *" type="text" value="">
                        <div class="messages"></div>
                        
                    </div>
                    <div class="form-group">
                        <label>
                            <input class="form__element" data-val="true" data-val-required="The Phone field is required." id="Phone" name="Phone" placeholder="Your Phone Number *" type="text" value="">
                            <div class="messages"></div>
                            
                        </label>
                        <div class="messages"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        <input class="form__eement" data-val="true" data-val-required="The PostalCode field is required." id="PostalCode" name="PostalCode" placeholder="Post Code *" type="text" value="">
                    </label>
                    <div class="messages"></div>
                    
                </div>
                <div class="form-group fg-fullwidth">
                    <label>
                        <textarea class="form__element" cols="20" data-val="true" data-val-required="The MeetingReason field is required." id="MeetingReason" name="MeetingReason" placeholder="Reason for requesting a callback *" rows="2"></textarea>
                        
                    </label>
                    <div class="messages"></div>
                    
                </div>
                <div class="fieldGroup">
                    <div class="form__element__wrapper form__element__wrapper--inline form-group">
                        <select id="MeetingPreferredDay" name="MeetingPreferredDay"><option value="null">Preferred Day</option>
<option value="Monday">Monday</option>
<option value="Tuesday">Tuesday</option>
<option value="Wednesday">Wednesday</option>
<option value="Thursday">Thursday</option>
<option value="Friday">Friday</option>
<option value="Saturday">Saturday</option>
</select>
                        <div class="messages"></div>
                    </div>
                    <div class="form__element__wrapper form__element__wrapper--inline form-group">
                        <select id="MeetingPreferredTime" name="MeetingPreferredTime"><option value="null">Preferred Time</option>
<option value="Morning">Morning</option>
<option value="Afternoon">Afternoon</option>
<option value="Evening">Evening</option>
</select>
                        <div class="messages"></div>
                    </div>
                </div>
                <div class="fieldGroup">
                        <div class="form__element__wrapper form__element__wrapper--inline form-group">
                            <select id="MeetingPreferredOffice" name="MeetingPreferredOffice"><option value="null">Preferred Office</option>
<option value="Aberdeen">Aberdeen</option>
<option value="Belfast">Belfast</option>
<option value="Birmingham">Birmingham</option>
<option value="Bournemouth">Bournemouth</option>
<option value="Bristol">Bristol</option>
<option value="Cambridge">Cambridge</option>
<option value="Cardiff">Cardiff</option>
<option value="Channel Islands">Channel Islands</option>
<option value="Cheltenham">Cheltenham</option>
<option value="Dublin">Dublin</option>
<option value="Dundee">Dundee</option>
<option value="Edinburgh">Edinburgh</option>
<option value="Exeter">Exeter</option>
<option value="Glasgow">Glasgow</option>
<option value="Ipswich">Ipswich</option>
<option value="Leeds">Leeds</option>
<option value="Leicester">Leicester</option>
<option value="Lincoln">Lincoln</option>
<option value="London">London</option>
<option value="Manchester">Manchester</option>
<option value="Marlborough">Marlborough</option>
<option value="Newcastle">Newcastle</option>
<option value="Nottingham">Nottingham</option>
<option value="Oxford">Oxford</option>
<option value="Penrith">Penrith</option>
<option value="Plymouth">Plymouth</option>
<option value="Reigate">Reigate</option>
<option value="Shrewsbury">Shrewsbury</option>
<option value="Truro">Truro</option>
<option value="Winchester">Winchester</option>
</select>
                            <div class="messages"></div>
                        </div>
                                            <div class="form__element__wrapper form__element__wrapper--inline form-group">
                            <select id="LevelOfWealth" name="LevelOfWealth"><option value="null">Level of wealth</option>
<option value="disclose">I don’t want to disclose</option>
<option value="10000">£10,000</option>
<option value="150000">£150,000</option>
<option value="500000">£500,000</option>
<option value="1000000">£1,000,000+</option>
</select>
                            <div class="messages"></div>
                        </div>
                </div>
                    <!-- google captcha v2 robot checkbox -->
                    <div class="form-group fg-fullwidth">
                        <div class="g-recaptcha" data-sitekey="6LdmF2sUAAAAAD3wSs1pxnHyd_-f6D1curNtDLQG" data-context="localdev"></div>
                        <!-- <div class="g-recaptcha" data-sitekey="6LdJJmsUAAAAALOTw0lJvSBIUI0twtnl-6ebIQ19" data-context="production.stackworks.co.uk"></div> -->
                        <!-- <div class="g-recaptcha" data-sitekey="" data-context="live"></div> -->

                        <div class="messages"></div>
                    </div>
                <div class="disclaimer">
                    <p>We respect your privacy and take protecting it very seriously. We will only use your data in order to arrange a meeting to discuss your needs (as explained above) and as set out in our&nbsp;<a title="Privacy Notice" href="/link/a2e47a37e92842048d86b9f8f9874f5e.aspx" target="_blank">Privacy Notice</a>. In keeping with our existing practice, we will never sell your personal data to any third parties. You can change your preferences for how we use your data at any time by contacting your usual contact at Brewin Dolphin by phone, post or email. Please allow 14 days from receipt of your information for any changes to be reflected across our systems.&nbsp;<br>We do not sell, rent or loan any identifiable information collected on this site. Any information that you give us will be treated with the utmost care and security. It will not be used in ways to which you have not consented.</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="button">Submit</button>
                    <input type="hidden" id="marketoformid" value="1032">
                </div>
</form>
</div>              

<!--
<section class="find-more find-more--gray">
    <div class="find-more__expanded find-more__expanded--visible">
        <div class="find-more__inner">
            <div class="find-more__content">
                <div class="block requestcallbackblock  ">
                    <div id="divreqcallback">

                        <div class="find-more__section find-more__callback">...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
