<section class="overlay" id="news">
  <div class="outer">
    <a href="#[close]" class="closer"><span>CLOSE</span></a>
    <div class="contentSwitch start">
      <h2>Newsletter Signup</h2>
      <div class="inner">

        <section class="requestCallback">
          <div class="header">
            <h2>Stay Updated</h2>
            <p>Signup and we will send you the latest news and views from Brewin, providing you with the inside track on the most pressing issues, via&nbsp;email.</p>
          </div>

                <!-- Inner content -->
                <div class="content">

                  <!-- Sections -->
                    <!-- components/request-a-callback.html -->
                  <div class="requestCallbackForm">

                  <form id="susbcribe" class="genericForm" data-validate validate="false" novalidate>


                    <label class="label-required">* Required fields</label>
                    <div class="fieldGroup">
                        <div class="form__element__wrapper form__element__wrapper--inline form-group">
                            <input class="form__element" id="Firstname2" name="Firstname2" placeholder="Your Forename *" type="text" value="">
                            <div class="messages"></div>
                            
                        </div>
                        <div class="form__element__wrapper form__element__wrapper--inline form-group">
                            <input class="form__element" id="Lastname2" name="Lastname2" placeholder="Your Surname *" type="text" value="">
                            <div class="messages"></div>
                            
                        </div>
                    </div>
                    <div class="fieldGroup">
                        <div class="form__element__wrapper form__element__wrapper--inline form-group">
                            <input class="form__element" id="Email2" name="Email2" placeholder="Your Email Address *" type="text" value="">
                            <div class="messages"></div>
                            
                        </div>
                        <div class="form-group">
                              <input class="form__eement" data-val="true" data-val-required="The PostalCode field is required." id="PostalCode2" name="PostalCode2" placeholder="Post Code *" type="text" value="">
                            <p class="exp">Capturing your post code will allow us to tailor some of our communication to include regional views and updates that may be of interest to you.</p>
                            <div class="messages"></div>
                            
                        </div>
                    </div>

                    <div class="fieldGroup">
                      <div class="form-group form-xcheck">
                        <label class="form-check-label" for="MarketingCommsOptIn">
                          <input class="form-check-input trigger" data-val="true" data-val-required="The MarketingCommsOptIn field is required." id="MarketingCommsOptIn" name="MarketingCommsOptIn" required="" type="checkbox" value="true" /><input name="MarketingCommsOptIn" type="hidden" value="false" />
                          <span class="fcouter"><span class="fcinner"></span></span>Tick to confirm you would like to receive email communications from Brewin Dolphin.*</label>
                        <div id="chkmktgmessages" class="messages"></div>
                      </div>
                    </div>
                    

                    <div class="disclaimer">
                        <p><strong>We respect your privacy and take protecting it very&nbsp;seriously.</strong><br>We will only use your data in accordance with your preferences stated above. In keeping with our existing practice, we will never sell your personal data to any third parties. If, in the future, you would like to update any of your marketing communication preferences, you will receive an email that will provide a link to our Preference Centre. Brewin Dolphin will use the data you provide for the purpose of providing information about events, insights and services we&nbsp;offer.</p>
                    </div>
                      <!-- google captcha v2 robot checkbox -->
                      <div class="form-group google-group fg-fullwidth">
                          <div class="g-recaptcha" data-sitekey="6LdmF2sUAAAAAD3wSs1pxnHyd_-f6D1curNtDLQG" data-context="localdev"></div>
                          <!-- <div class="g-recaptcha" data-sitekey="6LdJJmsUAAAAALOTw0lJvSBIUI0twtnl-6ebIQ19" data-context="production.stackworks.co.uk"></div> -->
                          <!-- <div class="g-recaptcha" data-sitekey="" data-context="live"></div> -->

                          <div class="messages"></div>
                      </div>
                    <div class="submit_row">
                        <button type="submit" class="button">Submit</button>
                        <input type="hidden" id="marketoformid" value="1032">
                    </div>
    </form>
    </div>              
                  <!-- component END -->


            </div>
        </section>
      </div>
    </div>
    <div class="contentSwitch end">
      <h2>Newsletter Signup</h2>
      <div class="inner">
          <div class="header">
            <h2>Thank you for your interest</h2>
            <p>You will receive a confirmation email shortly.<br>If you do not receive the email, <br>please call us on <span>0203 201 3900</span>.</p>
          </div>
      </div>
    </div>
  </div>
</section>
